
# Final Project
# Big Data - Fall 2021

## By ma5416, sp6322 & lk2849

### NYPD Complaint Data Historic Public Safety
### This dataset includes all valid felony, misdemeanor, and violation crimes reported to the New York City Police Department (NYPD)
### https://data.cityofnewyork.us/Public-Safety/NYPD-Complaint-Data-Historic/qgea-i56i

#### Import dependencies:

In [1]:
import sys #access to system parameters https://docs.python.org/3/library/sys.html
print("Python version: {}". format(sys.version))

import pandas as pd #collection of functions for data processing and analysis modeled after R dataframes with SQL like features
print("pandas version: {}". format(pd.__version__))

import matplotlib #collection of functions for scientific and publication-ready visualization
import matplotlib as plt
print("matplotlib version: {}". format(matplotlib.__version__))

import numpy as np #foundational package for scientific computing
print("NumPy version: {}". format(np.__version__))

import scipy as sp #collection of functions for scientific computing and advance mathematics
print("SciPy version: {}". format(sp.__version__)) 

import IPython
from IPython import display #pretty printing of dataframes in Jupyter notebook
print("IPython version: {}". format(IPython.__version__)) 

import sklearn #collection of machine learning algorithms
print("scikit-learn version: {}". format(sklearn.__version__))

#misc libraries
import random
import time
#ignore warnings
import warnings
warnings.filterwarnings('ignore')
print('-'*25)
import re
import os
import matplotlib.pyplot as plt
%matplotlib inline

Python version: 3.8.8 (default, Apr 13 2021, 12:59:45)
[Clang 10.0.0 ]
pandas version: 1.2.4
matplotlib version: 3.3.4
NumPy version: 1.20.1
SciPy version: 1.6.2
IPython version: 7.22.0
scikit-learn version: 0.24.1
-------------------------

#### Download data file if it has not been downloaded already:

In [2]:
#url = 'https://data.cityofnewyork.us/api/views/qgea-i56i/rows.csv?accessType=DOWNLOAD'
fn_src = 'https://data.cityofnewyork.us/api/views/qgea-i56i/rows.csv?accessType=DOWNLOAD'
fn_dst = 'NYPD_Complaint_Data_Historic.csv'

from six.moves import urllib

if os.path.isfile(fn_dst):
    print('File %s has already been downloaded' % fn_dst)
else:
    print('Fetching file %s[2.4GB]. This may take a while...' % fn_dst)
    urllib.request.urlretrieve(fn_src, fn_dst)
    print('File %s has been downloaded' % fn_dst)

File NYPD_Complaint_Data_Historic.csv has already been downloaded

#### Open a stream to the data file so we don't have to load the whole data set into main memory

In [3]:
from openclean.pipeline import stream
ds_full = stream(fn_dst)

In [4]:
print(f'The dataset contains {ds_full.count():,} rows.')

The dataset contains 7,375,993 rows.

In [5]:
ds_full.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,394506329,12/31/2019,17:30:00,,,32,12/31/2019,118,DANGEROUS WEAPONS,793,...,,,40.82092679700002,-73.94332421899996,"(40.82092679700002, -73.94332421899996)",PATROL BORO MAN NORTH,,UNKNOWN,UNKNOWN,E
1,968873685,12/29/2019,16:31:00,12/29/2019,16:54:00,47,12/29/2019,113,FORGERY,729,...,,,40.885701406000074,-73.86164032499995,"(40.885701406000074, -73.86164032499995)",PATROL BORO BRONX,,UNKNOWN,UNKNOWN,E
2,509837549,12/15/2019,18:45:00,,,109,12/29/2019,578,HARRASSMENT 2,638,...,M,,40.74228115600005,-73.81982408,"(40.74228115600005, -73.81982408)",PATROL BORO QUEENS NORTH,,25-44,WHITE HISPANIC,F
3,352454313,12/28/2019,01:00:00,,,47,12/28/2019,126,MISCELLANEOUS PENAL LAW,117,...,M,,40.87531145100007,-73.84754521099995,"(40.87531145100007, -73.84754521099995)",PATROL BORO BRONX,,UNKNOWN,UNKNOWN,E
4,248803469,09/05/2008,21:41:00,,,,09/05/2008,101,MURDER & NON-NEGL. MANSLAUGHTER,,...,,,40.698827283,-73.938819047,"(40.698827283, -73.938819047)",,,25-44,BLACK,M
5,293718737,12/27/2019,22:00:00,,,9,12/27/2019,107,BURGLARY,223,...,,,40.72075882100006,-73.98046642299995,"(40.72075882100006, -73.98046642299995)",PATROL BORO MAN SOUTH,,UNKNOWN,UNKNOWN,M
6,552685226,12/27/2019,20:10:00,12/27/2019,20:15:00,79,12/27/2019,117,DANGEROUS DRUGS,521,...,,,40.695958362000056,-73.93763162199998,"(40.695958362000056, -73.93763162199998)",PATROL BORO BKLYN NORTH,,UNKNOWN,UNKNOWN,E
7,134037758,12/26/2019,20:00:00,12/27/2019,07:15:00,101,12/27/2019,341,PETIT LARCENY,321,...,,,40.61157006600007,-73.74736517199995,"(40.61157006600007, -73.74736517199995)",PATROL BORO QUEENS SOUTH,,25-44,WHITE HISPANIC,F
8,855385879,12/26/2019,19:57:00,,,44,12/26/2019,361,OFF. AGNST PUB ORD SENSBLTY &,639,...,F,,40.84023413800003,-73.91768411399994,"(40.84023413800003, -73.91768411399994)",PATROL BORO BRONX,,18-24,BLACK,F
9,241602326,12/25/2019,23:00:00,12/26/2019,14:25:00,20,12/26/2019,341,PETIT LARCENY,321,...,,,40.77287456000005,-73.98954212299998,"(40.77287456000005, -73.98954212299998)",PATROL BORO MAN NORTH,,45-64,BLACK,M

#### Use openclean to profile the data set:

In [6]:
from openclean.profiling.column import DefaultColumnProfiler

#profiles = ds.profile(default_profiler=DefaultColumnProfiler)
profiles = ds_full.profile(default_profiler=DefaultColumnProfiler)

In [7]:
profiles.stats()

                     total    empty  distinct    uniqueness    entropy
CMPLNT_NUM         7375993        0   7373143  9.996136e-01  22.813633
CMPLNT_FR_DT       7375993      655      8606  1.166862e-03  12.425578
CMPLNT_FR_TM       7375993       48      1441  1.953648e-04   8.136466
CMPLNT_TO_DT       7375993  1704204      6825  1.203324e-03  12.417984
CMPLNT_TO_TM       7375993  1699541      1441  2.538558e-04   8.862856
ADDR_PCT_CD        7375993     2166        77  1.044234e-05   6.148690
RPT_DT             7375993        0      5479  7.428152e-04  12.405384
KY_CD              7375993        0        74  1.003255e-05   4.170727
OFNS_DESC          7375993    18823        71  9.650450e-06   4.006583
PD_CD              7375993     6278       432  5.861828e-05   5.913459
PD_DESC            7375993     6278       422  5.726137e-05   5.904814
CRM_ATPT_CPTD_CD   7375993        7         2  2.711502e-07   0.124481
LAW_CAT_CD         7375993        0         3  4.067249e-07   1.373922
BORO_NM            7375993    11329         5  6.789176e-07   2.162442
LOC_OF_OCCUR_DESC  7375993  1543800         5  8.573104e-07   1.241785
PREM_TYP_DESC      7375993    40745        74  1.008828e-05   3.579655
JURIS_DESC         7375993        0        25  3.389374e-06   0.668693
JURISDICTION_CODE  7375993     6278        25  3.392261e-06   0.668795
PARKS_NM           7375993  3229345      1206  2.908373e-04   0.110850
HADEVELOPT         7375993  7029181       279  8.044704e-04   7.277703
HOUSING_PSA        7375993  1241432      5103  8.318444e-04   1.216803
X_COORD_CD         7375993    17339     71343  9.695115e-03  14.595751
Y_COORD_CD         7375993    17339     73933  1.004708e-02  14.744968
SUSP_AGE_GROUP     7375993  4795235       111  4.301062e-05   2.113260
SUSP_RACE          7375993  3426694         8  2.025676e-06   2.224526
SUSP_SEX           7375993  3560008         3  7.861666e-07   1.323637
TRANSIT_DISTRICT   7375993  7212494        12  7.339494e-05   3.437520
Latitude           7375993    17339    205539  2.793160e-02  15.828371
Longitude          7375993    17339    201311  2.735704e-02  15.797580
Lat_Lon            7375993    17339    198552  2.698211e-02  15.677861
PATROL_BORO        7375993     6735         8  1.085591e-06   2.898560
STATION_NAME       7375993  7212494       372  2.275243e-03   7.617040
VIC_AGE_GROUP      7375993  1638445       202  3.520668e-05   2.201239
VIC_RACE           7375993      309         8  1.084645e-06   2.323077
VIC_SEX            7375993      308         5  6.779031e-07   1.846472

In [8]:
# Print the most frequent data type for each column.

print('Schema\n------')
for col in ds_full.columns:
    p = profiles.column(col)
    print("  '{}' ({})".format(col, p['datatypes']['distinct'].most_common(1)[0][0]))

Schema
------
  'CMPLNT_NUM' (int)
  'CMPLNT_FR_DT' (date)
  'CMPLNT_FR_TM' (date)
  'CMPLNT_TO_DT' (date)
  'CMPLNT_TO_TM' (date)
  'ADDR_PCT_CD' (int)
  'RPT_DT' (date)
  'KY_CD' (int)
  'OFNS_DESC' (str)
  'PD_CD' (int)
  'PD_DESC' (str)
  'CRM_ATPT_CPTD_CD' (str)
  'LAW_CAT_CD' (str)
  'BORO_NM' (str)
  'LOC_OF_OCCUR_DESC' (str)
  'PREM_TYP_DESC' (str)
  'JURIS_DESC' (str)
  'JURISDICTION_CODE' (int)
  'PARKS_NM' (str)
  'HADEVELOPT' (str)
  'HOUSING_PSA' (int)
  'X_COORD_CD' (int)
  'Y_COORD_CD' (int)
  'SUSP_AGE_GROUP' (int)
  'SUSP_RACE' (str)
  'SUSP_SEX' (str)
  'TRANSIT_DISTRICT' (int)
  'Latitude' (float)
  'Longitude' (float)
  'Lat_Lon' (str)
  'PATROL_BORO' (str)
  'STATION_NAME' (str)
  'VIC_AGE_GROUP' (int)
  'VIC_RACE' (str)
  'VIC_SEX' (str)

### Field Name & Description:
    'CMPLNT_NUM' (int)                 Complaint Number
    'CMPLNT_FR_DT' (date)              Complaint From Date
    'CMPLNT_FR_TM' (date)              Complaint From Time
    'CMPLNT_TO_DT' (date)              Complaint To Date
    'CMPLNT_TO_TM' (date)              Complaint To Time
    'ADDR_PCT_CD' (int)                Code of Precinct in which the Incident Occured
    'RPT_DT' (date)                    Report Date
    'KY_CD' (int)                      "Key Code": Offense Classification Code (3 digits)
    'OFNS_DESC' (str)                  Offense Description
    'PD_CD' (int)                      PD Code of Offense. More granular than Key Code
    'PD_DESC' (str)                    PD Description of Offense.
    'CRM_ATPT_CPTD_CD' (str)           Whether Crime was Atempted or Completed (values: 'COMPLETED', 'ATTEMPTED')
    'LAW_CAT_CD' (str)                 Level of Offense (values: 'FELONY', 'VIOLATION', 'MISDEMEANOR')
    'BORO_NM' (str)                    Name of Borough in which Incident Occurred
    'LOC_OF_OCCUR_DESC' (str)          Description of where the incident occurred with respect to the premises
                                       (values:'FRONT OF', 'REAR OF', 'OUTSIDE', 'INSIDE', 'OPPOSITE OF')
    'PREM_TYP_DESC' (str)              Description of the type of premises in which the Incident Occurred
    'JURIS_DESC' (str)                 Description of Jurisdiction in which Incident Occurred
    'JURISDICTION_CODE' (int)          Jurisdiction Code
    'PARKS_NM' (str)                   Name of Park in which Incident Occurred, if Applicable
    'HADEVELOPT' (str)                 Name of NYCHA Housing Development in which Incident Occurred, if Applicable
    'HOUSING_PSA' (int)                Housing PSA
    'X_COORD_CD' (int)                 X-coordinate, New York State Plane Coordinate System
    'Y_COORD_CD' (int)                 Y-coordinate, New York State Plane Coordinate System
    'SUSP_AGE_GROUP' (int)             Age Group of Suspect
    'SUSP_RACE' (str)                  Race of Suspect
    'SUSP_SEX' (str)                   Sex of Suspect
    'TRANSIT_DISTRICT' (int)           Transit-District code
    'Latitude' (float)                 Global Latitude of Location where Incident Occurred
    'Longitude' (float)                Global Longitude of Location where Incident Occured
    'Lat_Lon' (str)                    'Latitude' and 'Longitude' together
    'PATROL_BORO' (str)                Patrol Borough
    'STATION_NAME' (str)               Station Name
    'VIC_AGE_GROUP' (int)              Age Group of Victim
    'VIC_RACE' (str)                   Race of Victim
    'VIC_SEX' (str)                    Sex of Victim
    
    
    (Note: some field descriptions were taken from https://www1.nyc.gov/assets/nypd/downloads/pdf/analysis_and_planning/incident_level_data_footnotes.pdf)

## Profiling & Cleaning of each field in the data set

In [9]:
profiles.minmax('CMPLNT_NUM')

           min        max
int  100000065  999999904

Note that CMPLNT_NUM has less unique values than there are rows in the data set. This means that there are at least
some rows that have the same CMPLNT_NUM value, which might mean that they are both records referring to the same incident

In [10]:
profiles.minmax('CMPLNT_FR_DT')

                      min        max
date  1010-05-14 00:00:00 2020-12-31

In [11]:
from datetime import datetime
#datetime.strptime('2014-12-04', '%Y-%m-%d').date()


def validate_date(sourceValue):
    
    dummy_date = datetime.strptime("01/01/1000", '%m/%d/%Y').date()
    
    try:
        source_date = sourceValue
        start_date = datetime.strptime("01/01/2006", '%m/%d/%Y').date()
        end_date = datetime.strptime("12/31/2019", '%m/%d/%Y').date()
    
        if source_date == '':
            source_date = dummy_date
        
        source_date = datetime.strptime(sourceValue, '%m/%d/%Y').date()
        
        if source_date >= start_date and source_date <= end_date:
            return source_date
        else:
            return dummy_date
    except:
        return dummy_date
    

ds_full = ds_full.update('CMPLNT_FR_DT', validate_date)
ds_full.distinct('CMPLNT_FR_DT')

Counter({datetime.date(2019, 12, 31): 1079,
         datetime.date(2019, 12, 29): 1036,
         datetime.date(2019, 12, 15): 1161,
         datetime.date(2019, 12, 28): 1161,
         datetime.date(2008, 9, 5): 1763,
         datetime.date(2019, 12, 27): 1181,
         datetime.date(2019, 12, 26): 1112,
         datetime.date(2019, 12, 25): 875,
         datetime.date(2019, 12, 24): 1098,
         datetime.date(2019, 12, 21): 1191,
         datetime.date(2019, 12, 22): 1071,
         datetime.date(2019, 12, 20): 1270,
         datetime.date(2019, 12, 10): 1286,
         datetime.date(2019, 12, 19): 1130,
         datetime.date(2019, 12, 18): 1153,
         datetime.date(2013, 10, 18): 1445,
         datetime.date(2019, 12, 6): 1391,
         datetime.date(2019, 12, 17): 1128,
         datetime.date(2006, 4, 20): 1495,
         datetime.date(2019, 12, 14): 1227,
         datetime.date(2019, 12, 5): 1312,
         datetime.date(2019, 12, 13): 1389,
         datetime.date(2019, 12, 12): 1246,
         datetime.date(2017, 11, 15): 1371,
         datetime.date(2019, 12, 11): 1233,
         datetime.date(2019, 6, 1): 1597,
         datetime.date(2019, 12, 7): 1218,
         datetime.date(2019, 12, 9): 1145,
         datetime.date(2019, 11, 15): 1356,
         datetime.date(2019, 10, 11): 1425,
         datetime.date(2019, 12, 8): 1066,
         datetime.date(2019, 10, 7): 1212,
         datetime.date(2018, 12, 7): 1332,
         datetime.date(2016, 9, 13): 1268,
         datetime.date(2019, 12, 4): 1342,
         datetime.date(1000, 1, 1): 425436,
         datetime.date(2016, 4, 17): 1256,
         datetime.date(2019, 11, 30): 1186,
         datetime.date(2019, 12, 2): 1129,
         datetime.date(2014, 3, 20): 1486,
         datetime.date(2019, 12, 1): 1235,
         datetime.date(2019, 11, 29): 1083,
         datetime.date(2019, 11, 28): 900,
         datetime.date(2019, 11, 18): 1195,
         datetime.date(2019, 11, 27): 1356,
         datetime.date(2019, 11, 26): 1280,
         datetime.date(2019, 11, 21): 1302,
         datetime.date(2007, 1, 21): 1163,
         datetime.date(2019, 11, 25): 1259,
         datetime.date(2019, 7, 1): 1580,
         datetime.date(2019, 11, 24): 1070,
         datetime.date(2019, 11, 23): 1204,
         datetime.date(2019, 11, 22): 1378,
         datetime.date(2019, 7, 25): 1428,
         datetime.date(2019, 11, 19): 1318,
         datetime.date(2019, 11, 17): 1102,
         datetime.date(2019, 11, 5): 1267,
         datetime.date(2019, 11, 16): 1214,
         datetime.date(2006, 4, 25): 1369,
         datetime.date(2019, 11, 14): 1314,
         datetime.date(2019, 11, 13): 1177,
         datetime.date(2014, 4, 26): 1355,
         datetime.date(2019, 11, 12): 1127,
         datetime.date(2019, 11, 8): 1219,
         datetime.date(2019, 11, 11): 1235,
         datetime.date(2019, 11, 10): 1124,
         datetime.date(2019, 11, 9): 1133,
         datetime.date(2015, 6, 27): 1345,
         datetime.date(2019, 3, 18): 1154,
         datetime.date(2019, 11, 7): 1292,
         datetime.date(2019, 11, 6): 1309,
         datetime.date(2019, 11, 4): 1247,
         datetime.date(2019, 9, 21): 1384,
         datetime.date(2019, 6, 23): 1270,
         datetime.date(2019, 10, 30): 1313,
         datetime.date(2019, 11, 3): 1135,
         datetime.date(2019, 10, 31): 1429,
         datetime.date(2019, 11, 2): 1208,
         datetime.date(2019, 11, 1): 1517,
         datetime.date(2006, 4, 23): 1138,
         datetime.date(2019, 10, 29): 1236,
         datetime.date(2019, 10, 26): 1305,
         datetime.date(2019, 10, 28): 1260,
         datetime.date(2019, 10, 27): 1145,
         datetime.date(2019, 10, 25): 1420,
         datetime.date(2019, 10, 24): 1285,
         datetime.date(2019, 10, 23): 1381,
         datetime.date(2019, 8, 15): 1401,
         datetime.date(2019, 10, 22): 1278,
         datetime.date(2019, 10, 20): 1114,
         datetime.date(2019, 10, 19): 1229,
         datetime.date(2019, 10, 18): 1324,
         datetime.date(2019, 10, 17): 1308,
         datetime.date(2019, 10, 16): 1197,
         datetime.date(2019, 7, 29): 1287,
         datetime.date(2019, 10, 15): 1311,
         datetime.date(2019, 10, 14): 1207,
         datetime.date(2019, 10, 13): 1228,
         datetime.date(2016, 12, 11): 1112,
         datetime.date(2019, 10, 12): 1318,
         datetime.date(2019, 10, 10): 1393,
         datetime.date(2007, 11, 2): 1625,
         datetime.date(2013, 6, 9): 1353,
         datetime.date(2019, 10, 6): 1163,
         datetime.date(2019, 10, 5): 1214,
         datetime.date(2019, 10, 4): 1330,
         datetime.date(2019, 10, 3): 1187,
         datetime.date(2019, 9, 30): 1205,
         datetime.date(2019, 9, 2): 1172,
         datetime.date(2019, 10, 2): 1313,
         datetime.date(2019, 9, 24): 1412,
         datetime.date(2019, 8, 2): 1456,
         datetime.date(2019, 6, 27): 1279,
         datetime.date(2019, 10, 1): 1454,
         datetime.date(2019, 9, 29): 1221,
         datetime.date(2019, 9, 28): 1285,
         datetime.date(2019, 9, 27): 1508,
         datetime.date(2017, 9, 27): 1355,
         datetime.date(2019, 9, 26): 1366,
         datetime.date(2019, 9, 25): 1336,
         datetime.date(2008, 9, 1): 1608,
         datetime.date(2019, 8, 9): 1371,
         datetime.date(2019, 9, 23): 1320,
         datetime.date(2012, 1, 1): 2148,
         datetime.date(2019, 9, 22): 1329,
         datetime.date(2019, 9, 20): 1441,
         datetime.date(2019, 9, 17): 1332,
         datetime.date(2019, 9, 13): 1450,
         datetime.date(2019, 9, 19): 1436,
         datetime.date(2019, 9, 18): 1356,
         datetime.date(2018, 8, 1): 1614,
         datetime.date(2019, 9, 16): 1380,
         datetime.date(2019, 9, 15): 1373,
         datetime.date(2019, 9, 14): 1359,
         datetime.date(2019, 9, 12): 1412,
         datetime.date(2019, 9, 11): 1408,
         datetime.date(2019, 9, 1): 1399,
         datetime.date(2019, 9, 10): 1346,
         datetime.date(2019, 9, 9): 1242,
         datetime.date(2019, 9, 7): 1248,
         datetime.date(2019, 9, 8): 1307,
         datetime.date(2019, 9, 6): 1340,
         datetime.date(2019, 9, 5): 1337,
         datetime.date(2019, 9, 4): 1315,
         datetime.date(2019, 9, 3): 1264,
         datetime.date(2019, 8, 31): 1284,
         datetime.date(2019, 8, 30): 1396,
         datetime.date(2019, 8, 29): 1253,
         datetime.date(2019, 8, 28): 1287,
         datetime.date(2019, 8, 27): 1228,
         datetime.date(2019, 8, 26): 1222,
         datetime.date(2019, 8, 25): 1154,
         datetime.date(2019, 8, 23): 1286,
         datetime.date(2019, 1, 1): 2064,
         datetime.date(2019, 8, 24): 1231,
         datetime.date(2019, 8, 22): 1299,
         datetime.date(2019, 8, 21): 1350,
         datetime.date(2014, 2, 17): 1074,
         datetime.date(2019, 8, 20): 1397,
         datetime.date(2019, 8, 19): 1186,
         datetime.date(2019, 8, 18): 1277,
         datetime.date(2019, 8, 16): 1395,
         datetime.date(2019, 8, 17): 1363,
         datetime.date(2019, 8, 14): 1358,
         datetime.date(2019, 8, 13): 1387,
         datetime.date(2019, 8, 8): 1466,
         datetime.date(2019, 1, 24): 1123,
         datetime.date(2019, 8, 12): 1312,
         datetime.date(2019, 8, 11): 1226,
         datetime.date(2019, 8, 10): 1300,
         datetime.date(2016, 6, 5): 1275,
         datetime.date(2019, 8, 7): 1337,
         datetime.date(2019, 8, 6): 1273,
         datetime.date(2019, 8, 5): 1278,
         datetime.date(2019, 7, 26): 1379,
         datetime.date(2019, 8, 3): 1335,
         datetime.date(2019, 2, 14): 1216,
         datetime.date(2019, 8, 1): 1577,
         datetime.date(2008, 9, 29): 1433,
         datetime.date(2019, 7, 31): 1373,
         datetime.date(2007, 2, 26): 1270,
         datetime.date(2019, 7, 27): 1297,
         datetime.date(2019, 3, 1): 1440,
         datetime.date(2019, 7, 28): 1337,
         datetime.date(2019, 7, 23): 1371,
         datetime.date(2019, 7, 21): 1323,
         datetime.date(2019, 7, 24): 1462,
         datetime.date(2019, 7, 22): 1193,
         datetime.date(2018, 1, 18): 1336,
         datetime.date(2019, 7, 20): 1328,
         datetime.date(2019, 7, 19): 1427,
         datetime.date(2019, 7, 18): 1256,
         datetime.date(2019, 7, 17): 1396,
         datetime.date(2019, 7, 16): 1351,
         datetime.date(2019, 7, 15): 1377,
         datetime.date(2019, 7, 8): 1285,
         datetime.date(2019, 7, 14): 1272,
         datetime.date(2019, 6, 28): 1376,
         datetime.date(2019, 7, 13): 1390,
         datetime.date(2019, 7, 12): 1422,
         datetime.date(2019, 7, 11): 1321,
         datetime.date(2019, 7, 10): 1481,
         datetime.date(2019, 7, 9): 1352,
         datetime.date(2019, 5, 17): 1438,
         datetime.date(2019, 7, 7): 1310,
         datetime.date(2019, 7, 6): 1295,
         datetime.date(2019, 7, 5): 1545,
         datetime.date(2019, 7, 3): 1411,
         datetime.date(2019, 7, 4): 1340,
         datetime.date(2019, 7, 2): 1368,
         datetime.date(2019, 6, 30): 1272,
         datetime.date(2019, 6, 29): 1379,
         datetime.date(2014, 3, 6): 1262,
         datetime.date(2019, 6, 22): 1324,
         datetime.date(2019, 6, 26): 1525,
         datetime.date(2019, 6, 24): 1293,
         datetime.date(2019, 6, 21): 1420,
         datetime.date(2019, 6, 25): 1283,
         datetime.date(2019, 3, 15): 1402,
         datetime.date(2019, 6, 20): 1311,
         datetime.date(2019, 6, 18): 1226,
         datetime.date(2019, 6, 19): 1365,
         datetime.date(2019, 6, 17): 1313,
         datetime.date(2019, 6, 16): 1239,
         datetime.date(2019, 6, 14): 1359,
         datetime.date(2018, 9, 19): 1278,
         datetime.date(2019, 6, 15): 1386,
         datetime.date(2019, 6, 4): 1299,
         datetime.date(2019, 6, 13): 1217,
         datetime.date(2019, 6, 12): 1522,
         datetime.date(2019, 6, 11): 1301,
         datetime.date(2019, 6, 8): 1364,
         datetime.date(2019, 6, 6): 1293,
         datetime.date(2019, 6, 10): 1184,
         datetime.date(2019, 5, 11): 1290,
         datetime.date(2019, 5, 28): 1354,
         datetime.date(2019, 6, 9): 1196,
         datetime.date(2019, 6, 7): 1346,
         datetime.date(2019, 4, 30): 1218,
         datetime.date(2019, 6, 5): 1374,
         datetime.date(2019, 5, 30): 1254,
         datetime.date(2019, 6, 3): 1339,
         datetime.date(2012, 9, 10): 1287,
         datetime.date(2019, 5, 27): 1269,
         datetime.date(2019, 5, 31): 1445,
         datetime.date(2019, 5, 16): 1323,
         datetime.date(2019, 5, 26): 1214,
         datetime.date(2019, 4, 16): 1249,
         datetime.date(2019, 5, 25): 1331,
         datetime.date(2019, 5, 24): 1437,
         datetime.date(2019, 5, 23): 1355,
         datetime.date(2019, 5, 22): 1366,
         datetime.date(2019, 5, 21): 1364,
         datetime.date(2019, 5, 20): 1366,
         datetime.date(2019, 5, 19): 1190,
         datetime.date(2019, 5, 18): 1320,
         datetime.date(2019, 5, 15): 1315,
         datetime.date(2019, 5, 14): 1230,
         datetime.date(2019, 5, 10): 1453,
         datetime.date(2013, 7, 31): 1450,
         datetime.date(2019, 5, 9): 1245,
         datetime.date(2019, 2, 7): 1205,
         datetime.date(2019, 5, 8): 1375,
         datetime.date(2019, 5, 7): 1323,
         datetime.date(2019, 3, 3): 1074,
         datetime.date(2019, 5, 6): 1258,
         datetime.date(2019, 5, 4): 1199,
         datetime.date(2019, 5, 5): 1072,
         datetime.date(2006, 8, 6): 1351,
         datetime.date(2019, 5, 3): 1285,
         datetime.date(2014, 7, 8): 1439,
         datetime.date(2019, 5, 2): 1337,
         datetime.date(2019, 5, 1): 1524,
         datetime.date(2019, 4, 29): 1186,
         datetime.date(2019, 4, 28): 1141,
         datetime.date(2017, 7, 1): 1686,
         datetime.date(2019, 4, 7): 1178,
         datetime.date(2019, 4, 27): 1169,
         datetime.date(2019, 4, 26): 1071,
         datetime.date(2019, 4, 25): 1167,
         datetime.date(2019, 4, 24): 1298,
         datetime.date(2019, 4, 23): 1236,
         datetime.date(2019, 4, 22): 1108,
         datetime.date(2019, 4, 20): 1198,
         datetime.date(2019, 4, 19): 1334,
         datetime.date(2019, 4, 18): 1238,
         datetime.date(2019, 4, 17): 1249,
         datetime.date(2019, 4, 14): 1182,
         datetime.date(2019, 4, 12): 1234,
         datetime.date(2019, 4, 8): 1162,
         datetime.date(2019, 4, 15): 1195,
         datetime.date(2019, 4, 3): 1306,
         datetime.date(2019, 4, 13): 1226,
         datetime.date(2019, 4, 11): 1263,
         datetime.date(2019, 4, 10): 1319,
         datetime.date(2019, 4, 9): 1207,
         datetime.date(2019, 3, 24): 1103,
         datetime.date(2019, 4, 5): 1224,
         datetime.date(2019, 4, 4): 1233,
         datetime.date(2019, 3, 30): 1253,
         datetime.date(2019, 4, 2): 1195,
         datetime.date(2019, 4, 1): 1333,
         datetime.date(2019, 3, 31): 1099,
         datetime.date(2019, 3, 29): 1334,
         datetime.date(2006, 4, 16): 1158,
         datetime.date(2019, 3, 28): 1280,
         datetime.date(2019, 3, 27): 1135,
         datetime.date(2015, 4, 27): 1247,
         datetime.date(2019, 3, 26): 1245,
         datetime.date(2019, 3, 25): 1160,
         datetime.date(2017, 9, 3): 1100,
         datetime.date(2019, 3, 23): 1161,
         datetime.date(2006, 4, 12): 1574,
         datetime.date(2019, 3, 22): 1220,
         datetime.date(2019, 2, 23): 1162,
         datetime.date(2019, 3, 20): 1242,
         datetime.date(2019, 1, 8): 1187,
         datetime.date(2019, 3, 19): 1154,
         datetime.date(2019, 3, 17): 1093,
         datetime.date(2019, 3, 16): 1162,
         datetime.date(2019, 3, 9): 1164,
         datetime.date(2019, 3, 14): 1180,
         datetime.date(2019, 3, 11): 1191,
         datetime.date(2018, 7, 20): 1394,
         datetime.date(2019, 3, 13): 1176,
         datetime.date(2019, 3, 12): 1283,
         datetime.date(2019, 3, 6): 1074,
         datetime.date(2019, 3, 10): 1094,
         datetime.date(2019, 3, 8): 1209,
         datetime.date(2019, 3, 5): 1107,
         datetime.date(2019, 2, 26): 1049,
         datetime.date(2018, 10, 3): 1325,
         datetime.date(2019, 3, 2): 1101,
         datetime.date(2018, 6, 19): 1292,
         datetime.date(2019, 2, 28): 1179,
         datetime.date(2019, 2, 10): 1090,
         datetime.date(2019, 2, 27): 1067,
         datetime.date(2019, 2, 25): 1015,
         datetime.date(2018, 8, 21): 1309,
         datetime.date(2019, 2, 24): 1092,
         datetime.date(2019, 2, 22): 1167,
         datetime.date(2007, 8, 4): 1464,
         datetime.date(2019, 2, 21): 1145,
         datetime.date(2018, 10, 31): 1459,
         datetime.date(2019, 2, 20): 981,
         datetime.date(2007, 11, 12): 1240,
         datetime.date(2019, 2, 18): 986,
         datetime.date(2019, 2, 17): 1086,
         datetime.date(2019, 2, 15): 1312,
         datetime.date(2019, 2, 16): 1191,
         datetime.date(2019, 2, 13): 1140,
         datetime.date(2009, 8, 3): 1316,
         datetime.date(2019, 2, 12): 997,
         datetime.date(2019, 2, 11): 1125,
         datetime.date(2019, 2, 9): 1181,
         datetime.date(2019, 2, 8): 1261,
         datetime.date(2019, 1, 29): 1079,
         datetime.date(2019, 1, 30): 1024,
         datetime.date(2019, 2, 6): 1134,
         datetime.date(2019, 2, 4): 1192,
         datetime.date(2019, 2, 3): 1014,
         datetime.date(2019, 1, 31): 875,
         datetime.date(2019, 2, 2): 1176,
         datetime.date(2018, 11, 25): 1087,
         datetime.date(2019, 2, 1): 1427,
         datetime.date(2014, 5, 27): 1444,
         datetime.date(2019, 1, 26): 1204,
         datetime.date(2019, 1, 23): 1194,
         datetime.date(2019, 1, 19): 1134,
         datetime.date(2019, 1, 28): 1061,
         datetime.date(2019, 1, 13): 992,
         datetime.date(2019, 1, 22): 1095,
         datetime.date(2019, 1, 17): 1117,
         datetime.date(2019, 1, 18): 1236,
         datetime.date(2019, 1, 16): 1193,
         datetime.date(2019, 1, 9): 1197,
         datetime.date(2019, 1, 15): 1202,
         datetime.date(2010, 6, 1): 1798,
         datetime.date(2019, 1, 14): 1062,
         datetime.date(2019, 1, 12): 1131,
         datetime.date(2019, 1, 11): 1243,
         datetime.date(2019, 1, 10): 1240,
         datetime.date(2019, 1, 2): 1248,
         datetime.date(2018, 12, 28): 1168,
         datetime.date(2019, 1, 6): 1041,
         datetime.date(2019, 1, 5): 1160,
         datetime.date(2019, 1, 4): 1354,
         datetime.date(2018, 12, 10): 1184,
         datetime.date(2019, 1, 3): 1264,
         datetime.date(2018, 12, 30): 986,
         datetime.date(2014, 4, 13): 1283,
         datetime.date(2018, 12, 31): 1048,
         datetime.date(2019, 12, 23): 1237,
         datetime.date(2018, 12, 19): 1151,
         datetime.date(2019, 12, 3): 1242,
         datetime.date(2019, 12, 16): 1176,
         datetime.date(2019, 12, 30): 1057,
         datetime.date(2019, 11, 20): 1408,
         datetime.date(2019, 10, 21): 1279,
         datetime.date(2011, 1, 1): 2361,
         datetime.date(2019, 10, 9): 1160,
         datetime.date(2016, 6, 10): 1450,
         datetime.date(2018, 1, 4): 759,
         datetime.date(2017, 1, 1): 2179,
         datetime.date(2017, 3, 1): 1597,
         datetime.date(2019, 4, 21): 1056,
         datetime.date(2018, 10, 19): 1277,
         datetime.date(2011, 9, 1): 1781,
         datetime.date(2018, 12, 14): 1257,
         datetime.date(2019, 7, 30): 1357,
         datetime.date(2016, 3, 15): 1355,
         datetime.date(2017, 8, 1): 1622,
         datetime.date(2016, 10, 16): 1380,
         datetime.date(2017, 12, 20): 1333,
         datetime.date(2018, 12, 27): 1083,
         datetime.date(2009, 1, 1): 2116,
         datetime.date(2018, 10, 1): 1541,
         datetime.date(2019, 10, 8): 1326,
         datetime.date(2018, 7, 19): 1367,
         datetime.date(2018, 11, 17): 1236,
         datetime.date(2013, 12, 31): 1119,
         datetime.date(2015, 3, 1): 1374,
         datetime.date(2016, 11, 3): 1398,
         datetime.date(2019, 8, 4): 1253,
         datetime.date(2018, 7, 4): 1373,
         datetime.date(2018, 1, 1): 2074,
         datetime.date(2017, 7, 13): 1390,
         datetime.date(2019, 3, 21): 1095,
         datetime.date(2018, 9, 1): 1736,
         datetime.date(2013, 1, 1): 2175,
         datetime.date(2011, 12, 25): 850,
         datetime.date(2014, 3, 14): 1453,
         datetime.date(2017, 10, 26): 1364,
         datetime.date(2018, 11, 30): 1265,
         datetime.date(2019, 6, 2): 1275,
         datetime.date(2018, 12, 1): 1457,
         datetime.date(2014, 4, 1): 1713,
         datetime.date(2018, 6, 1): 1698,
         datetime.date(2018, 10, 24): 1269,
         datetime.date(2018, 5, 10): 1370,
         datetime.date(2013, 3, 14): 1297,
         datetime.date(2018, 3, 1): 1549,
         datetime.date(2016, 5, 3): 1269,
         datetime.date(2018, 5, 9): 1340,
         datetime.date(2016, 2, 10): 1376,
         datetime.date(2018, 12, 23): 1138,
         datetime.date(2017, 4, 4): 1257,
         datetime.date(2016, 12, 23): 1349,
         datetime.date(2016, 12, 27): 1260,
         datetime.date(2018, 7, 18): 1409,
         datetime.date(2009, 4, 11): 1255,
         datetime.date(2018, 11, 11): 1096,
         datetime.date(2010, 12, 27): 452,
         datetime.date(2016, 12, 26): 1034,
         datetime.date(2016, 12, 13): 1235,
         datetime.date(2016, 12, 16): 1221,
         datetime.date(2011, 12, 15): 1532,
         datetime.date(2016, 12, 15): 1158,
         datetime.date(2012, 11, 1): 1251,
         datetime.date(2018, 12, 15): 1326,
         datetime.date(2016, 9, 1): 1505,
         datetime.date(2016, 4, 1): 1823,
         datetime.date(2014, 1, 1): 2365,
         datetime.date(2018, 12, 17): 1148,
         datetime.date(2018, 7, 12): 1312,

In [12]:
profiles.minmax('CMPLNT_FR_TM')

            min                 max
date 2021-11-22 2021-11-22 23:59:00

In [13]:
profiles.minmax('CMPLNT_TO_DT')

                      min        max
date  1010-10-15 00:00:00 2090-04-06

In [ ]:
ds_full = ds_full.update('CMPLNT_TO_DT', validate_date)
ds_full.distinct('CMPLNT_TO_DT')

In [14]:
profiles.minmax('CMPLNT_TO_TM')

                      min                  max
date  2021-11-22 00:00:00  2021-11-22 23:59:00
str              24:00:00             24:00:00

In [15]:
profiles.minmax('ADDR_PCT_CD')

     min  max
int    1  123

In [16]:
profiles.column('ADDR_PCT_CD').get('topValues')

[('75', 237049),
 ('43', 189629),
 ('44', 184214),
 ('40', 178413),
 ('14', 166925),
 ('46', 155839),
 ('52', 154649),
 ('73', 151060),
 ('120', 145011),
 ('67', 139888)]

In [17]:
profiles.minmax('RPT_DT')

            min        max
date 2006-01-01 2020-12-31

In [ ]:
ds_full = ds_full.update('RPT_DT', validate_date)
ds_full.distinct('RPT_DT')

In [18]:
profiles.minmax('KY_CD')

     min  max
int  101  881

In [19]:
profiles.column('KY_CD').get('topValues')

[('341', 1244164),
 ('578', 945459),
 ('344', 774250),
 ('109', 638981),
 ('351', 619342),
 ('361', 383375),
 ('235', 342576),
 ('106', 286139),
 ('105', 266449),
 ('107', 254293)]

In [20]:
profiles.column('OFNS_DESC').get('topValues')

[('PETIT LARCENY', 1244155),
 ('HARRASSMENT 2', 945389),
 ('ASSAULT 3 & RELATED OFFENSES', 774177),
 ('CRIMINAL MISCHIEF & RELATED OF', 744951),
 ('GRAND LARCENY', 638972),
 ('DANGEROUS DRUGS', 427058),
 ('OFF. AGNST PUB ORD SENSBLTY &', 383332),
 ('FELONY ASSAULT', 286085),
 ('ROBBERY', 266447),
 ('BURGLARY', 254292)]

In [21]:
ds_full.distinct('OFNS_DESC')

Counter({'DANGEROUS WEAPONS': 161447,
         'FORGERY': 72712,
         'HARRASSMENT 2': 945389,
         'MISCELLANEOUS PENAL LAW': 185789,
         'MURDER & NON-NEGL. MANSLAUGHTER': 6278,
         'BURGLARY': 254292,
         'DANGEROUS DRUGS': 427058,
         'PETIT LARCENY': 1244155,
         'OFF. AGNST PUB ORD SENSBLTY &': 383332,
         'GRAND LARCENY': 638972,
         'FELONY ASSAULT': 286085,
         'ASSAULT 3 & RELATED OFFENSES': 774177,
         'ARSON': 17658,
         'RAPE': 21648,
         'SEX CRIMES': 88030,
         'GRAND LARCENY OF MOTOR VEHICLE': 133845,
         'ROBBERY': 266447,
         'CRIMINAL MISCHIEF & RELATED OF': 744951,
         'THEFT-FRAUD': 76655,
         'VEHICLE AND TRAFFIC LAWS': 91809,
         'CRIMINAL TRESPASS': 82135,
         'OFFENSES INVOLVING FRAUD': 23076,
         'FRAUDS': 44473,
         'OFFENSES AGAINST PUBLIC ADMINI': 137502,
         'OFFENSES AGAINST THE PERSON': 18170,
         'ADMINISTRATIVE CODE': 16287,
         'INTOXICATED & IMPAIRED DRIVING': 96386,
         'ESCAPE 3': 206,
         'NYS LAWS-UNCLASSIFIED FELONY': 6909,
         'POSSESSION OF STOLEN PROPERTY': 37315,
         'THEFT OF SERVICES': 4529,
         'KIDNAPPING & RELATED OFFENSES': 2878,
         'OTHER OFFENSES RELATED TO THEF': 16236,
         'UNAUTHORIZED USE OF A VEHICLE': 22015,
         "BURGLAR'S TOOLS": 3847,
         'ENDAN WELFARE INCOMP': 269,
         'FRAUDULENT ACCOSTING': 3444,
         'AGRICULTURE & MRKTS LAW-UNCLASSIFIED': 711,
         'OTHER STATE LAWS (NON PENAL LA': 6851,
         'OFFENSES AGAINST PUBLIC SAFETY': 1046,
         'GAMBLING': 3061,
         'PETIT LARCENY OF MOTOR VEHICLE': 1334,
         'ALCOHOLIC BEVERAGE CONTROL LAW': 1277,
         '': 18823,
         'OFFENSES RELATED TO CHILDREN': 1691,
         'ANTICIPATORY OFFENSES': 128,
         'LOITERING/GAMBLING (CARDS, DIC': 245,
         'FELONY SEX CRIMES': 18,
         'HOMICIDE-NEGLIGENT,UNCLASSIFIE': 172,
         'PROSTITUTION & RELATED OFFENSES': 1384,
         'JOSTLING': 447,
         'CHILD ABANDONMENT/NON SUPPORT': 459,
         'OTHER STATE LAWS': 292,
         'KIDNAPPING': 48,
         'NYS LAWS-UNCLASSIFIED VIOLATION': 56,
         'DISORDERLY CONDUCT': 1025,
         'DISRUPTION OF A RELIGIOUS SERV': 55,
         'OFFENSES AGAINST MARRIAGE UNCL': 4,
         'HOMICIDE-NEGLIGENT-VEHICLE': 104,
         'INTOXICATED/IMPAIRED DRIVING': 61,
         'KIDNAPPING AND RELATED OFFENSES': 3,
         'UNLAWFUL POSS. WEAP. ON SCHOOL': 70,
         'OTHER TRAFFIC INFRACTION': 15,
         'OTHER STATE LAWS (NON PENAL LAW)': 11,
         'FORTUNE TELLING': 12,
         'NEW YORK CITY HEALTH CODE': 93,
         'LOITERING': 23,
         'ABORTION': 7,
         'UNDER THE INFLUENCE OF DRUGS': 3,
         'ADMINISTRATIVE CODES': 19,
         'LOITERING FOR DRUG PURPOSES': 23,
         'LOITERING/DEVIATE SEX': 16})

In [22]:
profiles.minmax('PD_CD')

     min  max
int  100  975

In [23]:
# Print the most frequent values in column ''

profiles.column('PD_CD').get('topValues')

[('101', 640218),
 ('638', 613331),
 ('639', 374673),
 ('333', 364252),
 ('637', 332066),
 ('338', 302018),
 ('254', 259062),
 ('321', 237811),
 ('109', 232452),
 ('259', 208063)]

In [24]:
# Print the most frequent values in column 'PD_DESC'

profiles.column('PD_DESC').get('topValues')

[('ASSAULT 3', 640218),
 ('HARASSMENT,SUBD 3,4,5', 613331),
 ('AGGRAVATED HARASSMENT 2', 374673),
 ('LARCENY,PETIT FROM STORE-SHOPL', 364252),
 ('HARASSMENT,SUBD 1,CIVILIAN', 332066),
 ('LARCENY,PETIT FROM BUILDING,UN', 302018),
 ('MISCHIEF, CRIMINAL 4, OF MOTOR', 259062),
 ('LARCENY,PETIT FROM AUTO', 237811),
 ('ASSAULT 2,1,UNCLASSIFIED', 232452),
 ('CRIMINAL MISCHIEF,UNCLASSIFIED 4', 208063)]

In [26]:
ds_full.distinct('PD_DESC')

Counter({'testValue': 7375993})

In [27]:
ds_full.distinct('CRM_ATPT_CPTD_CD')

Counter({'COMPLETED': 7250300, 'ATTEMPTED': 125686, '': 7})

In [ ]:
ds_full.distinct('LAW_CAT_CD')

In [ ]:
ds_full.distinct('BORO_NM')

In [ ]:
ds_full.distinct('LOC_OF_OCCUR_DESC')

In [ ]:
profiles.column('PREM_TYP_DESC').get('topValues')

In [ ]:
ds_full.distinct('PREM_TYP_DESC')

In [ ]:
profiles.column('JURIS_DESC').get('topValues')

In [ ]:
ds_full.distinct('JURIS_DESC')

In [ ]:
profiles.column('JURISDICTION_CODE').get('topValues')

In [ ]:
ds_full.distinct('JURISDICTION_CODE')

In [ ]:
profiles.column('PARKS_NM').get('topValues')

In [ ]:
ds_full.distinct('PARKS_NM')

In [ ]:
profiles.column('HADEVELOPT').get('topValues')

In [ ]:
ds_full.distinct('HADEVELOPT')

In [ ]:
profiles.column('HOUSING_PSA').get('topValues')

In [ ]:
profiles.minmax('X_COORD_CD')

In [ ]:
profiles.minmax('Y_COORD_CD')

In [ ]:
profiles.column('SUSP_AGE_GROUP').get('topValues')

In [ ]:
ds_full.distinct('SUSP_AGE_GROUP')

In [ ]:
profiles.column('SUSP_RACE').get('topValues')

In [ ]:
ds_full.distinct('SUSP_RACE')

In [ ]:
profiles.column('SUSP_SEX').get('topValues')

In [ ]:
ds_full.distinct('SUSP_SEX')

In [ ]:
profiles.column('TRANSIT_DISTRICT').get('topValues')

In [ ]:
profiles.minmax('Latitude')

In [ ]:
profiles.minmax('Longitude')

In [ ]:
profiles.minmax('Lat_Lon')

In [ ]:
profiles.column('PATROL_BORO').get('topValues')

In [ ]:
ds_full.distinct('PATROL_BORO')

In [ ]:
profiles.column('STATION_NAME').get('topValues')

In [ ]:
profiles.column('VIC_AGE_GROUP').get('topValues')

In [ ]:
ds_full.distinct('VIC_AGE_GROUP')

In [ ]:
profiles.column('VIC_RACE').get('topValues')

In [ ]:
ds_full.distinct('VIC_RACE')

In [ ]:
profiles.column('VIC_SEX').get('topValues')

In [ ]:
ds_full.distinct('VIC_SEX')

## Data Cleaning