
# Final Project
# Big Data - Fall 2021

## By ma5416, sp6322 & lk2849

### NYPD Complaint Data Historic Public Safety
### This dataset includes all valid felony, misdemeanor, and violation crimes reported to the New York City Police Department (NYPD)
### https://data.cityofnewyork.us/Public-Safety/NYPD-Complaint-Data-Historic/qgea-i56i

#### Import dependencies:

In [1]:
import sys #access to system parameters https://docs.python.org/3/library/sys.html
print("Python version: {}". format(sys.version))

import pandas as pd #collection of functions for data processing and analysis modeled after R dataframes with SQL like features
print("pandas version: {}". format(pd.__version__))

import matplotlib #collection of functions for scientific and publication-ready visualization
import matplotlib as plt
print("matplotlib version: {}". format(matplotlib.__version__))

import numpy as np #foundational package for scientific computing
print("NumPy version: {}". format(np.__version__))

import scipy as sp #collection of functions for scientific computing and advance mathematics
print("SciPy version: {}". format(sp.__version__)) 

import IPython
from IPython import display #pretty printing of dataframes in Jupyter notebook
print("IPython version: {}". format(IPython.__version__)) 

import sklearn #collection of machine learning algorithms
print("scikit-learn version: {}". format(sklearn.__version__))

#misc libraries
import random
import time
#ignore warnings
import warnings
warnings.filterwarnings('ignore')
print('-'*25)
import re
import os
import matplotlib.pyplot as plt
%matplotlib inline

Python version: 3.8.8 (default, Apr 13 2021, 12:59:45)
[Clang 10.0.0 ]
pandas version: 1.2.4
matplotlib version: 3.3.4
NumPy version: 1.20.1
SciPy version: 1.6.2
IPython version: 7.22.0
scikit-learn version: 0.24.1
-------------------------

#### Download data file if it has not been downloaded already:

In [2]:
#url = 'https://data.cityofnewyork.us/api/views/qgea-i56i/rows.csv?accessType=DOWNLOAD'
fn_src = 'https://data.cityofnewyork.us/api/views/qgea-i56i/rows.csv?accessType=DOWNLOAD'
fn_dst = 'NYPD_Complaint_Data_Historic.csv'

from six.moves import urllib

if os.path.isfile(fn_dst):
    print('File %s has already been downloaded' % fn_dst)
else:
    print('Fetching file %s[2.4GB]. This may take a while...' % fn_dst)
    urllib.request.urlretrieve(fn_src, fn_dst)
    print('File %s has been downloaded' % fn_dst)

File NYPD_Complaint_Data_Historic.csv has already been downloaded

#### Open a stream to the data file so we don't have to load the whole data set into main memory

In [5]:
from openclean.pipeline import stream
ds_full = stream(fn_dst)

In [70]:
print(f'The dataset contains {ds_full.count():,} rows.')

The dataset contains 7,375,993 rows.

In [7]:
ds_full.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,394506329,12/31/2019,17:30:00,,,32,12/31/2019,118,DANGEROUS WEAPONS,793,...,,,40.82092679700002,-73.94332421899996,"(40.82092679700002, -73.94332421899996)",PATROL BORO MAN NORTH,,UNKNOWN,UNKNOWN,E
1,968873685,12/29/2019,16:31:00,12/29/2019,16:54:00,47,12/29/2019,113,FORGERY,729,...,,,40.885701406000074,-73.86164032499995,"(40.885701406000074, -73.86164032499995)",PATROL BORO BRONX,,UNKNOWN,UNKNOWN,E
2,509837549,12/15/2019,18:45:00,,,109,12/29/2019,578,HARRASSMENT 2,638,...,M,,40.74228115600005,-73.81982408,"(40.74228115600005, -73.81982408)",PATROL BORO QUEENS NORTH,,25-44,WHITE HISPANIC,F
3,352454313,12/28/2019,01:00:00,,,47,12/28/2019,126,MISCELLANEOUS PENAL LAW,117,...,M,,40.87531145100007,-73.84754521099995,"(40.87531145100007, -73.84754521099995)",PATROL BORO BRONX,,UNKNOWN,UNKNOWN,E
4,248803469,09/05/2008,21:41:00,,,,09/05/2008,101,MURDER & NON-NEGL. MANSLAUGHTER,,...,,,40.698827283,-73.938819047,"(40.698827283, -73.938819047)",,,25-44,BLACK,M
5,293718737,12/27/2019,22:00:00,,,9,12/27/2019,107,BURGLARY,223,...,,,40.72075882100006,-73.98046642299995,"(40.72075882100006, -73.98046642299995)",PATROL BORO MAN SOUTH,,UNKNOWN,UNKNOWN,M
6,552685226,12/27/2019,20:10:00,12/27/2019,20:15:00,79,12/27/2019,117,DANGEROUS DRUGS,521,...,,,40.695958362000056,-73.93763162199998,"(40.695958362000056, -73.93763162199998)",PATROL BORO BKLYN NORTH,,UNKNOWN,UNKNOWN,E
7,134037758,12/26/2019,20:00:00,12/27/2019,07:15:00,101,12/27/2019,341,PETIT LARCENY,321,...,,,40.61157006600007,-73.74736517199995,"(40.61157006600007, -73.74736517199995)",PATROL BORO QUEENS SOUTH,,25-44,WHITE HISPANIC,F
8,855385879,12/26/2019,19:57:00,,,44,12/26/2019,361,OFF. AGNST PUB ORD SENSBLTY &,639,...,F,,40.84023413800003,-73.91768411399994,"(40.84023413800003, -73.91768411399994)",PATROL BORO BRONX,,18-24,BLACK,F
9,241602326,12/25/2019,23:00:00,12/26/2019,14:25:00,20,12/26/2019,341,PETIT LARCENY,321,...,,,40.77287456000005,-73.98954212299998,"(40.77287456000005, -73.98954212299998)",PATROL BORO MAN NORTH,,45-64,BLACK,M

#### Use openclean to profile the data set:

In [8]:
from openclean.profiling.column import DefaultColumnProfiler

#profiles = ds.profile(default_profiler=DefaultColumnProfiler)
profiles = ds_full.profile(default_profiler=DefaultColumnProfiler)

In [9]:
profiles.stats()

                     total    empty  distinct    uniqueness    entropy
CMPLNT_NUM         7375993        0   7373143  9.996136e-01  22.813633
CMPLNT_FR_DT       7375993      655      8606  1.166862e-03  12.425578
CMPLNT_FR_TM       7375993       48      1441  1.953648e-04   8.136466
CMPLNT_TO_DT       7375993  1704204      6825  1.203324e-03  12.417984
CMPLNT_TO_TM       7375993  1699541      1441  2.538558e-04   8.862856
ADDR_PCT_CD        7375993     2166        77  1.044234e-05   6.148690
RPT_DT             7375993        0      5479  7.428152e-04  12.405384
KY_CD              7375993        0        74  1.003255e-05   4.170727
OFNS_DESC          7375993    18823        71  9.650450e-06   4.006583
PD_CD              7375993     6278       432  5.861828e-05   5.913459
PD_DESC            7375993     6278       422  5.726137e-05   5.904814
CRM_ATPT_CPTD_CD   7375993        7         2  2.711502e-07   0.124481
LAW_CAT_CD         7375993        0         3  4.067249e-07   1.373922
BORO_NM            7375993    11329         5  6.789176e-07   2.162442
LOC_OF_OCCUR_DESC  7375993  1543800         5  8.573104e-07   1.241785
PREM_TYP_DESC      7375993    40745        74  1.008828e-05   3.579655
JURIS_DESC         7375993        0        25  3.389374e-06   0.668693
JURISDICTION_CODE  7375993     6278        25  3.392261e-06   0.668795
PARKS_NM           7375993  3229345      1206  2.908373e-04   0.110850
HADEVELOPT         7375993  7029181       279  8.044704e-04   7.277703
HOUSING_PSA        7375993  1241432      5103  8.318444e-04   1.216803
X_COORD_CD         7375993    17339     71343  9.695115e-03  14.595751
Y_COORD_CD         7375993    17339     73933  1.004708e-02  14.744968
SUSP_AGE_GROUP     7375993  4795235       111  4.301062e-05   2.113260
SUSP_RACE          7375993  3426694         8  2.025676e-06   2.224526
SUSP_SEX           7375993  3560008         3  7.861666e-07   1.323637
TRANSIT_DISTRICT   7375993  7212494        12  7.339494e-05   3.437520
Latitude           7375993    17339    205539  2.793160e-02  15.828371
Longitude          7375993    17339    201311  2.735704e-02  15.797580
Lat_Lon            7375993    17339    198552  2.698211e-02  15.677861
PATROL_BORO        7375993     6735         8  1.085591e-06   2.898560
STATION_NAME       7375993  7212494       372  2.275243e-03   7.617040
VIC_AGE_GROUP      7375993  1638445       202  3.520668e-05   2.201239
VIC_RACE           7375993      309         8  1.084645e-06   2.323077
VIC_SEX            7375993      308         5  6.779031e-07   1.846472

### Field Name & Description:
    'CMPLNT_NUM' (int)                 Complaint Number
    'CMPLNT_FR_DT' (date)              Complaint From Date
    'CMPLNT_FR_TM' (date)              Complaint From Time
    'CMPLNT_TO_DT' (date)              Complaint To Date
    'CMPLNT_TO_TM' (date)              Complaint To Time
    'ADDR_PCT_CD' (int)                Code of Precinct in which the Incident Occured
    'RPT_DT' (date)                    Report Date
    'KY_CD' (int)                      "Key Code": Offense Classification Code (3 digits)
    'OFNS_DESC' (str)                  Offense Description
    'PD_CD' (int)                      PD Code of Offense. More granular than Key Code
    'PD_DESC' (str)                    PD Description of Offense.
    'CRM_ATPT_CPTD_CD' (str)           Whether Crime was Atempted or Completed (values: 'COMPLETED', 'ATTEMPTED')
    'LAW_CAT_CD' (str)                 Level of Offense (values: 'FELONY', 'VIOLATION', 'MISDEMEANOR')
    'BORO_NM' (str)                    Name of Borough in which Incident Occurred
    'LOC_OF_OCCUR_DESC' (str)          Description of where the incident occurred with respect to the premises
                                       (values:'FRONT OF': 1727410, 'REAR OF', 'OUTSIDE', 'INSIDE', 'OPPOSITE OF')
    'PREM_TYP_DESC' (str)              Description of premises in which the Incident Occurred
    'JURIS_DESC' (str)                 Description of Jurisdiction in which Incident Occurred
    'JURISDICTION_CODE' (int)          Jurisdiction Code
    'PARKS_NM' (str)                   Name of Park in which Incident Occurred, if Applicable
    'HADEVELOPT' (str)                 Name of NYCHA Housing Development in which Incident Occurred, if Applicable
    'HOUSING_PSA' (int)
    'X_COORD_CD' (int)                 X-coordinate, New York State Plane Coordinate System
    'Y_COORD_CD' (int)                 Y-coordinate, New York State Plane Coordinate System
    'SUSP_AGE_GROUP' (int)             Age Group of Suspect
    'SUSP_RACE' (str)                  Race of Suspect
    'SUSP_SEX' (str)                   Sex of Suspect
    'TRANSIT_DISTRICT' (int)           Transit-District code
    'Latitude' (float)                 Global Latitude of Location where Incident Occurred
    'Longitude' (float)                Global Longitude of Location where Incident Occured
    'Lat_Lon' (str)                    'Latitude' and 'Longitude' together
    'PATROL_BORO' (str)                Patrol Borough
    'STATION_NAME' (str)               Station Name
    'VIC_AGE_GROUP' (int)              Age Group of Victim
    'VIC_RACE' (str)                   Race of Victim
    'VIC_SEX' (str)                    Sex of Victim
    
    
    (Note: some field descriptions were taken from https://www1.nyc.gov/assets/nypd/downloads/pdf/analysis_and_planning/incident_level_data_footnotes.pdf)

In [10]:
# Print the most frequent data type for each column.

print('Schema\n------')
for col in ds_full.columns:
    p = profiles.column(col)
    print("  '{}' ({})".format(col, p['datatypes']['distinct'].most_common(1)[0][0]))

Schema
------
  'CMPLNT_NUM' (int)
  'CMPLNT_FR_DT' (date)
  'CMPLNT_FR_TM' (date)
  'CMPLNT_TO_DT' (date)
  'CMPLNT_TO_TM' (date)
  'ADDR_PCT_CD' (int)
  'RPT_DT' (date)
  'KY_CD' (int)
  'OFNS_DESC' (str)
  'PD_CD' (int)
  'PD_DESC' (str)
  'CRM_ATPT_CPTD_CD' (str)
  'LAW_CAT_CD' (str)
  'BORO_NM' (str)
  'LOC_OF_OCCUR_DESC' (str)
  'PREM_TYP_DESC' (str)
  'JURIS_DESC' (str)
  'JURISDICTION_CODE' (int)
  'PARKS_NM' (str)
  'HADEVELOPT' (str)
  'HOUSING_PSA' (int)
  'X_COORD_CD' (int)
  'Y_COORD_CD' (int)
  'SUSP_AGE_GROUP' (int)
  'SUSP_RACE' (str)
  'SUSP_SEX' (str)
  'TRANSIT_DISTRICT' (int)
  'Latitude' (float)
  'Longitude' (float)
  'Lat_Lon' (str)
  'PATROL_BORO' (str)
  'STATION_NAME' (str)
  'VIC_AGE_GROUP' (int)
  'VIC_RACE' (str)
  'VIC_SEX' (str)

### Profiling of each field in the data set

In [11]:
profiles.minmax('CMPLNT_FR_DT')

                      min        max
date  1010-05-14 00:00:00 2020-12-31

In [12]:
profiles.minmax('CMPLNT_FR_TM')

            min                 max
date 2021-11-21 2021-11-21 23:59:00

In [13]:
profiles.minmax('CMPLNT_TO_DT')

                      min        max
date  1010-10-15 00:00:00 2090-04-06

In [14]:
profiles.minmax('CMPLNT_TO_TM')

                      min                  max
date  2021-11-21 00:00:00  2021-11-21 23:59:00
str              24:00:00             24:00:00

In [15]:
profiles.minmax('ADDR_PCT_CD')

     min  max
int    1  123

In [16]:
# Print the most frequent values in column 'DDR_PCT_CD'

profiles.column('ADDR_PCT_CD').get('topValues')

[('75', 237049),
 ('43', 189629),
 ('44', 184214),
 ('40', 178413),
 ('14', 166925),
 ('46', 155839),
 ('52', 154649),
 ('73', 151060),
 ('120', 145011),
 ('67', 139888)]

In [17]:
profiles.minmax('RPT_DT')

            min        max
date 2006-01-01 2020-12-31

In [18]:
profiles.minmax('KY_CD')

     min  max
int  101  881

In [19]:
# Print the most frequent values in column 'KY_CD'

profiles.column('KY_CD').get('topValues')

[('341', 1244164),
 ('578', 945459),
 ('344', 774250),
 ('109', 638981),
 ('351', 619342),
 ('361', 383375),
 ('235', 342576),
 ('106', 286139),
 ('105', 266449),
 ('107', 254293)]

In [20]:
# Print the most frequent values in column 'OFNS_DESC'

profiles.column('OFNS_DESC').get('topValues')

[('PETIT LARCENY', 1244155),
 ('HARRASSMENT 2', 945389),
 ('ASSAULT 3 & RELATED OFFENSES', 774177),
 ('CRIMINAL MISCHIEF & RELATED OF', 744951),
 ('GRAND LARCENY', 638972),
 ('DANGEROUS DRUGS', 427058),
 ('OFF. AGNST PUB ORD SENSBLTY &', 383332),
 ('FELONY ASSAULT', 286085),
 ('ROBBERY', 266447),
 ('BURGLARY', 254292)]

In [54]:
ds_full.distinct('OFNS_DESC')

Counter({'DANGEROUS WEAPONS': 161447,
         'FORGERY': 72712,
         'HARRASSMENT 2': 945389,
         'MISCELLANEOUS PENAL LAW': 185789,
         'MURDER & NON-NEGL. MANSLAUGHTER': 6278,
         'BURGLARY': 254292,
         'DANGEROUS DRUGS': 427058,
         'PETIT LARCENY': 1244155,
         'OFF. AGNST PUB ORD SENSBLTY &': 383332,
         'GRAND LARCENY': 638972,
         'FELONY ASSAULT': 286085,
         'ASSAULT 3 & RELATED OFFENSES': 774177,
         'ARSON': 17658,
         'RAPE': 21648,
         'SEX CRIMES': 88030,
         'GRAND LARCENY OF MOTOR VEHICLE': 133845,
         'ROBBERY': 266447,
         'CRIMINAL MISCHIEF & RELATED OF': 744951,
         'THEFT-FRAUD': 76655,
         'VEHICLE AND TRAFFIC LAWS': 91809,
         'CRIMINAL TRESPASS': 82135,
         'OFFENSES INVOLVING FRAUD': 23076,
         'FRAUDS': 44473,
         'OFFENSES AGAINST PUBLIC ADMINI': 137502,
         'OFFENSES AGAINST THE PERSON': 18170,
         'ADMINISTRATIVE CODE': 16287,
         'INTOXICATED & IMPAIRED DRIVING': 96386,
         'ESCAPE 3': 206,
         'NYS LAWS-UNCLASSIFIED FELONY': 6909,
         'POSSESSION OF STOLEN PROPERTY': 37315,
         'THEFT OF SERVICES': 4529,
         'KIDNAPPING & RELATED OFFENSES': 2878,
         'OTHER OFFENSES RELATED TO THEF': 16236,
         'UNAUTHORIZED USE OF A VEHICLE': 22015,
         "BURGLAR'S TOOLS": 3847,
         'ENDAN WELFARE INCOMP': 269,
         'FRAUDULENT ACCOSTING': 3444,
         'AGRICULTURE & MRKTS LAW-UNCLASSIFIED': 711,
         'OTHER STATE LAWS (NON PENAL LA': 6851,
         'OFFENSES AGAINST PUBLIC SAFETY': 1046,
         'GAMBLING': 3061,
         'PETIT LARCENY OF MOTOR VEHICLE': 1334,
         'ALCOHOLIC BEVERAGE CONTROL LAW': 1277,
         '': 18823,
         'OFFENSES RELATED TO CHILDREN': 1691,
         'ANTICIPATORY OFFENSES': 128,
         'LOITERING/GAMBLING (CARDS, DIC': 245,
         'FELONY SEX CRIMES': 18,
         'HOMICIDE-NEGLIGENT,UNCLASSIFIE': 172,
         'PROSTITUTION & RELATED OFFENSES': 1384,
         'JOSTLING': 447,
         'CHILD ABANDONMENT/NON SUPPORT': 459,
         'OTHER STATE LAWS': 292,
         'KIDNAPPING': 48,
         'NYS LAWS-UNCLASSIFIED VIOLATION': 56,
         'DISORDERLY CONDUCT': 1025,
         'DISRUPTION OF A RELIGIOUS SERV': 55,
         'OFFENSES AGAINST MARRIAGE UNCL': 4,
         'HOMICIDE-NEGLIGENT-VEHICLE': 104,
         'INTOXICATED/IMPAIRED DRIVING': 61,
         'KIDNAPPING AND RELATED OFFENSES': 3,
         'UNLAWFUL POSS. WEAP. ON SCHOOL': 70,
         'OTHER TRAFFIC INFRACTION': 15,
         'OTHER STATE LAWS (NON PENAL LAW)': 11,
         'FORTUNE TELLING': 12,
         'NEW YORK CITY HEALTH CODE': 93,
         'LOITERING': 23,
         'ABORTION': 7,
         'UNDER THE INFLUENCE OF DRUGS': 3,
         'ADMINISTRATIVE CODES': 19,
         'LOITERING FOR DRUG PURPOSES': 23,
         'LOITERING/DEVIATE SEX': 16})

In [21]:
profiles.minmax('PD_CD')

     min  max
int  100  975

In [22]:
# Print the most frequent values in column ''

profiles.column('PD_CD').get('topValues')

[('101', 640218),
 ('638', 613331),
 ('639', 374673),
 ('333', 364252),
 ('637', 332066),
 ('338', 302018),
 ('254', 259062),
 ('321', 237811),
 ('109', 232452),
 ('259', 208063)]

In [23]:
# Print the most frequent values in column 'PD_DESC'

profiles.column('PD_DESC').get('topValues')

[('ASSAULT 3', 640218),
 ('HARASSMENT,SUBD 3,4,5', 613331),
 ('AGGRAVATED HARASSMENT 2', 374673),
 ('LARCENY,PETIT FROM STORE-SHOPL', 364252),
 ('HARASSMENT,SUBD 1,CIVILIAN', 332066),
 ('LARCENY,PETIT FROM BUILDING,UN', 302018),
 ('MISCHIEF, CRIMINAL 4, OF MOTOR', 259062),
 ('LARCENY,PETIT FROM AUTO', 237811),
 ('ASSAULT 2,1,UNCLASSIFIED', 232452),
 ('CRIMINAL MISCHIEF,UNCLASSIFIED 4', 208063)]

In [56]:
ds_full.distinct('CRM_ATPT_CPTD_CD')

Counter({'COMPLETED': 7250300, 'ATTEMPTED': 125686, '': 7})

In [57]:
ds_full.distinct('LAW_CAT_CD')

Counter({'FELONY': 2275064, 'VIOLATION': 960209, 'MISDEMEANOR': 4140720})

In [58]:
ds_full.distinct('BORO_NM')

Counter({'MANHATTAN': 1771637,
         'BRONX': 1599801,
         'QUEENS': 1463554,
         '': 11329,
         'BROOKLYN': 2186681,
         'STATEN ISLAND': 342991})

In [64]:
ds_full.distinct('LOC_OF_OCCUR_DESC')

Counter({'': 1543800,
         'FRONT OF': 1727410,
         'REAR OF': 157302,
         'OUTSIDE': 3813,
         'INSIDE': 3747880,
         'OPPOSITE OF': 195788})

In [60]:
profiles.column('PREM_TYP_DESC').get('topValues')

[('STREET', 2352311),
 ('RESIDENCE - APT. HOUSE', 1564899),
 ('RESIDENCE-HOUSE', 725940),
 ('RESIDENCE - PUBLIC HOUSING', 553247),
 ('OTHER', 199770),
 ('COMMERCIAL BUILDING', 190978),
 ('CHAIN STORE', 167139),
 ('TRANSIT - NYC SUBWAY', 160448),
 ('DEPARTMENT STORE', 144809),
 ('GROCERY/BODEGA', 94682)]

In [65]:
ds_full.distinct('PREM_TYP_DESC')

Counter({'STREET': 2352311,
         '': 40745,
         'RESIDENCE - APT. HOUSE': 1564899,
         'DEPARTMENT STORE': 144809,
         'OTHER': 199770,
         'RESIDENCE-HOUSE': 725940,
         'RESIDENCE - PUBLIC HOUSING': 553247,
         'ABANDONED BUILDING': 2827,
         'HOSPITAL': 35193,
         'DRUG STORE': 70116,
         'CEMETERY': 854,
         'PUBLIC BUILDING': 43986,
         'FOOD SUPERMARKET': 40053,
         'COMMERCIAL BUILDING': 190978,
         'GYM/FITNESS FACILITY': 22943,
         'CHAIN STORE': 167139,
         'BUS STOP': 6212,
         'GROCERY/BODEGA': 94682,
         'FAST FOOD': 36335,
         'STORE UNCLASSIFIED': 31669,
         'HOTEL/MOTEL': 33547,
         'RESTAURANT/DINER': 85640,
         'BANK': 30868,
         'BRIDGE': 7743,
         'SHOE': 5142,
         'PARKING LOT/GARAGE (PUBLIC)': 40170,
         'CHURCH': 12912,
         'ATM': 6088,
         'HIGHWAY/PARKWAY': 21915,
         'PUBLIC SCHOOL': 85002,
         'PARK/PLAYGROUND': 84334,
         'HOMELESS SHELTER': 4132,
         'BUS (NYC TRANSIT)': 16135,
         'BUS TERMINAL': 5347,
         'GAS STATION': 17714,
         'LIQUOR STORE': 5994,
         'CONSTRUCTION SITE': 13051,
         'CLOTHING/BOUTIQUE': 61835,
         'SOCIAL CLUB/POLICY': 4505,
         'OPEN AREAS (OPEN LOTS)': 10620,
         'BAR/NIGHT CLUB': 78705,
         'MAILBOX OUTSIDE': 6253,
         'TUNNEL': 3811,
         'SMALL MERCHANT': 29531,
         'BUS (OTHER)': 3683,
         'AIRPORT TERMINAL': 19184,
         'BEAUTY & NAIL SALON': 19619,
         'TRANSIT - NYC SUBWAY': 160448,
         'DOCTOR/DENTIST OFFICE': 17775,
         'CANDY STORE': 9420,
         'SYNAGOGUE': 2723,
         'PARKING LOT/GARAGE (PRIVATE)': 39232,
         'TAXI (LIVERY LICENSED)': 6806,
         'CHECK CASHING BUSINESS': 8211,
         'JEWELRY': 5285,
         'DRY CLEANER/LAUNDRY': 15772,
         'TELECOMM. STORE': 10811,
         'TRANSIT FACILITY (OTHER)': 6045,
         'TAXI (YELLOW LICENSED)': 6896,
         'VARIETY STORE': 10021,
         'STORAGE FACILITY': 6728,
         'FACTORY/WAREHOUSE': 7512,
         'MARINA/PIER': 3070,
         'PRIVATE/PAROCHIAL SCHOOL': 8472,
         'TAXI/LIVERY (UNLICENSED)': 1223,
         'BOOK/CARD': 2449,
         'FERRY/FERRY TERMINAL': 2118,
         'OTHER HOUSE OF WORSHIP': 1059,
         'DAYCARE FACILITY': 53,
         'MAILBOX INSIDE': 733,
         'VIDEO STORE': 2262,
         'MOSQUE': 1080,
         'PHOTO/COPY': 967,
         'LOAN COMPANY': 495,
         'TRAMWAY': 139})

In [29]:
profiles.column('JURIS_DESC').get('topValues')

[('N.Y. POLICE DEPT', 6556968),
 ('N.Y. HOUSING POLICE', 562181),
 ('N.Y. TRANSIT POLICE', 163810),
 ('PORT AUTHORITY', 34258),
 ('OTHER', 24147),
 ('DEPT OF CORRECTIONS', 9638),
 ('POLICE DEPT NYC', 8955),
 ('TRI-BORO BRDG TUNNL', 5677),
 ('HEALTH & HOSP CORP', 3692),
 ('N.Y. STATE POLICE', 1883)]

In [66]:
ds_full.distinct('JURIS_DESC')

Counter({'N.Y. POLICE DEPT': 6556968,
         'METRO NORTH': 822,
         'N.Y. HOUSING POLICE': 562181,
         'N.Y. STATE POLICE': 1883,
         'DEPT OF CORRECTIONS': 9638,
         'OTHER': 24147,
         'HEALTH & HOSP CORP': 3692,
         'N.Y. TRANSIT POLICE': 163810,
         'PORT AUTHORITY': 34258,
         'U.S. PARK POLICE': 282,
         'STATN IS RAPID TRANS': 439,
         'NYC PARKS': 1125,
         'TRI-BORO BRDG TUNNL': 5677,
         'NEW YORK CITY SHERIFF OFFICE': 279,
         'N.Y. STATE PARKS': 456,
         'LONG ISLAND RAILRD': 548,
         'NYS DEPT TAX AND FINANCE': 106,
         'CONRAIL': 16,
         'AMTRACK': 188,
         'FIRE DEPT (FIRE MARSHAL)': 477,
         'POLICE DEPT NYC': 8955,
         'SEA GATE POLICE DEPT': 30,
         'NYC DEPT ENVIRONMENTAL PROTECTION': 14,
         'NYS DEPT ENVIRONMENTAL CONSERVATION': 1,
         'DISTRICT ATTORNEY OFFICE': 1})

In [30]:
# JURISDICTION_CODE

profiles.column('JURISDICTION_CODE').get('topValues')

[('0', 6551341),
 ('2', 561564),
 ('1', 163780),
 ('3', 34258),
 ('97', 24143),
 ('72', 9638),
 ('69', 8955),
 ('4', 5677),
 ('14', 3692),
 ('11', 1883)]

In [67]:
ds_full.distinct('JURISDICTION_CODE')

Counter({'0': 6551341,
         '': 6278,
         '15': 822,
         '2': 561564,
         '11': 1883,
         '72': 9638,
         '97': 24143,
         '14': 3692,
         '3': 34258,
         '13': 282,
         '1': 163780,
         '9': 439,
         '88': 1125,
         '4': 5677,
         '87': 279,
         '12': 456,
         '6': 548,
         '85': 106,
         '8': 16,
         '7': 188,
         '71': 477,
         '69': 8955,
         '16': 30,
         '76': 14,
         '79': 1,
         '73': 1})

In [31]:
# PARKS_NM
profiles.column('PARKS_NM').get('topValues')

[('NA', 4118985),
 ('CENTRAL PARK', 1641),
 ('FLUSHING MEADOWS CORONA PARK', 1315),
 ('CONEY ISLAND BEACH & BOARDWALK', 1060),
 ('WASHINGTON SQUARE PARK', 778),
 ('RIVERSIDE PARK', 614),
 ('PROSPECT PARK', 536),
 ('UNION SQUARE PARK', 534),
 ('MARCUS GARVEY PARK', 433),
 ("RANDALL'S ISLAND PARK", 413)]

In [68]:
ds_full.distinct('PARKS_NM')

Counter({'': 3229345,
         'NA': 4118985,
         'GRAND ARMY PLAZA BROOKLYN': 11,
         'SUNSET PARK': 226,
         'HAPPY WARRIOR PLAYGROUND': 15,
         'POE PARK': 33,
         'BRYANT PARK': 299,
         'HUDSON RIVER PARK': 144,
         'CITY HALL PARK': 20,
         'SARA D. ROOSEVELT PARK': 345,
         'BELT PARKWAY/SHORE PARKWAY': 81,
         'HIGHBRIDGE PARK MANHATTAN SIDE': 248,
         'ASTORIA PARK': 115,
         'QUEENSBRIDGE PARK': 21,
         'KISSENA PARK': 77,
         'FLUSHING MEADOWS CORONA PARK': 1315,
         'MCCARREN PARK': 194,
         'HOLCOMBE RUCKER PARK': 23,
         'CONFERENCE HOUSE PARK': 18,
         'MARCUS GARVEY PARK': 433,
         'CENTRAL PARK': 1641,
         'VAN CORTLANDT PARK': 258,
         'HARLEM RIVER PARK': 159,
         'CALLAHAN-KELLY PLAYGROUND': 30,
         'RICHMAN (ECHO) PARK': 214,
         'FORT TRYON PARK': 105,
         'UNION SQUARE PARK': 534,
         'WASHINGTON SQUARE PARK': 778,
         'ST. VARTAN PARK': 12,
         'EAST RIVER PARK': 205,
         'PELHAM PARKWAY': 28,
         'SIMEONE PARK': 19,
         'RUFUS KING PARK': 133,
         'MACOMBS DAM PARK': 325,
         'CLAREMONT PARK': 332,
         'FORT GREENE PARK': 165,
         'COFFEY PARK': 28,
         'TRINITY PARK': 3,
         'MARIA HERNANDEZ PARK': 179,
         'RIVERSIDE PARK SOUTH': 16,
         "FRANK D. O'CONNOR PLAYGROUND": 40,
         'EQUITY PARK': 12,
         'LILLIAN D WALD PLAYGROUND': 1,
         'TOMPKINS SQUARE PARK': 245,
         'MOUNT HOPE PLAYGROUND': 27,
         'J. HOOD WRIGHT PARK': 47,
         'TANAHEY PLAYGROUND': 7,
         'GROVER CLEVELAND PLAYGROUND': 31,
         'THEODORE ROOSEVELT PARK': 5,
         'MANHATTAN BEACH PARK': 50,
         'DIMATTINA PLAYGROUND': 2,
         'LINCOLN TERRACE / ARTHUR S. SOMERS PARK': 141,
         'VESUVIO PLAYGROUND': 9,
         'MARGARET I. CARMAN GREEN - WEEPING BEECH': 29,
         'SHEEPSHEAD PLAYGROUND': 11,
         'BATTERY PARK': 170,
         'TELEPHONE PLAYGROUND': 1,
         'PROSPECT PARK': 536,
         'PATTERSON PLAYGROUND': 23,
         'ST. NICHOLAS PARK': 248,
         'STARLIGHT PARK': 58,
         "ST. MARY'S PARK BRONX": 327,
         'POWER PLAYGROUND': 15,
         "ST. JOHN'S RECREATION CENTER": 102,
         'RED HOOK RECREATION AREA': 44,
         'JAMES J WALKER PARK': 24,
         'PAERDEGAT PARK': 15,
         'MORNINGSIDE PARK': 222,
         'HOFFMAN PARK': 39,
         'STERNBERG PARK': 59,
         'BENNINGER PLAYGROUND': 5,
         'RIVERSIDE PARK': 614,
         'SHEEPSHEAD BAY PIERS': 1,
         'ALLEY POND PARK': 116,
         'FOREST PARK': 194,
         'HART PLAYGROUND ON BROADWAY': 13,
         'BRONX PARK': 248,
         'INWOOD HILL PARK': 65,
         'COLUMBUS PARK AT MANHATTAN': 71,
         'MERCER PLAYGROUND': 15,
         'KISSENA CORRIDOR PARK': 98,
         'CROTONA PARK': 294,
         'BRIZZI PLAYGROUND': 8,
         'MULLALY PARK': 193,
         'HAROLD SCHNEIDERMAN PLAYGROUND': 9,
         'CAPTAIN TILLY PARK': 44,
         'WILLIAMSBRIDGE OVAL': 180,
         'REIFF PLAYGROUND': 17,
         'CONEY ISLAND BEACH & BOARDWALK': 1060,
         'L/CPL THOMAS P. NOONAN JR. PLAYGROUND': 10,
         'OLD TOWN PLAYGROUND': 5,
         "PEOPLE'S PARK": 20,
         "HELL'S KITCHEN PARK": 15,
         'MADISON SQUARE PARK': 86,
         'FORT TOTTEN PARK': 12,
         'MAHONEY PLAYGROUND': 9,
         'A.R.R.O.W. FIELD HOUSE': 1,
         'LAURELTON PARKWAY': 1,
         'ASSER LEVY PLAYGROUND': 47,
         'PLAYGROUND SIXTY TWO LXII': 1,
         'JOSEPH AUSTIN PLAYGROUND': 16,
         'BOOKER T. WASHINGTON PLAYGROUND': 21,
         'CLINTONVILLE PLAYGROUND': 5,
         'BEHAGEN PLAYGROUND': 19,
         'CLOVE LAKES PARK': 40,
         'JACKSON-FOREST COMMUNITY GARDEN': 1,
         'GUN HILL PLAYGROUND': 11,
         'BROWER PARK': 68,
         'SLATTERY PLAYGROUND': 32,
         'STAR SPANGLED PLAYGROUND': 4,
         'MATTHEWS - PALMER PLAYGROUND': 60,
         'J.J. BYRNE PLAYGROUND': 41,
         'ST. JAMES PARK': 149,
         'PARADE GROUND': 90,
         'CALVERT VAUX PARK': 71,
         'WASHINGTON PARK BROOKLYN': 21,
         'DR. RONALD E. MCNAIR PLAYGROUND': 44,
         'RAINEY PARK BRONX': 95,
         'LONDON PLANETREE PLAYGROUND': 28,
         'BRYAN PARK': 9,
         'KAISER PARK': 53,
         'PLAYGROUND EIGHTY NINE LXXXIX': 1,
         'TIFFANY PLAYGROUND': 8,
         'BROOKLYN BRIDGE PARK': 225,
         'MONSIGNOR KETT PLAYGROUND': 12,
         'TRAVERS PARK': 64,
         'TREMONT PARK': 85,
         'HAMMEL PLAYGROUND': 1,
         'POMONOK PLAYGROUND': 11,
         'MERRIAM PLAYGROUND': 50,
         'CHELSEA PARK': 73,
         'BOWNE PARK': 35,
         'FRANZ SIGEL PARK': 157,
         'BREININGER PARK': 7,
         'MACNEIL PARK': 22,
         'FLUSHING FIELDS': 13,
         'SKYLINE PLAYGROUND': 2,
         'CUNNINGHAM PARK': 58,
         'CITY LINE PARK': 23,
         'DE WITT CLINTON PARK': 44,
         'PARK OF THE AMERICAS': 75,
         'POLICE OFFICER NICHOLAS DEMUTIIS PARK': 18,
         'MURRAY PLAYGROUND': 18,
         'JUNIPER VALLEY PARK': 75,
         'VIDALIA PARK': 16,
         'WILLIAM F MOORE PARK': 8,
         'RUSSELL PEDERSEN PLAYGROUND': 14,
         'BOWNE PLAYGROUND': 29,
         'UNNAMED PARK ON SOUTHSIDE STATEN ISLAND EXPRESSWAY & SLOSSON AVENUE': 1,
         'AQUEDUCT WALK': 105,
         'BROWNSVILLE PLAYGROUND': 22,
         'MONTBELLIER PARK': 18,
         'NORTHERN PLAYGROUND': 71,
         'HERBERT VON KING PARK': 60,
         'JACOB H. SCHIFF PLAYGROUND': 53,
         'JOYCE KILMER PARK': 135,
         'JUNCTION PLAYGROUND': 21,
         'AMERICAN TRIANGLE': 5,
         "OWL'S HEAD PARK": 64,
         'UNIVERSITY WOODS': 9,
         'CARROLL PARK': 28,
         'BRONX RIVER PARKWAY': 68,
         'SOUNDVIEW PARK': 102,
         "GREGORY'S GARDEN": 1,
         'DEVOE PARK': 67,
         '"UNCLE" VITO E. MARANZANO GLENDALE PLAYGROUND': 7,
         'HIGHLAND PARK': 141,
         'MOSHOLU PARKWAY': 58,
         'MCLAUGHLIN PARK': 34,
         'HINTON PARK': 13,
         'ELMHURST PARK': 26,
         'GRAVESEND PARK': 30,
         'COLEMAN PLAYGROUND': 51,
         'GALAPO PLAYGROUND': 7,
         'CICCARONE PARK': 10,
         'STEEPLECHASE PARK': 14,
         'STUYVESANT SQUARE': 48,
         'SOL BLOOM PLAYGROUND': 11,
         'STATEN ISLAND INDUSTRIAL PARK': 1,
         'P.O. REINALDO SALGADO PLAYGROUND': 20,
         'HAVEN AVENUE': 15,
         'LAURELTON PLAYGROUND': 16,
         'RUSSELL SAGE PLAYGROUND': 7,
         'PELHAM BAY PARK': 130,
         'BAISLEY POND PARK': 102,
         'STRAUS PARK': 7,
         'VIRGINIA PARK': 8,
         'FRESHKILLS PARK': 9,
         'CEDAR PLAYGROUND': 10,
         'BELMONT PLAYGROUND BRONX': 24,
         'PLAYGROUND NINETY': 35,
         'ALFRED E. SMITH PLAYGROUND': 20,
         'HOPE BALLFIELD': 7,
         'NORTHERLEIGH PARK': 6,
         'MCDONALD PLAYGROUND BROOKLYN': 7,
         'FATHER DUFFY SQUARE': 32,
         'CURTIS PLAYGROUND': 7,
         'COMMODORE BARRY PARK': 51,
         'LA FINCA DEL SUR COMMUNITY GARDEN': 1,
         'MARINE PARK': 96,
         'DETECTIVE KEITH L WILLIAMS PARK': 27,
         'BLAKE HOBBS PLAYGROUND': 5,
         'COLUMBUS PARK BROOKLYN': 11,
         'POTOMAC PLAYGROUND': 21,
         'CHALLENGE PLAYGROUND': 2,
         'SETON FALLS PARK': 35,
         'LITTLE BAY PARK': 18,
         'KOLBERT PLAYGROUND': 34,
         'THOMAS JEFFERSON PARK': 121,
         'JACKIE ROBINSON PARKWAY': 2,
         'SPERANDEO BROTHERS PLAYGROUND': 9,
         'RIVER GARDEN': 3,
         'ROY WILKINS RECREATION CENTER': 64,
         'ECHO TRIANGLE': 50,
         'JACKIE ROBINSON PARK MANHATTAN': 159,
         'BROOKLYN HEIGHTS PROMENADE': 6,
         'JOHN JAY PARK': 20,
         'DEAN PLAYGROUND': 28,
         'VETERANS PARK STATEN ISLAND': 12,
         'THE HIGH LINE': 18,
         'FRANCIS LEWIS PARK': 8,
         'SILVER LAKE PARK': 15,
         'CARMANSVILLE PLAYGROUND': 14,
         'HOUSTON PLAYGROUND': 13,
         'PINK PLAYGROUND': 5,
         'JOHN ALLEN PAYNE PARK': 3,
         'GENE GRAY PLAYGROUND': 1,
         'BUSHWICK PLAYGROUND ON KNICKERBOCKER AVENUE': 30,
         "ST. ANDREW'S PLAYGROUND": 40,
         'TAPPEN PARK': 19,
         'ROCKAWAY BEACH AND BOARDWALK': 297,
         "RANDALL'S ISLAND PARK": 413,
         'MOSHOLU PLAYGROUND': 14,
         'SAMUEL SEABURY PLAYGROUND': 19,
         'MARLBORO PLAYGROUND': 9,
         'MAJOR MARK PARK': 18,
         'DUGAN PLAYGROUND': 14,
         'COLONEL CHARLES YOUNG TRIANGLE': 17,
         'RAVENSWOOD PLAYGROUND': 9,
         'BELLEVUE SOUTH PARK': 30,
         'GRADY PLAYGROUND': 19,
         'DOME PLAYGROUND': 17,
         'SAW MILL PLAYGROUND': 12,
         'HAVEMEYER PLAYGROUND': 6,
         'NICHOLAS NAQUAN HEYWARD JR. PARK': 11,
         'BELMONT PLAYGROUND BROOKLYN': 5,
         'MARTIN LUTHER KING PLAYGROUND': 12,
         'RAPPAPORT PLAYGROUND': 7,
         'FREDERICK JOHNSON PLAYGROUND': 8,
         'LYONS SQUARE PLAYGROUND': 28,
         "WOLFE'S POND PARK": 11,
         'ELTON PLAYGROUND': 26,
         'HECKSCHER PLAYGROUND': 23,
         'ELECTRIC PLAYGROUND': 2,
         'HARLEM LANE PLAYGROUND': 5,
         'MCKINLEY PARK': 54,
         'FROST PLAYGROUND': 1,
         'FRANKLIN D. ROOSEVELT BOARDWALK AND BEACH': 37,
         'TONY DAPOLITO RECREATION CENTER': 12,
         'BILL BOJANGLES ROBINSON PLAYGROUND': 3,
         'SCHENCK PLAYGROUND': 17,
         'HOWARD BENNETT PLAYGROUND': 14,
         'THOMAS PAINE PARK': 8,
         'LINDEN PARK': 62,
         'STAPLETON PLAYGROUND': 17,
         'BATH BEACH PARK': 18,
         'JACKSON SQUARE': 6,
         'IRVING SQUARE PARK': 16,
         'GREELEY SQUARE PARK': 13,
         'GEORGE WALKER JR. PARK': 11,
         'BAY TERRACE PLAYGROUND': 6,
         'MIDLAND FIELD': 7,
         'ISHAM PARK': 8,
         'COL. YOUNG PLAYGROUND': 33,
         "CHARLIE'S PLACE": 4,
         'DR. GERTRUDE B. KELLY PLAYGROUND': 12,
         'GOLCONDA PLAYGROUND': 12,
         'TUDOR PARK': 16,
         'BANNEKER PLAYGROUND': 6,
         'COLLEGE POINT FIELDS': 10,
         "MARC AND JASON'S PLAYGROUND": 14,
         'DELURY SQUARE': 1,
         'SARATOGA PARK': 21,
         'HAMILTON FISH PARK': 52,
         'EDENWALD PLAYGROUND': 9,
         'VINCENT F. ALBANO JR. PLAYGROUND': 2,
         'HERALD SQUARE': 23,
         'MAFERA PARK': 28,
         'GRANT PARK': 39,
         'EASTCHESTER PLAYGROUND': 7,
         'MCCAFFREY PLAYGROUND': 18,
         'HARLEM ART PARK': 13,
         'BETSY HEAD PARK': 70,
         'PUBLIC PLACE': 4,
         'GREAT KILLS PARK': 13,
         'ROBERT E. VENABLE PARK': 23,
         'DREW PLAYGROUND': 6,
         'KELLY PARK': 51,
         'HAGGERTY PARK': 12,
         'WEST PLAYGROUND': 18,
         'MAGENTA PLAYGROUND': 11,
         'CHRISTOPHER PARK': 11,
         'FLYNN PLAYGROUND': 14,
         'SPACE TIME PLAYGROUND': 9,
         'OCEAN BREEZE PARK': 9,
         'HARRIS PARK': 23,
         'PLAYGROUND ONE FORTY': 4,
         'TOMPKINSVILLE PARK': 32,
         'CRISPUS ATTUCKS PLAYGROUND': 8,
         'WEST 4TH STREET COURTS': 13,
         'SETH LOW PLAYGROUND/ BEALIN SQUARE': 66,
         'LINDOWER PARK': 7,
         'WILLIAM SHERIDAN PLAYGROUND': 6,
         'TRIBECA PARK': 7,
         'SPRING CREEK PARK': 2,
         'HERMAN DOLGON PLAYGROUND': 2,
         'A PHILIP RANDOLPH SQUARE': 39,
         "DANIEL M. O'CONNELL PLAYGROUND": 23,
         'BREVOORT PLAYGROUND': 3,
         'JOHN PAUL JONES PARK': 1,
         'PENN SOUTH PLAYGROUND': 20,
         'LUNA PARK': 129,
         'BEACH 17 PLAYGROUND': 12,
         'MARIE CURIE PARK': 12,
         'DYCKMAN HOUSE MUSEUM': 4,
         'BENNETT PARK': 10,
         'FERRY POINT PARK': 31,
         'CROCHERON PARK': 27,
         'CORLEARS HOOK PARK': 10,
         'BOWLING GREEN': 4,
         'HOMECREST PLAYGROUND': 29,
         'CADMAN PLAZA PARK': 15,
         'MARCONI PARK': 16,
         'WILLOWBROOK PARK': 8,
         'PROSPECT PLAYGROUND': 3,
         'MELROSE PLAYGROUND': 5,
         'LEIF ERICSON PARK': 88,
         'BEACH CHANNEL PARK': 1,
         'FORT INDEPENDENCE PLAYGROUND': 13,
         'MOTT PLAYGROUND': 30,
         'BARCLAY TRIANGLE': 1,
         'KOSCIUSZKO POOL': 11,
         'KELTCH PARK': 6,
         'PULASKI PARK': 10,
         'LAFAYETTE PLAYGROUND ON LAFAYETTE AVENUE': 11,
         'SHERMAN CREEK': 11,
         'MATTHEWS MULINER PLAYGROUND': 17,
         'ANDREW HASWELL GREEN PARK': 2,
         'GLENWOOD PLAYGROUND': 6,
         'VETERANS GROVE': 9,
         'CONCRETE PLANT PARK': 45,
         'BENSON PLAYGROUND': 12,
         "VETERAN'S SQUARE": 2,
         'LORETO PLAYGROUND': 12,
         'CLEOPATRA PLAYGROUND': 4,
         'BAYSWATER PARK': 18,
         'JULIO CARBALLO FIELDS': 4,
         'CPL. THOMPSON PARK': 42,
         'WILLIS PLAYGROUND': 26,
         'MARTIN LUTHER PLAYGROUND': 9,
         'MILL POND PARK': 12,
         'RAILROAD PARK BRONX': 8,
         "ST. CATHERINE'S PARK": 16,
         'MINETTA TRIANGLE': 3,
         'CLASSON PLAYGROUND AT CLASSON AVENUE & LAFAYETTE AVENUE': 9,
         'MILESTONE PARK': 13,
         'ASTORIA HEIGHTS PLAYGROUND': 26,
         'LINDSAY TRIANGLE': 18,
         'RODNEY PARK NORTH': 4,
         'WHITEY FORD FIELD': 1,
         'WALTER WARD PLAYGROUND': 10,
         'BROOKVILLE PARK': 28,
         'HIGHBRIDGE PARK BRONX SIDE': 13,
         'COLGATE CLOSE': 2,
         'SIXTEEN LINDENS TRIANGLE': 1,
         'NORTH 5TH STREET PIER AND PARK': 5,
         "O'BRIEN OVAL": 1,
         'GEN. DOUGLAS MACARTHUR PARK': 3,
         'BATH PLAYGROUND': 2,
         'FOX PLAYGROUND BROOKLYN': 17,
         'SUNRISE PLAYGROUND': 3,
         'ROLF HENRY PLAYGROUND': 3,
         'BRIDGE PARK BROOKLYN': 39,
         'LOST BATTALION HALL RECREATION CENTER': 7,
         'MAE GRANT PLAYGROUND': 5,
         'WATSON GLEASON PLAYGROUND': 50,
         'HAMILTON METZ FIELD': 25,
         'FREDERICK DOUGLASS PLAYGROUND': 47,
         'EWEN PARK': 50,
         'UNNAMED PARK ON BEACH CHANNEL DRIVE & BEACH 89TH TO OLD BEACH 88TH STREET': 4,
         'FLEETWOOD TRIANGLE': 1,
         'BEACH CHANNEL PLAYGROUND': 5,
         'GRACE PLAYGROUND': 42,
         'LYONS POOL': 7,
         'GARDEN PLAYGROUND': 8,
         'RAYMOND BUSH PLAYGROUND': 22,
         'ALLERTON PLAYGROUND': 10,
         'ARVERNE PLAYGROUND': 8,
         'DREAM STREET PARK': 2,
         'MELLETT PLAYGROUND': 13,
         'RICHARD TUCKER SQUARE': 4,
         'NEWPORT PLAYGROUND': 5,
         'EAST RIVER WATERFRONT ESPLANADE': 18,
         'UNDERWOOD PARK': 7,
         'WAYANDA PARK': 6,
         'RODNEY PLAYGROUND CENTER': 3,
         'ALLEY ATHLETIC PLAYGROUND': 7,
         'ARCILLA PLAYGROUND': 27,
         'CONTINENTAL ARMY PLAZA': 7,
         'WALT WHITMAN PARK': 1,
         'QUEENS FARM PARK': 1,
         'UNNAMED PARK ON MELROSE AVENUE': 3,
         'DR. RONALD MCNAIR PARK': 4,
         'GORMAN PLAYGROUND': 21,
         'CORPORAL JOHN A. SERAVALLI PLAYGROUND': 26,
         'FIRST PARK': 9,
         'ALEXANDER HAMILTON PLAYGROUND': 6,
         'ELEANOR ROOSEVELT PLAYGROUND': 8,
         'DUANE PARK': 5,
         'SPRINGFIELD PARK': 24,
         'FREDERICK B. JUDGE PLAYGROUND': 5,
         'BEACH 9 PLAYGROUND': 10,
         'DE HOSTOS PLAYGROUND': 8,
         'JAMES WELDON JOHNSON PLAYGROUND': 15,
         "POOR RICHARD'S PLAYGROUND": 17,
         'SHORE PARK AND PARKWAY': 42,
         'GOBLE PLAYGROUND': 12,
         'YAK PLAYGROUND': 4,
         'JONES WOODS PARK': 1,
         'DONNELLAN SQUARE': 3,
         'SEASIDE WILDLIFE NATURE PARK': 7,
         'CLARK PLAYGROUND': 18,
         'WINGATE PARK': 52,
         'BLAND PLAYGROUND': 29,
         'EVERGREEN PARK': 25,
         'REV J POLITE PLAYGROUND': 6,
         'HOYT PLAYGROUND': 12,
         'SEWARD PARK': 61,
         'ASPHALT GREEN': 18,
         "CARTER G. WOODSON CHILDREN'S PARK": 5,
         'BERGEN TRIANGLE': 7,
         'STROUD PLAYGROUND': 7,
         'SEABURY PARK': 2,
         'TAAFFE PLAYGROUND': 5,
         'BRUST PARK': 2,
         'WARDS ISLAND PARK': 16,
         'NELSON PLAYGROUND': 23,
         'HUNTS POINT PLAYGROUND': 18,
         'SHERIDAN SQUARE VIEWING GARDEN': 7,
         'LT. JOSEPH PETROSINO PARK': 25,
         'JAIME CAMPIZ PLAYGROUND': 5,
         'ORACLE PLAYGROUND': 6,
         'UNNAMED PARK ON WEST MOUNT EDEN AVENUE': 2,
         'JESSE OWENS PLAYGROUND': 4,
         'OCEAN PARKWAY MALLS': 3,
         'POPPENHUSEN PLAYGROUND': 14,
         'COLONEL DAVID MARCUS PLAYGROUND': 12,
         'DECATUR PLAYGROUND': 5,
         'LOPEZ PLAYGROUND': 4,
         'POWELL PLAYGROUND': 8,
         'DETECTIVE JOSEPH MAYROSE PARK': 6,
         'P.O. SERRANO PLAYGROUND': 16,
         'ALICE KORNEGAY TRIANGLE': 8,
         'LEMON CREEK PARK': 5,
         'CRACK IS WACK PLAYGROUND': 9,
         'ETHAN ALLEN PLAYGROUND': 5,
         'HARVEY PARK': 4,
         "WASHINGTON'S WALK": 24,
         'AHEARN PARK': 2,
         'COOPER PARK': 22,
         'GILBERT RAMIREZ PARK': 3,
         'PONTIAC PLAYGROUND': 13,
         'HAFFEN PARK': 27,
         'ATHENS SQUARE': 10,
         'CAPTAIN RIVERA PLAYGROUND': 22,
         'VAN NEST PARK': 6,
         'PUGSLEY CREEK PARK': 26,
         'MAPLE PLAYGROUND': 33,
         'MSGR. MCGOLRICK PARK': 38,
         'GREENWOOD PLAYGROUND': 5,
         'FULTON PARK': 39,
         'VIRGINIA PLAYGROUND': 7,
         'SAKURA PARK': 10,
         'RAINEY PARK QUEENS': 18,
         'MIDDLE VILLAGE PLAYGROUND': 15,
         'CARL SCHURZ PARK': 61,
         'ARROCHAR PLAYGROUND': 2,
         'AGNES HAYWOOD PLAYGROUND': 9,
         'COLDEN PLAYGROUND': 14,
         'SETON PARK': 26,
         'JOHN HANCOCK PLAYGROUND': 12,
         'MOUNT PROSPECT PARK': 17,
         'PINOCCHIO PLAYGROUND': 3,
         'JACKIE ROBINSON PARK BROOKLYN': 13,
         'FISH PLAYGROUND': 15,
         'GARIBALDI PLAYGROUND': 6,
         'BRIGHTON PLAYGROUND': 16,
         'BENSONHURST PARK': 29,
         'WEBSTER PLAYGROUND': 13,
         'NOSTRAND PLAYGROUND': 21,
         'MARCY PLAYGROUND': 18,
         'IMAGINATION PLAYGROUND': 4,
         'SOUTH OXFORD PARK': 8,
         "JENNIFER'S PLAYGROUND": 4,
         'HARRY MAZE PLAYGROUND': 5,
         'EUGENE MCCABE FIELD': 1,
         'MARBLE HILL PLAYGROUND': 16,
         'CUYLER GORE PARK': 4,
         'CHERRY CLINTON PLAYGROUND': 4,
         'SOUTH BEACH WETLANDS': 7,
         'NORTH SHORE ESPLANADE': 1,
         'CHIEF DENNIS L. DEVLIN PARK': 15,
         'THE CYCLONE': 2,
         'POLICE OFFICER EDWARD BYRNE PARK': 13,
         'TILDEN PLAYGROUND': 10,
         'PHIL "SCOOTER" RIZZUTO PARK': 17,
         'JACKIE ROBINSON PLAYGROUND': 17,
         'MARTINEZ PLAYGROUND': 5,
         'BATTERY PARK CITY': 47,
         'HOLLIS PLAYGROUND': 10,
         'ABRAHAM LINCOLN PLAYGROUND': 5,
         'PLAYGROUND SEVENTY FIVE': 6,
         "SEAN'S PLACE": 4,
         'DUTCH KILLS PLAYGROUND': 18,
         'EAST RIVER ESPLANADE E 90TH ST TO E 125TH ST': 9,
         'ST. NICHOLAS PLAYGROUND NORTH': 10,
         'P.S. 155 PLAYGROUND': 3,
         'HATTIE CARTHAN PLAYGROUND': 6,
         'UNNAMED PARK ON E 120TH STREET': 4,
         'NOBLE PLAYGROUND': 15,
         'WASHINGTON MARKET PARK': 4,
         'LT. LIA PLAYGROUND': 18,
         'PARKSIDE PLAYGROUND BROOKLYN': 26,
         'FRANCIS LEWIS PLAYGROUND': 1,
         'MAPES BALLFIELD': 1,
         'WNYC TRANSMITTER PARK': 8,
         'FORT WASHINGTON PARK': 38,
         'THE PEARLY GATES': 14,
         'PULASKI PLAYGROUND': 14,
         'WALTON PARK': 9,
         'RENAISSANCE PLAYGROUND': 5,
         'ROCK GARDEN PARK': 8,
         'HOWARD VON DOHLEN PLAYGROUND': 12,
         'CLAREMONT NEIGHBORHOOD GARDEN': 4,
         'SNUG HARBOR CULTURAL CENTER': 13,
         'FORDHAM LANDING PLAYGROUND': 4,
         'GERTRUDE EDERLE RECREATION CENTER': 3,
         'SCHIFF MALL': 2,
         'REV LENA IRONS UNITY PARK': 2,
         'DYKER BEACH PARK': 103,

In [32]:
profiles.column('HADEVELOPT').get('topValues')

[('CASTLE HILL', 7555),
 ('VAN DYKE I', 6108),
 ('MARCY', 5597),
 ('BUTLER', 5231),
 ('GRANT', 5202),
 ('LINCOLN', 5076),
 ('LINDEN', 5039),
 ('DOUGLASS', 4879),
 ('PINK', 4861),
 ('FARRAGUT', 4753)]

In [33]:
profiles.column('HOUSING_PSA').get('topValues')

[('NA', 5567851),
 ('670', 7324),
 ('887', 7263),
 ('845', 6779),
 ('720', 6467),
 ('632', 6327),
 ('645', 6101),
 ('415', 5986),
 ('638', 5794),
 ('696', 5785)]

In [34]:
profiles.minmax('X_COORD_CD')

     min      max
int  111  1067298

In [35]:
profiles.minmax('Y_COORD_CD')

     min      max
int  111  7250292

In [37]:
profiles.column('SUSP_AGE_GROUP').get('topValues')

[('25-44', 1016688),
 ('UNKNOWN', 675029),
 ('18-24', 388005),
 ('45-64', 361740),
 ('<18', 108852),
 ('65+', 30233),
 ('2019', 10),
 ('2020', 10),
 ('2018', 10),
 ('2016', 8)]

In [38]:
profiles.column('SUSP_RACE').get('topValues')

[('BLACK', 1473260),
 ('UNKNOWN', 1033378),
 ('WHITE HISPANIC', 669925),
 ('WHITE', 430563),
 ('BLACK HISPANIC', 203739),
 ('ASIAN / PACIFIC ISLANDER', 126501),
 ('AMERICAN INDIAN/ALASKAN NATIVE', 11922),
 ('OTHER', 11)]

In [39]:
profiles.column('SUSP_SEX').get('topValues')

[('M', 2395200), ('F', 756417), ('U', 664368)]

In [40]:
profiles.column('TRANSIT_DISTRICT').get('topValues')

[('4', 27761),
 ('2', 20230),
 ('3', 15838),
 ('1', 15790),
 ('20', 14466),
 ('33', 14378),
 ('12', 12254),
 ('11', 11288),
 ('32', 11087),
 ('30', 10505)]

In [42]:
profiles.minmax('Latitude')

            min        max
float  40.11271  59.657274

In [43]:
profiles.minmax('Longitude')

             min        max
float -77.519206 -73.684788

In [44]:
profiles.minmax('Lat_Lon')

                               min                            max
str  (40.112709974, -77.519206334)  (59.657273946, -73.872926184)

In [45]:
profiles.column('PATROL_BORO').get('topValues')

[('PATROL BORO BRONX', 1600584),
 ('PATROL BORO BKLYN SOUTH', 1095758),
 ('PATROL BORO BKLYN NORTH', 1092429),
 ('PATROL BORO MAN SOUTH', 891844),
 ('PATROL BORO MAN NORTH', 878987),
 ('PATROL BORO QUEENS NORTH', 757148),
 ('PATROL BORO QUEENS SOUTH', 709396),
 ('PATROL BORO STATEN ISLAND', 343112)]

In [46]:
profiles.column('STATION_NAME').get('topValues')

[('125 STREET', 8203),
 ('14 STREET', 4523),
 ('34 ST.-PENN STATION', 3852),
 ('42 ST.-PORT AUTHORITY BUS TERM', 3734),
 ('116 STREET', 3356),
 ('42 ST.-TIMES SQUARE', 3151),
 ('42 ST.-GRAND CENTRAL', 3134),
 ('CANAL STREET', 2406),
 ('59 ST.-COLUMBUS CIRCLE', 2330),
 ('UTICA AVE.-CROWN HEIGHTS', 2058)]

In [47]:
profiles.column('VIC_AGE_GROUP').get('topValues')

[('25-44', 2433923),
 ('45-64', 1268365),
 ('18-24', 749451),
 ('UNKNOWN', 686421),
 ('<18', 339270),
 ('65+', 259662),
 ('929', 11),
 ('936', 11),
 ('938', 10),
 ('937', 9)]

In [48]:
profiles.column('VIC_RACE').get('topValues')

[('UNKNOWN', 2432937),
 ('BLACK', 1770611),
 ('WHITE', 1268395),
 ('WHITE HISPANIC', 1192045),
 ('ASIAN / PACIFIC ISLANDER', 427143),
 ('BLACK HISPANIC', 251094),
 ('AMERICAN INDIAN/ALASKAN NATIVE', 33428),
 ('OTHER', 31)]

In [49]:
profiles.column('VIC_SEX').get('topValues')

[('F', 2887858), ('M', 2434792), ('E', 1150943), ('D', 902088), ('U', 4)]