#### Import dependencies:

In [1]:
import sys #access to system parameters https://docs.python.org/3/library/sys.html
print("Python version: {}". format(sys.version))

import pandas as pd #collection of functions for data processing and analysis modeled after R dataframes with SQL like features
print("pandas version: {}". format(pd.__version__))

import matplotlib #collection of functions for scientific and publication-ready visualization
import matplotlib as plt
print("matplotlib version: {}". format(matplotlib.__version__))

import numpy as np #foundational package for scientific computing
print("NumPy version: {}". format(np.__version__))

import scipy as sp #collection of functions for scientific computing and advance mathematics
print("SciPy version: {}". format(sp.__version__)) 

import IPython
from IPython import display #pretty printing of dataframes in Jupyter notebook
print("IPython version: {}". format(IPython.__version__)) 

import sklearn #collection of machine learning algorithms
print("scikit-learn version: {}". format(sklearn.__version__))

#misc libraries
import random
import time
#ignore warnings
import warnings
warnings.filterwarnings('ignore')
print('-'*25)
import re
import os
import matplotlib.pyplot as plt
%matplotlib inline

Python version: 3.8.8 (default, Apr 13 2021, 12:59:45)
[Clang 10.0.0 ]
pandas version: 1.2.4
matplotlib version: 3.3.4
NumPy version: 1.20.1
SciPy version: 1.6.2
IPython version: 7.29.0
scikit-learn version: 0.24.1
-------------------------

#### Download data file if it has not been downloaded already:

In [19]:
#url = 'https://data.cityofnewyork.us/api/views/qgea-i56i/rows.csv?accessType=DOWNLOAD'
fn_src = 'https://data.cityofnewyork.us/api/views/h9gi-nx95/rows.csv?accessType=DOWNLOAD'
fn_dst = 'NYPD_Motor_Vehicle_Collisions_Crashe.csv'
from six.moves import urllib

if os.path.isfile(fn_dst):
    print('File %s has already been downloaded' % fn_dst)
else:
    print('Fetching file %s[2.4GB]. This may take a while...' % fn_dst)
    urllib.request.urlretrieve(fn_src, fn_dst)
    print('File %s has been downloaded' % fn_dst)

File NYPD_Motor_Vehicle_Collisions_Crashe.csv has already been downloaded

#### Open a stream to the data file so we don't have to load the whole data set into main memory

In [20]:
from openclean.pipeline import stream
ds_full = stream(fn_dst)

In [21]:
print(f'The dataset contains {ds_full.count():,} rows.')

The dataset contains 1,848,299 rows.

In [22]:
ds_full.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,04/14/2021,5:32,,,,,,BRONX WHITESTONE BRIDGE,,,...,Unspecified,,,,4407480,Sedan,Sedan,,,
1,04/13/2021,21:35,BROOKLYN,11217,40.68358,-73.97617,"(40.68358, -73.97617)",,,620 ATLANTIC AVENUE,...,,,,,4407147,Sedan,,,,
2,04/15/2021,16:15,,,,,,HUTCHINSON RIVER PARKWAY,,,...,,,,,4407665,Station Wagon/Sport Utility Vehicle,,,,
3,04/13/2021,16:00,BROOKLYN,11222,,,,VANDERVORT AVENUE,ANTHONY STREET,,...,Unspecified,,,,4407811,Sedan,,,,
4,04/12/2021,8:25,,,0,0,"(0.0, 0.0)",EDSON AVENUE,,,...,Unspecified,,,,4406885,Station Wagon/Sport Utility Vehicle,Sedan,,,
5,04/13/2021,17:11,,,,,,VERRAZANO BRIDGE UPPER,,,...,Unspecified,,,,4407883,Sedan,Box Truck,,,
6,04/13/2021,17:30,QUEENS,11106,,,,33 st,31ave,,...,Unspecified,,,,4408019,Sedan,Sedan,,,
7,04/16/2021,23:30,,,,,,SHORE PARKWAY,,,...,,,,,4408060,Sedan,,,,
8,04/11/2021,17:00,,,,,,GOWANUS RAMP,,,...,Other Vehicular,,,,4406314,Sedan,Sedan,,,
9,04/16/2021,21:15,,,,,,BRONX RIVER PARKWAY RAMP,,,...,Unspecified,,,,4408149,Station Wagon/Sport Utility Vehicle,Sedan,,,

#### Use openclean to profile the data set:

In [6]:
from openclean.profiling.column import DefaultColumnProfiler

#profiles = ds.profile(default_profiler=DefaultColumnProfiler)
profiles = ds_full.profile(default_profiler=DefaultColumnProfiler)

In [7]:
profiles.stats()

,total,empty,distinct,uniqueness,entropy
CRASH DATE,1848299,0,3447,0.001865,11.687347
CRASH TIME,1848299,0,1440,0.000779,8.931235
BOROUGH,1848299,571200,5,0.000004,2.118409
ZIP CODE,1848299,571422,232,0.000182,7.221101
LATITUDE,1848299,215704,122527,0.075050,15.634194
LONGITUDE,1848299,215704,96067,0.058843,15.342925
LOCATION,1848299,215704,244820,0.149958,16.186650
ON STREET NAME,1848299,378234,16137,0.010977,10.601064
CROSS STREET NAME,1848299,665839,19278,0.016303,11.809442
OFF STREET NAME,1848299,1562434,180625,0.631854,16.922181
NUMBER OF PERSONS INJURED,1848299,18,27,0.000015,0.968233
NUMBER OF PERSONS KILLED,1848299,31,7,0.000004,0.014366
NUMBER OF PEDESTRIANS INJURED,1848299,0,13,0.000007,0.299135
NUMBER OF PEDESTRIANS KILLED,1848299,0,4,0.000002,0.008130
NUMBER OF CYCLIST INJURED,1848299,0,5,0.000003,0.164183
NUMBER OF CYCLIST KILLED,1848299,0,3,0.000002,0.001465
NUMBER OF MOTORIST INJURED,1848299,0,27,0.000015,0.758655
NUMBER OF MOTORIST KILLED,1848299,0,6,0.000003,0.006350
CONTRIBUTING FACTOR VEHICLE 1,1848299,5355,61,0.000033,3.520525
CONTRIBUTING FACTOR VEHICLE 2,1848299,268393,61,0.000039,1.229476
CONTRIBUTING FACTOR VEHICLE 3,1848299,1721439,50,0.000394,0.591861
CONTRIBUTING FACTOR VEHICLE 4,1848299,1820518,39,0.001404,0.495469
CONTRIBUTING FACTOR VEHICLE 5,1848299,1840916,29,0.003928,0.496898
COLLISION_ID,1848299,0,1848299,1.000000,20.817767
VEHICLE TYPE CODE 1,1848299,10216,1315,0.000715,3.264075
VEHICLE TYPE CODE 2,1848299,319543,1455,0.000952,3.571556
VEHICLE TYPE CODE 3,1848299,1725258,202,0.001642,2.912552
VEHICLE TYPE CODE 4,1848299,1821355,84,0.003118,2.728476
VEHICLE TYPE CODE 5,1848299,1841118,55,0.007659,2.679970

In [23]:
# Print the most frequent data type for each column.

print('Schema\n------')
for col in ds_full.columns:
    p = profiles.column(col)
    print("  '{}' ({})".format(col, p['datatypes']['distinct'].most_common(1)[0][0]))

Schema
------
  'CRASH DATE' (date)
  'CRASH TIME' (str)
  'BOROUGH' (str)
  'ZIP CODE' (int)
  'LATITUDE' (float)
  'LONGITUDE' (float)
  'LOCATION' (str)
  'ON STREET NAME' (str)
  'CROSS STREET NAME' (str)
  'OFF STREET NAME' (str)
  'NUMBER OF PERSONS INJURED' (int)
  'NUMBER OF PERSONS KILLED' (int)
  'NUMBER OF PEDESTRIANS INJURED' (int)
  'NUMBER OF PEDESTRIANS KILLED' (int)
  'NUMBER OF CYCLIST INJURED' (int)
  'NUMBER OF CYCLIST KILLED' (int)
  'NUMBER OF MOTORIST INJURED' (int)
  'NUMBER OF MOTORIST KILLED' (int)
  'CONTRIBUTING FACTOR VEHICLE 1' (str)
  'CONTRIBUTING FACTOR VEHICLE 2' (str)
  'CONTRIBUTING FACTOR VEHICLE 3' (str)
  'CONTRIBUTING FACTOR VEHICLE 4' (str)
  'CONTRIBUTING FACTOR VEHICLE 5' (str)
  'COLLISION_ID' (int)
  'VEHICLE TYPE CODE 1' (str)
  'VEHICLE TYPE CODE 2' (str)
  'VEHICLE TYPE CODE 3' (str)
  'VEHICLE TYPE CODE 4' (str)
  'VEHICLE TYPE CODE 5' (str)

## Profiling & Cleaning of each field in the data set

In [24]:
profiles.minmax('CRASH DATE')

            min        max
date 2012-07-01 2021-12-07

This shows the data ranges from 2012 to 2021

In [25]:
from datetime import datetime
#datetime.strptime('2014-12-04', '%Y-%m-%d').date()


def validate_date(sourceValue):
    dummy_date = datetime.strptime("01/01/1000", '%m/%d/%Y').date()
    
    try:
        source_date = sourceValue
        start_date = datetime.strptime("01/07/2012", '%m/%d/%Y').date()
        end_date = datetime.strptime("07/12/2021", '%m/%d/%Y').date()
    
        if source_date == '':
            source_date = dummy_date
        
        source_date = datetime.strptime(sourceValue, '%m/%d/%Y').date()
        
        if source_date >= start_date and source_date <= end_date:
            return source_date
        else:
            return dummy_date
    except:
        return dummy_date
    

ds_full = ds_full.update('CRASH DATE', validate_date)

In [26]:
profiles.minmax('CRASH TIME')

      min   max
str  0:00  9:59

In [27]:
profiles.minmax('ZIP CODE')

       min    max
int  10000  11697
str

In [28]:
profiles.column('ZIP CODE').get('topValues')

[('11207', 24006),
 ('11101', 17327),
 ('11236', 16726),
 ('11203', 16189),
 ('10019', 16058),
 ('11385', 15857),
 ('11234', 15815),
 ('11201', 15547),
 ('10016', 15520),
 ('10036', 15429)]

In [29]:
profiles.column('BOROUGH').get('topValues')

[('BROOKLYN', 402138),
 ('QUEENS', 342100),
 ('MANHATTAN', 293456),
 ('BRONX', 185604),
 ('STATEN ISLAND', 53801)]

In [108]:
ds_full.distinct('BOROUGH')

Counter({'UNKNOWN': 571200,
         'BROOKLYN': 402138,
         'QUEENS': 342100,
         'STATEN ISLAND': 53801,
         'BRONX': 185604,
         'MANHATTAN': 293456})

In [33]:
def validate_crime_indicator(sourceValue):
    UNKNOWN = "UNKNOWN"
    
    try:
        crime_indicator_list = ["BROOKLYN", "QUEENS", "STATEN ISLAND","BRONX","MANHATTAN"]
        
        if sourceValue in crime_indicator_list:
            return sourceValue
        else:
            return UNKNOWN
    except:
        return UNKNOWN

    
ds_full = ds_full.update('BOROUGH', validate_crime_indicator)

In [35]:
profiles.column('COLLISION_ID').get('topValues')

[('4407480', 1),
 ('4407147', 1),
 ('4407665', 1),
 ('4407811', 1),
 ('4406885', 1),
 ('4407883', 1),
 ('4408019', 1),
 ('4408060', 1),
 ('4406314', 1),
 ('4408149', 1)]

In [34]:
ds_full.distinct('COLLISION_ID')

Counter({'4407480': 1,
         '4407147': 1,
         '4407665': 1,
         '4407811': 1,
         '4406885': 1,
         '4407883': 1,
         '4408019': 1,
         '4408060': 1,
         '4406314': 1,
         '4408149': 1,
         '4406488': 1,
         '4408310': 1,
         '4406097': 1,
         '4136992': 1,
         '4277087': 1,
         '4395664': 1,
         '4397513': 1,
         '4403773': 1,
         '4405244': 1,
         '4405914': 1,
         '4408191': 1,
         '4407366': 1,
         '4407778': 1,
         '4407461': 1,
         '4407407': 1,
         '4407900': 1,
         '4407760': 1,
         '4407746': 1,
         '4408143': 1,
         '4407638': 1,
         '4407958': 1,
         '4407885': 1,
         '4407616': 1,
         '4408038': 1,
         '4408224': 1,
         '4407392': 1,
         '4407765': 1,
         '4407821': 1,
         '4407520': 1,
         '4380668': 1,
         '4407902': 1,
         '4407971': 1,
         '4408071': 1,
         '4407430': 1,
         '4408259': 1,
         '4407592': 1,
         '4407674': 1,
         '4407708': 1,
         '4408396': 1,
         '4407152': 1,
         '4407862': 1,
         '4407435': 1,
         '4407636': 1,
         '4407792': 1,
         '4407853': 1,
         '4408205': 1,
         '4407945': 1,
         '4408118': 1,
         '4408242': 1,
         '4407563': 1,
         '4408098': 1,
         '4407169': 1,
         '4407798': 1,
         '4407797': 1,
         '4407349': 1,
         '4407994': 1,
         '4408032': 1,
         '4407478': 1,
         '4407924': 1,
         '4408315': 1,
         '4407892': 1,
         '4408280': 1,
         '4408403': 1,
         '4407753': 1,
         '4408003': 1,
         '4407497': 1,
         '4408229': 1,
         '4407525': 1,
         '4407817': 1,
         '4407539': 1,
         '4408306': 1,
         '4407830': 1,
         '4407282': 1,
         '4407688': 1,
         '4407701': 1,
         '4407728': 1,
         '4408052': 1,
         '4407849': 1,
         '4407320': 1,
         '4407291': 1,
         '4408200': 1,
         '4407649': 1,
         '4407802': 1,
         '4380494': 1,
         '4407345': 1,
         '4408356': 1,
         '4407245': 1,
         '4408057': 1,
         '4407538': 1,
         '4408332': 1,
         '4407785': 1,
         '4407929': 1,
         '4407425': 1,
         '4408080': 1,
         '4408123': 1,
         '4408290': 1,
         '4408412': 1,
         '4407757': 1,
         '4407770': 1,
         '4407554': 1,
         '4407873': 1,
         '4407502': 1,
         '4408044': 1,
         '4408165': 1,
         '4407544': 1,
         '4407277': 1,
         '4407834': 1,
         '4407338': 1,
         '4407397': 1,
         '4408109': 1,
         '4407683': 1,
         '4407829': 1,
         '4407496': 1,
         '4407609': 1,
         '4407689': 1,
         '4407861': 1,
         '4407350': 1,
         '4407721': 1,
         '4407381': 1,
         '4407653': 1,
         '4407299': 1,
         '4407590': 1,
         '4407896': 1,
         '4407914': 1,
         '4407512': 1,
         '4408427': 1,
         '4407532': 1,
         '4408086': 1,
         '4407856': 1,
         '4407729': 1,
         '4407789': 1,
         '4408129': 1,
         '4407576': 1,
         '4408193': 1,
         '4407643': 1,
         '4407906': 1,
         '4407414': 1,
         '4407623': 1,
         '4407436': 1,
         '4407952': 1,
         '4407761': 1,
         '4408063': 1,
         '4407388': 1,
         '4407766': 1,
         '4407901': 1,
         '4408104': 1,
         '4407486': 1,
         '4408264': 1,
         '4407678': 1,
         '4407355': 1,
         '4408155': 1,
         '4408271': 1,
         '4408380': 1,
         '4407598': 1,
         '4407693': 1,
         '4407866': 1,
         '4407452': 1,
         '4407809': 1,
         '4407393': 1,
         '4407453': 1,
         '4408214': 1,
         '4407824': 1,
         '4407431': 1,
         '4407632': 1,
         '4407841': 1,
         '4407096': 1,
         '4407658': 1,
         '4407933': 1,
         '4407976': 1,
         '4407714': 1,
         '4407373': 1,
         '4407568': 1,
         '4407707': 1,
         '4407692': 1,
         '4407615': 1,
         '4407865': 1,
         '4407154': 1,
         '4407637': 1,
         '4407354': 1,
         '4407793': 1,
         '4407432': 1,
         '4407946': 1,
         '4407852': 1,
         '4408249': 1,
         '4407987': 1,
         '4408215': 1,
         '4408027': 1,
         '4407389': 1,
         '4407562': 1,
         '4407794': 1,
         '4407596': 1,
         '4407779': 1,
         '4407997': 1,
         '4407408': 1,
         '4408313': 1,
         '4407747': 1,
         '4408402': 1,
         '4407702': 1,
         '4407652': 1,
         '4407762': 1,
         '4407297': 1,
         '4407321': 1,
         '4408100': 1,
         '4407505': 1,
         '4408047': 1,
         '4407805': 1,
         '4407697': 1,
         '4407367': 1,
         '4407837': 1,
         '4407548': 1,
         '4407820': 1,
         '4408150': 1,
         '4407842': 1,
         '4407673': 1,
         '4407278': 1,
         '4407459': 1,
         '4407514': 1,
         '4408367': 1,
         '4407313': 1,
         '4407396': 1,
         '4407611': 1,
         '4408053': 1,
         '4407905': 1,
         '4407642': 1,
         '4407556': 1,
         '4407774': 1,
         '4407360': 1,
         '4408139': 1,
         '4407848': 1,
         '4407401': 1,
         '4408223': 1,
         '4408075': 1,
         '4407967': 1,
         '4407875': 1,
         '4407915': 1,
         '4408258': 1,
         '4408033': 1,
         '4408308': 1,
         '4407869': 1,
         '4407732': 1,
         '4407684': 1,
         '4406419': 1,
         '4407602': 1,
         '4407959': 1,
         '4408397': 1,
         '4408067': 1,
         '4408279': 1,
         '4407723': 1,
         '4408198': 1,
         '4407501': 1,
         '4408119': 1,
         '4408359': 1,
         '4407816': 1,
         '4407168': 1,
         '4407543': 1,
         '4407801': 1,
         '4407346': 1,
         '4407769': 1,
         '4408093': 1,
         '4407475': 1,
         '4408113': 1,
         '4407833': 1,
         '4407923': 1,
         '4407424': 1,
         '4407741': 1,
         '4407891': 1,
         '4407647': 1,
         '4407909': 1,
         '4407439': 1,
         '4407604': 1,
         '4407752': 1,
         '4407380': 1,
         '4408037': 1,
         '4408416': 1,
         '4407549': 1,
         '4408002': 1,
         '4408227': 1,
         '4408262': 1,
         '4407897': 1,
         '4408187': 1,
         '4407975': 1,
         '4408164': 1,
         '4407910': 1,
         '4408085': 1,
         '4408250': 1,
         '4408028': 1,
         '4407580': 1,
         '4408302': 1,
         '4407400': 1,
         '4408128': 1,
         '4407806': 1,
         '4408194': 1,
         '4408289': 1,
         '4407953': 1,
         '4408391': 1,
         '4408204': 1,
         '4407870': 1,
         '4407524': 1,
         '4408353': 1,
         '4407243': 1,
         '4407445': 1,
         '4408056': 1,
         '4407327': 1,
         '4407784': 1,
         '4407928': 1,
         '4408107': 1,
         '4407454': 1,
         '4407372': 1,
         '4407444': 1,
         '4407756': 1,
         '4407620': 1,
         '4407412': 1,
         '4407633': 1,
         '4407119': 1,
         '4407660': 1,
         '4408154': 1,
         '4407773': 1,
         '4407567': 1,
         '4407938': 1,
         '4407713': 1,
         '4408017': 1,
         '4408208': 1,
         '4408043': 1,
         '4408233': 1,
         '4407990': 1,
         '4408079': 1,
         '4408217': 1,
         '4408331': 1,
         '4407698': 1,
         '4407825': 1,
         '4408411': 1,
         '4408122': 1,
         '4407838': 1,
         '4407948': 1,
         '4407843': 1,
         '4407515': 1,
         '4407312': 1,
         '4407314': 1,
         '4407489': 1,
         '4407656': 1,
         '4407332': 1,
         '4407506': 1,
         '4408401': 1,
         '4407677': 1,
         '4407359': 1,
         '4407533': 1,
         '4408266': 1,
         '4407696': 1,
         '4407261': 1,
         '4407857': 1,
         '4407490': 1,
         '4407788': 1,
         '4408379': 1,
         '4408103': 1,
         '4408076': 1,
         '4408049': 1,
         '4407527': 1,
         '4407836': 1,
         '4408274': 1,
         '4407547': 1,
         '4407815': 1,
         '4408375': 1,
         '4407279': 1,
         '4407331': 1,
         '4407686': 1,
         '4408398': 1,
         '4408066': 1,
         '4408309': 1,
         '4408068': 1,
         '4407691': 1,
         '4407353': 1,
         '4407433': 1,
         '4407679': 1,
         '4407566': 1,
         '4408026': 1,
         '4407651': 1,
         '4407296': 1,
         '4407826': 1,
         '4408186': 1,
         '4407368': 1,
         '4407804': 1,
         '4407242': 1,
         '4407858': 1,
         '4407795': 1,
         '4407347': 1,
         '4408059': 1,
         '4407715': 1,
         '4408114': 1,
         '4408312': 1,
         '4407922': 1,
         '4407342': 1,
         '4407882': 1,
         '4407748': 1,
         '4407619': 1,
         '4407534': 1,
         '4408297': 1,
         '4407763': 1,
         '4408005': 1,
         '4407390': 1,
         '4407504': 1,
         '4408231': 1,
         '4407049': 1,
         '4408106': 1,
         '4407542': 1,
         '4407819': 1,
         '4407523': 1,
         '4407428': 1,
         '4408257': 1,
         '4407595': 1,
         '4407672': 1,
         '4407832': 1,
         '4407384': 1,
         '4408387': 1,
         '4407790': 1,
         '4407612': 1,
         '4407775': 1,
         '4407864': 1,
         '4407379': 1,
         '4408054': 1,
         '4407156': 1,
         '4407634': 1,
         '4408389': 1,
         '4407724': 1,
         '4407942': 1,
         '4408197': 1,
         '4407847': 1,
         '4407403': 1,
         '4408120': 1,
         '4407703': 1,
         '4407668': 1,
         '4407570': 1,
         '4408101': 1,
         '4407898': 1,
         '4407800': 1,
         '4407917': 1,
         '4408151': 1,
         '4407758': 1,
         '4407780': 1,
         '4408034': 1,
         '4407998': 1,
         '4407410': 1,
         '4408112': 1,
         '4407731': 1,
         '4408095': 1,
         '4407470': 1,
         '4407582': 1,
         '4408360': 1,
         '4408126': 1,
         '4407395': 1,
         '4407904': 1,
         '4408288': 1,
         '4407961': 1,
         '4407363': 1,
         '4407629': 1,
         '4407641': 1,
         '4408140': 1,
         '4408226': 1,
         '4407500': 1,
         '4407558': 1,
         '4407421': 1,
         '4407743': 1,
         '4407876': 1,
         '4408261': 1,
         '4407965': 1,
         '4407450': 1,
         '4407812': 1,
         '4408163': 1,
         '4408276': 1,
         '4407676': 1,
         '4407868': 1,
         '4408111': 1,
         '4407807': 1,
         '4407706': 1,
         '4407456': 1,
         '4408050': 1,
         '4407699': 1,
         '4407605': 1,
         '4407135': 1,
         '4407661': 1,
         '4407930': 1,
         '4407851': 1,
         '4407844': 1,
         '4407630': 1,
         '4407383': 1,
         '4408202': 1,
         '4407516': 1,
         '4407317': 1,
         '4408210': 1,
         '4407894': 1,
         '4408354': 1,
         '4407911': 1,
         '4407839': 1,
         '4408084': 1,
         '4405671': 1,
         '4407510': 1,
         '4407992': 1,
         '4408252': 1,
         '4408221': 1,
         '4408030': 1,
         '4407787': 1,
         '4407646': 1,
         '4408195': 1,
         '4407571': 1,
         '4407908': 1,
         '4407427': 1,
         '4408409': 1,
         '4408121': 1,
         '4407954': 1,
         '4407755': 1,
         '4407438': 1,
         '4408419': 1,
         '4408036': 1,
         '4407871': 1,
         '4407551': 1,
         '4407481': 1,
         '4407341': 1,
         '4407974': 1,
         '4408040': 1,
         '4408069': 1,
         '4408267': 1,
         '4407358': 1,
         '4407768': 1,
         '4407695': 1,
         '4407265': 1,
         '4408300': 1,
         '4407680': 1,
         '4407494': 1,
         '4408304': 1,
         '4407827': 1,
         '4407399': 1,
         '4407740': 1,
         '4408392': 1,
         '4407822': 1,
         '4407655': 1,
         '4407712': 1,
         '4407343': 1,
         '4407364': 1,
         '4407560': 1,
         '4408232': 1,
         '4407529': 1,
         '4407535': 1,
         '4407744': 1,
         '4407854': 1,
         '4407250': 1,
         '4407783': 1,
         '4408325': 1,
         '4407926': 1,
         '4407877': 1,
         '4407443': 1,
         '4407751': 1,
         '4407890': 1,
         '4408065': 1,
         '4407772': 1,
         '4408189': 1,
         '4408021': 1,
         '4407310': 1,
         '4408400': 1,
         '4407749': 1,
         '4408294': 1,
         '4408206': 1,
         '4408117': 1,
         '4407498': 1,
         '4408102': 1,
         '4407241': 1,
         '4408362': 1,
         '4407371': 1,
         '4407526': 1,
         '4407799': 1,
         '4407716': 1,
         '4407859': 1,
         '4408058': 1,
         '4408096': 1,
         '4408115': 1,
         '4407479': 1,
         '4407920': 1,
         '4407330': 1,
         '4407640': 1,
         '4407881': 1,
         '4407613': 1,
         '4408141': 1,
         '4407863': 1,
         '4407405': 1,
         '4407776': 1,
         '4408039': 1,
         '4408004': 1,
         '4407391': 1,
         '4407903': 1,
         '4407565': 1,
         '4408230': 1,
         '4408265': 1,
         '4407972': 1,
         '4408070': 1,
         '4407918': 1,
         '4407593': 1,
         '4407411': 1,
         '4407781': 1,
         '4408083': 1,
         '4408282': 1,
         '4407956': 1,
         '4407726': 1,
         '4408408': 1,
         '4407323': 1,
         '4407704': 1,
         '4407293': 1,
         '4407650': 1,
         '4407503': 1,
         '4408201': 1,
         '4407764': 1,
         '4407803': 1,
         '4407541': 1,
         '4407348': 1,
         '4407429': 1,
         '4408152': 1,
         '4407814': 1,
         '4407522': 1,
         '4407462': 1,
         '4408370': 1,
         '4407831': 1,
         '4407281': 1,
         '4407161': 1,
         '4408055': 1,
         '4407690': 1,
         '4407434': 1,
         '4407351': 1,
         '4407791': 1,
         '4407635': 1,
         '4407846': 1,
         '4407943': 1,
         '4407569': 1,
         '4408225': 1,
         '4407899': 1,
         '4407669': 1,
         '4407796': 1,
         '4408260': 1,
         '4407759': 1,
         '4408031': 1,
         '4408000': 1,
         '4407386': 1,
         '4407583': 1,
         '4407687': 1,
         '4407495': 1,
         '4407700': 1,
         '4408124': 1,
         '4408414': 1,
         '4407860': 1,
         '4407720': 1,
         '4407845': 1,
         '4407823': 1,
         '4407319': 1,
         '4407517': 1,
         '4407654': 1,
         '4407482': 1,
         '4360880': 1,
         '4407300': 1,
         '4407344': 1,
         '4407818': 1,
         '4407545': 1,
         '4407536': 1,
         '4407267': 1,
         '4407670': 1,
         '4407786': 1,
         '4408105': 1,
         '4408385': 1,
         '4408051': 1,
         '4407705': 1,
         '4407574': 1,
         '4407739': 1,
         '4407418': 1,
         '4407628': 1,
         '4407631': 1,
         '4407151': 1,
         '4407694': 1,
         '4407442': 1,
         '4407458': 1,
         '4407754': 1,
         '4407932': 1,
         '4407664': 1,
         '4407771': 1,
         '4407382': 1,
         '4407553': 1,
         '4387870': 1,
         '4407850': 1,
         '4407895': 1,
         '4408222': 1,
         '4407813': 1,
         '4408158': 1,
         '4407993': 1,
         '4408278': 1,
         '4408351': 1,
         '4407398': 1,
         '4407681': 1,
         '4407828': 1,
         '4407808': 1,
         '4408138': 1,
         '4408365': 1,
         '4408393': 1,
         '4407880': 1,
         '4407745': 1,
         '4408064': 1,
         '4407840': 1,
         '4408097': 1,
         '4407980': 1,
         '4408190': 1,
         '4407872': 1,
         '4408355': 1,
         '4407451': 1,
         '4407340': 1,
         '4407249': 1,
         '4407511': 1,
         '4407561': 1,
         '4407365': 1,
         '4407357': 1,
         '4407530': 1,
         '4407675': 1,
         '4408269': 1,
         '4407855': 1,
         '4407925': 1,
         '4407782': 1,
         '4408110': 1,
         '4407394': 1,
         '4407426': 1,
         '4407644': 1,
         '4407606': 1,
         '4407730': 1,
         '4407907': 1,
         '4407750': 1,
         '4407437': 1,
         '4407889': 1,
         '4407767': 1,
         '4407387': 1,
         '4407710': 1,
         '4408211': 1,
         '4408020': 1,
         '4407588': 1,
         '4408045': 1,
         '4408166': 1,
         '4408424': 1,
         '4408235': 1,
         '4407913': 1,
         '4407599': 1,
         '4408089': 1,
         '4407919': 1,
         '4407867': 1,
         '4407777': 1,
         '4408305': 1,
         '4407614': 1,
         '4407406': 1,
         '4438348': 1,
         '4438480': 1,
         '4438509': 1,
         '4437917': 1,
         '4438552': 1,
         '4437782': 1,
         '4438465': 1,
         '4438329': 1,
         '4438340': 1,
         '4438570': 1,
         '4438353': 1,
         '4437830': 1,
         '4405535': 1,
         '4407989': 1,
         '4407218': 1,
         '4405534': 1,
         '4408216': 1,
         '4405696': 1,
         '4408583': 1,
         '4404427': 1,
         '4408179': 1,
         '4408048': 1,
         '4408340': 1,
         '4408169': 1,
         '4408579': 1,
         '4408548': 1,
         '4407874': 1,
         '4403283': 1,
         '4408134': 1,
         '4408451': 1,
         '4408207': 1,
         '4408519': 1,
         '4408680': 1,
         '4407887': 1,
         '4408228': 1,
         '4408570': 1,
         '4408664': 1,
         '4408498': 1,
         '4407921': 1,
         '4408010': 1,
         '4408357': 1,
         '4408415': 1,
         '4408455': 1,
         '4408469': 1,
         '4407984': 1,
         '4407951': 1,
         '4408765': 1,
         '4407978': 1,
         '4407955': 1,
         '4408598': 1,
         '4408006': 1,
         '4407935': 1,
         '4408468': 1,
         '4408182': 1,
         '4408277': 1,
         '4408489': 1,
         '4408430': 1,
         '4408475': 1,
         '4407944': 1,
         '4408148': 1,
         '4408756': 1,
         '4408413': 1,
         '4408533': 1,
         '4408774': 1,
         '4408011': 1,
         '4408088': 1,
         '4408615': 1,
         '4407963': 1,
         '4408518': 1,
         '4408442': 1,
         '4408460': 1,
         '4408510': 1,
         '4408589': 1,
         '4408174': 1,
         '4408554': 1,
         '4408251': 1,
         '4408127': 1,
         '4408374': 1,
         '4408022': 1,
         '4408524': 1,
         '4408319': 1,
         '4408135': 1,
         '4408209': 1,
         '4408564': 1,
         '4407878': 1,
         '4408641': 1,
         '4408074': 1,
         '4408505': 1,
         '4408546': 1,
         '4407888': 1,
         '4408571': 1,
         '4408018': 1,
         '4408212': 1,
         '4408665': 1,
         '4408130': 1,
         '4408497': 1,
         '4408523': 1,
         '4408170': 1,
         '4408614': 1,
         '4407962': 1,
         '4407979': 1,
         '4408436': 1,
         '4408061': 1,
         '4408480': 1,
         '4408677': 1,
         '4407947': 1,
         '4408333': 1,
         '4408443': 1,
         '4407969': 1,
         '4408147': 1,
         '4408536': 1,
         '4408490': 1,

In [36]:
ds_full.distinct('ON STREET NAME')

Counter({'BRONX WHITESTONE BRIDGE': 168,
         '': 378234,
         'HUTCHINSON RIVER PARKWAY': 168,
         'VANDERVORT AVENUE': 23,
         'EDSON AVENUE                    ': 235,
         'VERRAZANO BRIDGE UPPER': 159,
         '33 st': 1,
         'SHORE PARKWAY': 94,
         'GOWANUS RAMP                    ': 716,
         'BRONX RIVER PARKWAY RAMP': 48,
         'BEVERLEY ROAD                   ': 989,
         'GREENFIELD AVENUE': 1,
         'BROOKLYN BRIDGE                 ': 1237,
         'GOLD STREET': 16,
         'BRUCKNER BLVD': 1,
         'COURT STREET': 33,
         'RALPH AVENUE': 137,
         'BARCLAY AVENUE': 10,
         'BRONX RIVER PARKWAY': 279,
         'MAJOR DEEGAN EXPRESSWAY RAMP': 64,
         'CROSS ISLAND PARKWAY': 508,
         'MYRTLE AVENUE': 205,
         'GARRISON AVENUE': 20,
         'HUGUENOT AVENUE': 18,
         'BOSTON ROAD': 145,
         'GLENWOOD ROAD': 66,
         'WEST 94 STREET': 7,
         'PRINCE STREET': 28,
         'BROADWAY': 645,
         'EAST 19 STREET': 8,
         '7 AVENUE': 200,
         'EASTCHESTER ROAD': 38,
         'BELT PARKWAY                    ': 13543,
         'BROOKLYN QUEENS EXPRESSWAY': 659,
         'GOWANUS EXPY (BQE)': 99,
         'HOWARD AVENUE': 49,
         'EASTERN PARKWAY': 252,
         'EAST TREMONT AVENUE': 181,
         'HAVEMEYER STREET': 15,
         'LONG ISLAND EXPRESSWAY': 671,
         'BELT PARKWAY': 1221,
         'WHITESTONE EXPRESSWAY': 155,
         'BELL BOULEVARD': 33,
         '73 AVENUE': 28,
         'VAN WYCK EXPWY': 362,
         '140 AVENUE': 17,
         'WEST 35 STREET': 18,
         '24 STREET': 11,
         'ARMSTRONG AVENUE': 11,
         'CLINTONVILLE STREET': 8,
         'METROPOLITAN AVENUE': 146,
         'ELIOT AVENUE': 24,
         'BUSHWICK AVENUE': 233,
         'WEST 180 STREET': 20,
         'GERARD AVENUE': 29,
         'MADISON STREET': 31,
         'STORY STREET': 1,
         'COOPER AVENUE': 22,
         'KINGS HIGHWAY': 195,
         'ARLINGTON PLACE': 1,
         'WEST 42 STREET': 51,
         '2 AVENUE': 265,
         'FORT HAMILTON PARKWAY': 43,
         'EAST 66 STREET': 8,
         'WEST 8 STREET': 20,
         'EDISON STREET': 2,
         'OCEAN PARKWAY': 172,
         'RIVER AVENUE': 20,
         'BATH AVENUE': 18,
         'LENOX AVENUE': 59,
         'BRONX WHITESTONE BRIDGE         ': 1696,
         'STEWART AVENUE': 10,
         'BRUCKNER BOULEVARD': 314,
         'FOSTER AVENUE': 75,
         'NORWAY AVENUE': 1,
         'SUTTER AVENUE': 143,
         'CENTRAL AVENUE': 81,
         'RICHMOND AVENUE': 93,
         'WEST 122 STREET': 14,
         'GRAND CENTRAL PKWY': 538,
         'EAST 42 STREET': 33,
         '30 STREET': 23,
         'FULTON STREET': 217,
         'WEST 29 STREET': 23,
         'EAST 57 STREET': 33,
         'MC DONALD AVENUE': 41,
         'AMBOY ROAD': 47,
         'WASHINGTON AVENUE': 87,
         'PARSONS BLVD': 1,
         'STATEN ISLAND EXPRESSWAY': 297,
         'EAST 209 STREET': 2,
         'SOUTHERN BOULEVARD': 81,
         'HEGEMAN AVENUE': 40,
         'DUMONT AVENUE': 56,
         'GRANT HIGHWAY': 19,
         '111 AVENUE': 44,
         'OGDEN AVENUE': 37,
         '51 AVENUE': 18,
         'FLATBUSH AVENUE EXTENSION': 56,
         '201 STREET': 8,
         'ATLANTIC AVENUE': 619,
         '4 AVENUE': 143,
         '16 AVENUE': 20,
         'ALDUS STREET': 3,
         'TINTON AVENUE': 12,
         'PERRY AVENUE': 8,
         'SAINT JOHNS PLACE': 68,
         'BERGEN STREET': 67,
         '41 STREET': 24,
         'Trans- Manhattan Expressway': 1,
         'EAST 80 STREET': 39,
         'TOMPKINS AVENUE': 61,
         'WEST END AVENUE': 37,
         'BROOK AVENUE': 20,
         '241 STREET': 10,
         'EAST 115 STREET': 14,
         'BROOKVILLE BOULEVARD': 69,
         'SUTPHIN BOULEVARD': 61,
         'VANDAM STREET': 50,
         'AMSTERDAM AVENUE': 216,
         '93 STREET': 14,
         'GRAND CONCOURSE': 177,
         '218 STREET': 10,
         'REVIEW AVENUE': 10,
         'AVENUE M': 62,
         'HUGHES AVENUE': 3,
         'FDR DRIVE': 623,
         'UNION TURNPIKE': 91,
         'AVENUE J': 50,
         'MONTROSE AVENUE': 16,
         'EAST 183 STREET': 25,
         'ARCHER AVENUE': 9,
         'JAMAICA AVENUE': 216,
         'EAST 233 STREET': 68,
         'WILLIAMSBURG BRIDGE OUTER ROADWA': 667,
         '102 ROAD': 3,
         'WADSWORTH AVENUE': 13,
         'ROCKAWAY PARKWAY': 110,
         'ROEBLING STREET': 18,
         'EAST 90 STREET': 13,
         '263 STREET': 5,
         '86 STREET': 108,
         'AVENUE F': 5,
         '14 AVENUE': 79,
         'WILLIAMSBURG STREET WEST': 23,
         'EAST 125 STREET': 61,
         'WEST 48 STREET': 15,
         'EAST 193 STREET': 9,
         'MERMAID AVENUE': 39,
         '85 STREET': 45,
         '51 STREET': 28,
         'SURF AVENUE': 37,
         'BENSON AVENUE': 16,
         'HARLEM RIVER DRIVE': 137,
         '3 AVENUE': 412,
         'PAYSON AVENUE': 5,
         'HYLAN BOULEVARD': 184,
         'QUEENSBORO BRIDGE UPPER': 28,
         'SUYDAM PLACE': 1,
         'EAST 26 STREET': 16,
         '8 AVENUE': 181,
         'FLATBUSH AVENUE': 304,
         'MARCY AVENUE': 58,
         'G.C.P. / LAGUARDIA (CDR)        ': 168,
         '37 AVENUE': 53,
         'EAST 20 STREET': 9,
         'WEST 32 STREET': 10,
         'RIVERDALE AVENUE': 36,
         'MAJOR DEEGAN EXPRESSWAY': 501,
         'CROSS BRONX EXPY': 475,
         'G.C.P. / JEWEL (CDR)': 2,
         'FOOTHILL AVENUE': 1,
         '120 STREET': 14,
         'BARTOW AVENUE': 23,
         'NOSTRAND AVENUE': 215,
         'MAURICE AVENUE': 27,
         'MENAHAN STREET': 12,
         '131 STREET': 13,
         'BLAKE AVENUE': 50,
         'CHAUNCEY STREET': 7,
         'NORTHERN BOULEVARD': 303,
         'PARK AVENUE': 196,
         'EAST 206 STREET': 3,
         'WOODHAVEN BOULEVARD': 142,
         'CHURCH AVENUE': 93,
         'STUYVESANT AVENUE': 21,
         'EAST GUN HILL ROAD': 126,
         'COLUMBUS AVENUE': 58,
         'WEST 181 STREET': 32,
         'NEWPORT STREET': 14,
         '5 AVENUE': 200,
         '38 AVENUE': 19,
         'TELLER AVENUE': 13,
         'ATTORNEY STREET': 3,
         'Beadle Street': 1,
         'UNDERCLIFF AVENUE': 12,
         'EAST 184 STREET': 32,
         'MANHATTAN AVENUE': 61,
         'EAST 128 STREET': 11,
         'LENOX ROAD': 53,
         '155 STREET': 18,
         'BEDFORD AVENUE': 242,
         'WEST 79 STREET': 15,
         'LIBERTY AVENUE': 194,
         'SILVER STREET': 1,
         'GRAND CENTRAL PARKWAY': 135,
         '144 STREET': 7,
         'GREENPOINT AVENUE': 60,
         'STONE AVENUE': 24,
         'THROGS NECK BRIDGE': 96,
         'SCHENECTADY AVENUE': 62,
         'WEST 135 STREET': 44,
         'WEBB AVENUE': 5,
         '39 STREET': 32,
         'EAST 135 STREET': 42,
         'JUNIUS STREET': 17,
         'FRESH POND ROAD': 37,
         'EAST 53 STREET': 29,
         'CRESCENT STREET': 62,
         'CONEY ISLAND AVENUE': 89,
         'BEVERLEY ROAD': 47,
         'ALLERTON AVENUE': 27,
         'TROY AVENUE': 45,
         'EAST 37 STREET': 36,
         'WILLOW AVENUE': 4,
         'EAST 98 STREET': 30,
         'DE KALB AVENUE': 101,
         'NEW LOTS AVENUE': 63,
         'WEST FORDHAM ROAD': 103,
         '171 STREET': 15,
         '43 STREET': 39,
         'ARLENE COURT': 1,
         'BROOKLYN BATTERY TUNNEL': 40,
         'LEONARD STREET': 17,
         'ROOSEVELT AVENUE': 109,
         '91 AVENUE': 22,
         'WEST 17 STREET': 15,
         'NORTH CONDUIT AVENUE': 189,
         '54 AVENUE': 7,
         'LINCOLN AVENUE': 21,
         '38 STREET': 33,
         'TRIBOROUGH BRIDGE': 203,
         'PUTNAM AVENUE': 34,
         'WEBSTER AVENUE': 217,
         'Leonard street': 1,
         'BRUCKNER EXPRESSWAY': 307,
         '122 AVENUE': 11,
         '73 PLACE': 4,
         'INGRAHAM STREET': 5,
         '65 STREET': 93,
         'QUEENS PLAZA NORTH': 19,
         '118 AVENUE': 24,
         'WEST 125 STREET': 77,
         'JACKIE ROBINSON PKWY': 197,
         'GERALD COURT': 1,
         '119 AVENUE': 39,
         'SHERMAN AVENUE': 33,
         'RICHMOND ROAD': 78,
         'AVENUE D': 53,
         'EAST 96 STREET': 46,
         '23 AVENUE': 37,
         'PITKIN AVENUE': 113,
         'REMSEN AVENUE': 78,
         '87 STREET': 16,
         'BREWER BOULEVARD': 75,
         'PENNSYLVANIA AVENUE': 190,
         'EAST 241 STREET': 18,
         '21 STREET': 90,
         'WATERBURY STREET': 7,
         '150 STREET': 81,
         'BAY PARKWAY': 91,
         'ELY AVENUE': 9,
         'BELMONT AVENUE': 43,
         'HAMILTON AVENUE': 79,
         'FARRAGUT ROAD': 64,
         'HENRY HUDSON PARKWAY': 319,
         'KINGSTON PLACE': 2,
         'NORFOLK STREET': 3,
         'NEPTUNE AVENUE': 80,
         'DEWEY PLACE': 2,
         'AVENUE U': 55,
         'OSBORNE AVENUE': 1,
         'FOREST PARK DRIVE': 10,
         'ROCKAWAY BEACH BOULEVARD': 50,
         'BAINBRIDGE AVENUE': 22,
         'QUEENS BOULEVARD': 237,
         'PELHAM PARKWAY': 37,
         'ULMER STREET': 4,
         'CROSS ISLAND PARKWAY            ': 5884,
         'PARSONS BOULEVARD': 77,
         'CATON AVENUE': 31,
         'FORSYTH STREET': 3,
         'UNIVERSITY AVENUE': 108,
         'EAST 167 STREET': 54,
         'MADISON AVENUE': 98,
         'LEFFERTS BOULEVARD': 50,
         '80 STREET': 60,
         'KNICKERBOCKER AVENUE': 75,
         'CLEARVIEW EXPRESSWAY': 97,
         'MURDOCK AVENUE': 31,
         'WEST 64 STREET': 9,
         'EAST 13 STREET': 14,
         'MARION AVENUE': 24,
         'THROOP AVENUE': 55,
         'WEST 34 STREET': 34,
         'HENDRIX STREET': 11,
         'EAST 64 STREET': 9,
         'WEST 155 STREET': 52,
         'WINCHESTER AVENUE': 2,
         'EAST 119 STREET': 12,
         'AVENUE OF THE AMERICAS': 97,
         'BOYLAND STREET': 38,
         'WOLCOTT STREET': 2,
         'CORAL REEF WAY': 1,
         'WEST 95 STREET': 9,
         'EAST 88 STREET': 14,
         'EAST 46 STREET': 10,
         'EAST NEW YORK AVENUE': 53,
         '30 AVENUE': 40,
         'HART PLACE': 2,
         'ROGERS AVENUE': 86,
         '31 AVENUE': 35,
         'RANDALL AVENUE': 28,
         'COMMONWEALTH BOULEVARD': 5,
         'CLIFFORD PLACE': 3,
         'DEAN STREET': 49,
         '149 STREET': 27,
         'SOUTH CONDUIT AVENUE': 169,
         'EAST 161 STREET': 69,
         'EAST 106 STREET': 22,
         '230 STREET': 5,
         'EAST 169 STREET': 39,
         'WEST 130 STREET': 5,
         'EAST 35 STREET': 21,
         'EAST 147 STREET': 7,
         'SMITH STREET': 24,
         'MIDDLETON STREET': 5,
         '49 AVENUE': 7,
         '164 STREET': 48,
         'SEDGWICK AVENUE': 59,
         'STILLWELL AVENUE': 41,
         '249 STREET': 6,
         'ROCHESTER AVENUE': 39,
         'HICKS STREET': 30,
         '381A Marcus Garvey Blvd': 1,
         'EAST 158 STREET': 13,
         'NOME AVENUE': 4,
         'PARKSIDE AVENUE': 21,
         'WINTHROP STREET': 37,
         '72 STREET': 23,
         'CHRISTOPHER LANE': 1,
         '48 AVENUE': 18,
         '90 AVENUE': 14,
         'EAST 84 STREET': 11,
         'WEST 169 STREET': 14,
         'MACOMBS ROAD': 12,
         'COHANCY STREET': 5,
         'LORIMER STREET': 31,
         'ITTNER PLACE': 4,
         'WEST 47 STREET': 16,
         'WEST 133 STREET': 33,
         'pennsylvania ave': 1,
         '231 STREET': 5,
         'WATER STREET': 14,
         '116 AVENUE': 50,
         '55 STREET': 21,
         '67 AVENUE': 10,
         'WEST 44 STREET': 13,
         'TRIBOROUGH BRIDGE               ': 2188,
         'OVERLOOK TERRACE': 3,
         '39 AVENUE': 30,
         'DEKALB AVENUE': 3,
         'NEW STREET': 2,
         'MEEKER AVENUE': 54,
         'GLENMORE AVENUE': 40,
         '181 PLACE': 1,
         'ONEIDA AVENUE': 1,
         'HORACE HARDING EXPRESSWAY': 118,
         'WALTON AVENUE': 42,
         'LEE AVENUE': 14,
         'EAST 174 STREET': 46,
         'ROCKAWAY BOULEVARD': 179,
         '69 AVENUE': 16,
         'ALBANY AVENUE': 64,
         '68 ROAD': 4,
         'SHORE BOULEVARD': 8,
         'BAY STREET': 36,
         'CORNELIA STREET': 15,
         'DOWNING STREET': 3,
         '83 STREET': 24,
         'TIFFANY STREET': 22,
         'MELROSE AVENUE': 24,
         'UTICA AVENUE': 210,
         'BRONX PARK EAST': 25,
         'WEST 20 STREET': 9,
         '32 AVENUE': 46,
         'COZINE AVENUE': 29,
         'EAST 7 STREET': 11,
         'WEST 170 STREET': 24,
         'First Avenue': 1,
         'CROSS BRONX EXPY RAMP           ': 527,
         'WEST 34 STREET                  ': 1923,
         'G.C.P. / L.I.E (CDR)': 6,
         'MACOMBS DAM BRIDGE              ': 321,
         'CROSS BRONX EXPY RAMP': 40,
         'EMMONS AVENUE': 16,
         'VERRAZANO BRIDGE LOWER': 96,
         '115 AVENUE': 39,
         'FILLMORE AVENUE': 15,
         'UNDERHILL AVENUE': 3,
         'STOCKHOLM STREET': 21,
         'GOETHALS ROAD NORTH': 6,
         'HUNTER STREET': 3,
         'WATSON AVENUE': 26,
         'EAST 138 STREET': 98,
         '143 STREET': 16,
         'DYER AVENUE': 8,
         '128 STREET': 10,
         '60 AVENUE': 10,
         'SAINT NICHOLAS AVENUE': 102,
         'WEST 163 STREET': 7,
         'DECATUR AVENUE': 9,
         'ELIZABETH STREET': 7,
         '82 STREET': 39,
         'EAST 59 STREET': 35,
         'MERRICK BOULEVARD': 139,
         '62 STREET': 32,
         'WEST 49 STREET': 16,
         'BORDEN AVENUE': 55,
         'JEROME AVENUE': 211,
         'LINDEN BOULEVARD': 433,
         '48 STREET': 44,
         'FOREST HILL ROAD': 18,
         '47 ROAD': 3,
         'EAST 54 STREET': 19,
         'MARCUS GARVEY BOULEVARD': 54,
         'EAST 51 STREET': 23,
         'Belt parkway': 7,
         'BAYCHESTER AVENUE': 50,
         'WEST 46 STREET': 18,
         'MAIN STREET': 67,
         'WEST 43 STREET': 21,
         'ROCKAWAY AVENUE': 83,
         'HART STREET': 23,
         'NAVY STREET                     ': 260,
         'CROSS BAY BOULEVARD': 78,
         '108 STREET': 79,
         'HILLSIDE AVENUE': 153,
         'MORRIS AVENUE': 96,
         'WEST 96 STREET': 26,
         'PELHAM PARKWAY SOUTH': 25,
         '11 AVENUE': 81,
         'WYTHE AVENUE': 53,
         'STORY AVENUE': 21,
         '101 AVENUE': 36,
         'BRIGHTON 4 STREET': 7,
         'EAST 120 STREET': 14,
         '68 STREET': 19,
         '166 STREET': 12,
         'EAST 149 STREET': 86,
         'WEST 28 STREET': 16,
         'VIRGINIA AVENUE': 5,
         'STANHOPE STREET': 16,
         'BRIGHTON 3 STREET': 7,
         'WEST 151 STREET': 13,
         'WILLIAMSBRIDGE ROAD': 21,
         'EAST 56 STREET': 18,
         '75 AVENUE': 10,
         'MOSHOLU PARKWAY': 46,
         'WEST 207 STREET': 44,
         'EAST 116 STREET': 43,
         'TREADWELL AVENUE': 1,
         'EAST FORDHAM ROAD': 133,
         'COVERT STREET': 10,
         'AVENUE N': 35,
         'EAST 163 STREET': 68,
         'CANAL STREET': 105,
         'WEST 176 STREET': 15,
         'JEFFERSON STREET': 17,
         '193 STREET': 11,
         'UNION STREET': 54,
         'BROOKLYN AVENUE': 56,
         '207 STREET': 6,
         'YORK AVENUE': 43,
         'GIVAN AVENUE': 5,
         '34 STREET': 22,
         'EAST 17 STREET': 13,
         'HANCOCK STREET': 29,
         'WEST 145 STREET': 82,
         '192 STREET': 18,
         'HUDSON YARDS': 1,
         'SOUTH AVENUE': 30,
         'WEST 148 STREET': 12,
         '84 AVENUE': 7,
         'Old Fulton street               ': 6,
         'OCCIDENT AVENUE': 3,
         '47 AVENUE': 29,
         '9 AVENUE': 104,
         'HANNIBAL STREET': 3,
         'MONROE AVENUE': 8,
         'AVENUE I': 32,
         'DITMARS STREET': 1,
         '60 STREET': 62,
         'WHITE PLAINS ROAD': 137,
         'EMPIRE BOULEVARD': 38,
         '133 AVENUE': 41,
         'AUDUBON AVENUE': 27,
         '34 AVENUE': 51,
         'EAST BAY AVENUE': 4,
         'EAST 172 STREET': 28,
         'ASTORIA BOULEVARD': 110,
         'ROMA AVENUE': 3,
         'FLUSHING AVENUE': 129,
         'SNYDER AVENUE': 51,
         'VERRAZANO BRIDGE LOWER          ': 791,
         'MACOMBS PLACE': 10,
         '69 LANE': 4,
         '106 AVENUE': 5,
         'BROOKLYN QUEENS EXPRESSWAY      ': 9743,
         'NORTH CONDUIT AVENUE            ': 4655,
         'QUEENSBORO BRIDGE': 6,
         'WHITESTONE EXPRESSWAY           ': 2060,
         'LIVONIA AVENUE': 45,
         '12 AVENUE': 107,
         'DIX AVENUE': 2,
         'LAKE AVENUE': 2,
         'HOFFMAN STREET': 2,
         'OAK AVENUE': 9,
         'WILSON AVENUE': 69,
         'ESSEX STREET': 24,
         'EAST 165 STREET': 48,
         'ERSKINE STREET': 7,
         'FOUNTAIN AVENUE': 29,
         'FRANCIS LEWIS BOULEVARD': 124,
         'BROOKLYN QUEENS EXPRESSWAY RAMP': 61,
         'LAURELTON PARKWAY': 90,
         'HUTCHINSON RIVER PARKWAY RAMP': 18,
         'JORDAN AVENUE': 3,
         'RYER AVENUE': 19,
         'WEST 137 STREET': 17,
         'BELT PARKWAY WESTBOUND': 1,
         'GREENWICH AVENUE': 11,
         'ARNOW AVENUE': 16,
         'SAINT NICHOLAS PLACE': 6,
         'ALABAMA AVENUE': 17,
         'MORGAN AVENUE': 35,
         '95 AVENUE': 24,
         'ALEXANDER AVENUE': 7,
         'HORACE HARDING EXPRESSWAY       ': 3987,
         'SUNRISE HIGHWAY': 20,
         'NEW ENGLAND THRUWAY': 69,
         'WEST 168 STREET': 15,
         'WEST 50 STREET': 18,
         'CENTRAL PARK WEST': 67,
         'CLARENDON ROAD': 46,
         'GEORGIA AVENUE': 16,
         '70 STREET': 30,
         'CLOVERDALE BOULEVARD': 1,
         '148 DRIVE': 1,
         'EAST 34 STREET': 33,
         'CHATHAM SQUARE': 2,
         'EAST 181 STREET': 22,
         'CONCORD AVENUE': 6,
         'PAUL AVENUE': 8,
         'NEW YORK AVENUE': 80,
         'HOOK CREEK BOULEVARD': 28,
         'WEST 195 STREET': 4,
         'EAST 108 STREET': 29,
         'TIBBETT AVENUE': 1,
         '196 STREET': 13,
         'WEST SHORE EXPRESSWAY': 79,
         'OCEAN AVENUE': 92,
         'EAST 187 STREET': 29,
         'WEST 38 STREET': 12,
         '11 STREET': 30,
         'Duane road': 1,
         'AVENUE S': 27,
         'MOUNT EDEN PARKWAY': 10,
         'ZEREGA AVENUE': 25,
         'PERRY STREET': 2,
         '19 STREET': 24,
         'SHORE FRONT PARKWAY': 9,
         'EAST 93 STREET': 24,
         'MC CLANCY PLACE': 1,
         'POPHAM AVENUE': 2,
         'HARWAY AVENUE': 6,
         'IRWIN STREET': 1,
         '64 STREET': 27,
         'CROTONA AVENUE': 18,
         'WEST 158 STREET': 10,
         'WEST 24 STREET': 11,
         'POWERS STREET': 3,
         'BAISLEY BOULEVARD': 61,
         'COLLEGE AVENUE                  ': 336,
         'BRIGHTON 1 STREET': 3,
         'SELWYN AVENUE': 3,
         '31 STREET': 67,
         '107 STREET': 8,
         '140 STREET': 16,
         'PROSPECT PARK SOUTHWEST': 13,
         'FORT GEORGE HILL': 6,
         'UTICA AVENUE                    ': 4701,
         'HOLLIS AVENUE': 21,
         'WEST 13 STREET': 14,
         'DITMARS BOULEVARD': 28,
         'DUNKIRK DRIVE': 2,
         'BARNES AVENUE': 26,
         'RIDGEWOOD AVENUE': 18,
         '154 STREET': 15,
         'EAST 5 STREET': 11,
         '122 AVENUE                      ': 131,
         'HARLEM RIVER DRIVE              ': 1813,
         'MANHATTAN BR UPPER              ': 347,
         'BRONX RIVER PARKWAY             ': 3070,
         'BAY PARKWAY                     ': 2215,
         'KINGSTON AVENUE': 20,
         'FEATHERBED LANE': 13,
         'WILLIS AVE BRIDGE               ': 360,
         'Boston rd': 1,
         'JAY STREET': 37,
         '141 STREET': 17,
         'MOORE STREET': 6,
         'SAINT ANNS AVENUE': 28,
         'CORTELYOU ROAD': 38,
         'ARTHUR AVENUE': 11,
         'WEST 141 STREET': 20,
         'CYPRESS AVENUE': 71,
         'WESTERVELT AVENUE': 6,
         'WEST 22 STREET': 9,
         'BAXTER AVENUE': 5,
         'SNEDIKER AVENUE': 19,
         'LACONIA AVENUE': 26,

In [37]:
profiles.minmax('LATITUDE')

            min        max
float  30.78418  43.344444
int     0.00000   0.000000

In [39]:
profiles.column('LATITUDE').get('topValues')

[('0', 2117),
 ('40.861862', 732),
 ('40.8047', 691),
 ('40.608757', 670),
 ('40.696033', 662),
 ('40.798256', 626),
 ('40.6960346', 587),
 ('40.759308', 579),
 ('40.7606005', 474),
 ('40.820305', 467)]

In [40]:
def validate_lat(sourceValue):
    UNKNOWN = -999
    
    try:
        if sourceValue >= 39 and sourceValue <= 42:  
            return sourceValue
        else:
            return UNKNOWN
    except:
        return UNKNOWN

    
ds_full = ds_full.update('LATITUDE', validate_lat)

In [38]:
profiles.minmax('LONGITUDE')

             min        max
float -201.35999 -32.768513
int    -74.00000   0.000000

In [41]:
profiles.column('LONGITUDE').get('topValues')

[('0', 2117),
 ('-73.91282', 716),
 ('-73.98453', 695),
 ('-74.038086', 672),
 ('-73.91243', 645),
 ('-73.89063', 613),
 ('-73.9845292', 587),
 ('-73.882744', 552),
 ('-73.89686', 543),
 ('-73.89083', 538)]

In [42]:
def validate_lat(sourceValue):
    UNKNOWN = -999
    
    try:
        if sourceValue >= -75 and sourceValue <= -72:  
            return sourceValue
        else:
            return UNKNOWN
    except:
        return UNKNOWN

    
ds_full = ds_full.update('LATITUDE', validate_lat)

In [43]:
ds_full.distinct('LOCATION')

Counter({'': 215704,
         '(40.68358, -73.97617)': 47,
         '(0.0, 0.0)': 2117,
         '(40.69754, -73.98312)': 27,
         '(40.843464, -73.836)': 1,
         '(40.692547, -73.990974)': 66,
         '(40.626457, -73.918)': 74,
         '(40.526894, -74.16728)': 16,
         '(40.840775, -73.87246)': 18,
         '(40.694035, -73.72679)': 42,
         '(40.857365, -73.84657)': 107,
         '(40.698807, -73.91837)': 41,
         '(40.71402, -73.74827)': 2,
         '(40.815, -73.89402)': 33,
         '(40.55079, -74.20098)': 9,
         '(40.655903, -73.89817)': 2,
         '(40.890076, -73.819855)': 53,
         '(40.650402, -73.89422)': 22,
         '(40.79335, -73.97275)': 29,
         '(40.72538, -74.00011)': 7,
         '(40.75184, -73.90358)': 50,
         '(40.649788, -73.9622)': 31,
         '(40.686928, -73.920815)': 2,
         '(40.712963, -73.93647)': 5,
         '(40.801285, -73.95394)': 19,
         '(40.633976, -74.02211)': 1,
         '(40.69168, -73.999344)': 356,
         '(40.670296, -73.997604)': 35,
         '(40.66423, -73.919106)': 95,
         '(40.817696, -73.922615)': 3,
         '(40.668495, -73.925606)': 370,
         '(40.841087, -73.86447)': 87,
         '(40.70955, -73.95887)': 62,
         '(40.733376, -73.86665)': 150,
         '(40.700356, -73.95732)': 1,
         '(40.83801, -73.87329)': 380,
         '(40.66584, -73.75551)': 121,
         '(40.761436, -73.76995)': 38,
         '(40.74958, -73.86541)': 7,
         '(40.73197, -73.78651)': 12,
         '(40.76249, -73.839584)': 27,
         '(40.668507, -73.779625)': 14,
         '(40.638268, -73.93187)': 1,
         '(40.696735, -73.93481)': 9,
         '(40.870823, -73.8721)': 21,
         '(40.574867, -74.00069)': 15,
         '(40.866577, -73.8722)': 5,
         '(40.775414, -73.91984)': 6,
         '(40.84744, -73.89968)': 84,
         '(40.542908, -74.15579)': 11,
         '(40.78468, -73.80911)': 7,
         '(40.632416, -73.94724)': 1,
         '(40.714207, -73.92817)': 56,
         '(40.727913, -73.873245)': 11,
         '(40.854485, -73.854645)': 1,
         '(40.698986, -73.91671)': 2,
         '(40.841717, -73.94435)': 31,
         '(40.861687, -73.82435)': 3,
         '(40.691822, -73.92223)': 38,
         '(40.856014, -73.91213)': 9,
         '(40.83383, -73.921234)': 21,
         '(40.68781, -73.9237)': 24,
         '(40.642044, -73.98124)': 9,
         '(40.69814, -73.89111)': 23,
         '(40.64664, -73.9246)': 97,
         '(40.680897, -73.95118)': 4,
         '(40.760822, -73.99832)': 327,
         '(40.74608, -73.974945)': 270,
         '(40.626293, -74.01572)': 16,
         '(40.767967, -73.96822)': 51,
         '(40.673634, -73.89294)': 1,
         '(40.579212, -73.976265)': 13,
         '(40.57365, -74.11252)': 9,
         '(40.73632, -73.85631)': 86,
         '(40.619396, -73.969574)': 112,
         '(40.820263, -73.92976)': 29,
         '(40.601864, -74.00232)': 17,
         '(40.810318, -73.943634)': 83,
         '(40.666306, -73.79171)': 200,
         '(40.708805, -73.92577)': 50,
         '(40.826424, -73.85868)': 75,
         '(40.63174, -73.96793)': 15,
         '(40.727146, -73.954735)': 2,
         '(40.67253, -73.798386)': 17,
         '(40.702335, -73.89073)': 15,
         '(40.587894, -73.95504)': 3,
         '(40.67922, -73.90405)': 30,
         '(40.65047, -73.917366)': 2,
         '(40.836555, -73.94306)': 41,
         '(40.870056, -73.83222)': 4,
         '(40.579372, -74.16948)': 76,
         '(40.805138, -73.945244)': 7,
         '(40.85968, -73.90427)': 2,
         '(40.605595, -73.98404)': 14,
         '(40.819214, -73.84662)': 8,
         '(40.827972, -73.88707)': 1,
         '(40.66496, -73.82226)': 245,
         '(40.719177, -73.79223)': 33,
         '(40.748825, -73.96984)': 128,
         '(40.733597, -73.91062)': 17,
         '(40.54048, -74.153404)': 5,
         '(40.738403, -73.93864)': 32,
         '(40.68039, -73.94956)': 131,
         '(40.817627, -73.92366)': 3,
         '(40.751446, -74.001434)': 157,
         '(40.76161, -73.97076)': 128,
         '(40.689648, -73.9184)': 34,
         '(40.596977, -73.97324)': 19,
         '(40.63864, -74.02245)': 6,
         '(40.565254, -74.1301)': 40,
         '(40.655895, -73.898224)': 1,
         '(40.68821, -73.96583)': 38,
         '(40.71649, -73.98484)': 6,
         '(40.876785, -73.87446)': 23,
         '(40.86367, -73.86741)': 8,
         '(40.835827, -73.89068)': 5,
         '(40.793396, -73.94043)': 2,
         '(40.84827, -73.88312)': 62,
         '(40.656273, -73.90731)': 52,
         '(40.693462, -73.965485)': 2,
         '(40.66725, -73.88799)': 17,
         '(40.844105, -73.923065)': 51,
         '(40.651707, -73.93121)': 3,
         '(40.680496, -73.821365)': 80,
         '(40.834415, -73.92854)': 45,
         '(40.7357, -73.90377)': 6,
         '(40.771038, -73.83413)': 63,
         '(40.69484, -73.98391)': 115,
         '(40.785774, -73.97052)': 1,
         '(40.733017, -73.8852)': 1,
         '(40.709023, -73.757835)': 8,
         '(40.692886, -73.832184)': 35,
         '(40.620487, -74.029305)': 1,
         '(40.618595, -73.99847)': 7,
         '(40.803787, -73.953896)': 2,
         '(40.82319, -73.889496)': 15,
         '(40.680088, -73.94398)': 60,
         '(40.827927, -73.90094)': 12,
         '(40.66895, -73.9339)': 234,
         '(40.879055, -73.87439)': 80,
         '(40.67043, -73.928185)': 79,
         '(40.875874, -73.84989)': 28,
         '(40.675037, -73.930534)': 47,
         '(40.767582, -73.9109)': 18,
         '(40.734352, -74.00849)': 1,
         '(40.63083, -73.90736)': 29,
         '(40.63532, -73.95033)': 3,
         '(40.714073, -73.95087)': 4,
         '(40.702194, -73.93587)': 6,
         '(40.764362, -73.96162)': 92,
         '(40.69496, -73.946236)': 14,
         '(40.79656, -73.97226)': 22,
         '(40.805016, -73.92109)': 46,
         '(40.66406, -73.73846)': 19,
         '(40.7963, -73.93829)': 54,
         '(40.66563, -73.73921)': 176,
         '(40.680477, -73.7921)': 47,
         '(40.737785, -73.93496)': 347,
         '(40.778606, -73.98163)': 101,
         '(40.75868, -73.87552)': 23,
         '(40.856045, -73.90079)': 65,
         '(40.880257, -73.843864)': 1,
         '(40.60677, -73.759575)': 1,
         '(40.695683, -73.741875)': 27,
         '(40.667236, -73.770004)': 237,
         '(40.8351, -73.8825)': 4,
         '(40.633682, -73.89868)': 27,
         '(40.698116, -73.977325)': 22,
         '(40.84747, -73.89134)': 8,
         '(40.8047, -73.91243)': 597,
         '(40.762676, -73.954346)': 182,
         '(40.7158, -73.824486)': 27,
         '(40.75584, -73.99238)': 6,
         '(40.772102, -73.763954)': 8,
         '(40.681602, -73.95855)': 4,
         '(40.62677, -73.946884)': 36,
         '(40.707493, -73.94153)': 19,
         '(40.8252, -73.867714)': 137,
         '(40.854115, -73.89091)': 24,
         '(40.768875, -73.94898)': 226,
         '(40.629707, -73.90486)': 19,
         '(40.72654, -73.71589)': 18,
         '(40.634415, -74.08535)': 2,
         '(40.66937, -73.89523)': 68,
         '(40.89466, -73.86137)': 216,
         '(40.669067, -73.9878)': 3,
         '(40.681484, -73.85049)': 5,
         '(40.82433, -73.874374)': 61,
         '(40.856606, -73.92841)': 8,
         '(40.65785, -73.91648)': 45,
         '(40.62764, -73.89022)': 38,
         '(40.58401, -73.98587)': 23,
         '(40.71791, -73.95341)': 17,
         '(40.780437, -73.94989)': 47,
         '(40.73973, -73.70625)': 10,
         '(40.7952, -73.94623)': 4,
         '(40.694794, -73.98246)': 69,
         '(40.614063, -74.01393)': 39,
         '(40.633152, -73.97762)': 30,
         '(40.612736, -74.01172)': 72,
         '(40.70166, -73.961464)': 167,
         '(40.80641, -73.94227)': 69,
         '(40.762234, -73.98987)': 57,
         '(40.863647, -73.8918)': 30,
         '(40.576626, -73.98478)': 22,
         '(40.60118, -73.99098)': 21,
         '(40.64721, -74.01531)': 53,
         '(40.681145, -73.7923)': 17,
         '(40.57529, -73.97655)': 38,
         '(40.786, -73.84574)': 38,
         '(40.601128, -73.997086)': 10,
         '(40.827923, -73.93483)': 2,
         '(40.805824, -73.954636)': 2,
         '(40.642776, -74.02003)': 31,
         '(40.86674, -73.92873)': 25,
         '(40.678375, -73.9265)': 5,
         '(40.74209, -73.984985)': 39,
         '(40.81228, -73.90941)': 2,
         '(40.604195, -73.97218)': 45,
         '(40.84383, -73.886375)': 1,
         '(40.759163, -73.988396)': 72,
         '(40.652927, -73.959335)': 90,
         '(40.69097, -73.94833)': 14,
         '(40.718864, -73.97483)': 94,
         '(40.683174, -73.87389)': 2,
         '(40.749744, -73.884315)': 36,
         '(40.738316, -73.98773)': 37,
         '(40.839382, -73.84531)': 1,
         '(40.66806, -73.90394)': 3,
         '(40.74715, -73.985504)': 59,
         '(40.663776, -73.889915)': 12,
         '(40.843903, -73.927284)': 111,
         '(40.836296, -73.87369)': 49,
         '(40.655285, -73.93658)': 1,
         '(40.64606, -74.01648)': 95,
         '(40.72119, -73.761185)': 4,
         '(40.708363, -73.87203)': 1,
         '(40.674004, -73.81881)': 17,
         '(40.729176, -73.87898)': 52,
         '(40.86832, -73.83317)': 157,
         '(40.598515, -73.766464)': 6,
         '(40.695004, -73.9525)': 110,
         '(40.72773, -73.90674)': 242,
         '(40.704563, -73.91066)': 13,
         '(40.66807, -73.80789)': 9,
         '(40.66944, -73.883995)': 9,
         '(40.684082, -73.90864)': 36,
         '(40.69349, -73.97917)': 65,
         '(40.765266, -73.81517)': 74,
         '(40.74613, -73.83605)': 68,
         '(40.74708, -73.98135)': 94,
         '(40.87482, -73.877)': 12,
         '(40.70399, -73.85589)': 42,
         '(40.69507, -73.80114)': 2,
         '(40.788673, -73.97136)': 1,
         '(40.847897, -73.92499)': 48,
         '(40.68896, -73.93326)': 17,
         '(40.695377, -73.94921)': 64,
         '(40.880657, -73.877625)': 65,
         '(40.828114, -73.93107)': 172,
         '(40.781265, -73.97599)': 16,
         '(40.848736, -73.93234)': 88,
         '(40.65989, -73.90536)': 4,
         '(40.748436, -73.984566)': 111,
         '(40.61033, -73.95932)': 2,
         '(40.752556, -73.92972)': 15,
         '(40.829697, -73.91313)': 28,
         '(40.718826, -73.98424)': 16,
         '(40.65241, -73.9264)': 2,
         '(40.852673, -73.919106)': 110,
         '(40.851555, -73.952446)': 21,
         '(40.707928, -73.784294)': 15,
         '(40.891876, -73.8616)': 2,
         '(40.58947, -73.80105)': 8,
         '(40.74668, -73.9745)': 130,
         '(40.85814, -73.895744)': 39,
         '(40.708626, -73.94513)': 26,
         '(40.73464, -73.87421)': 6,
         '(40.62855, -73.952835)': 1,
         '(40.65563, -73.92596)': 12,
         '(40.687046, -73.792114)': 32,
         '(40.70326, -73.86474)': 9,
         '(40.633114, -73.94928)': 3,
         '(40.62046, -74.07641)': 8,
         '(40.75964, -73.95817)': 17,
         '(40.64254, -73.87652)': 245,
         '(40.783146, -73.97833)': 81,
         '(40.705452, -73.78149)': 17,
         '(40.74425, -73.7334)': 42,
         '(40.75348, -73.980896)': 110,
         '(40.84307, -73.848076)': 33,
         '(40.620914, -73.9753)': 95,
         '(40.80889, -73.95581)': 2,
         '(40.78847, -73.968895)': 1,
         '(40.712776, -73.90601)': 2,
         '(40.74661, -73.86473)': 2,
         '(40.835705, -73.88875)': 27,
         '(40.688404, -73.93803)': 1,
         '(40.781715, -73.823845)': 22,
         '(40.730644, -73.97329)': 21,
         '(40.75218, -73.85201)': 64,
         '(40.731422, -73.94641)': 29,
         '(40.761234, -73.96389)': 290,
         '(40.668976, -73.90668)': 28,
         '(40.637276, -73.93177)': 12,
         '(40.788685, -73.94386)': 22,
         '(40.87356, -73.81853)': 125,
         '(40.795006, -73.9485)': 3,
         '(40.820095, -73.955086)': 94,
         '(40.594334, -73.990944)': 10,
         '(40.673008, -73.97851)': 1,
         '(40.583626, -73.98407)': 79,
         '(40.874474, -73.90031)': 21,
         '(40.633995, -73.98138)': 1,
         '(40.772327, -73.94531)': 94,
         '(40.704937, -73.94932)': 4,
         '(40.653873, -74.008156)': 122,
         '(40.677917, -73.93861)': 100,
         '(40.59857, -73.9689)': 1,
         '(40.809563, -73.92923)': 225,
         '(40.68836, -73.96444)': 3,
         '(40.666737, -73.90224)': 27,
         '(40.713173, -73.90076)': 9,
         '(40.73006, -73.710754)': 1,
         '(40.652317, -73.92752)': 25,
         '(40.76122, -73.93056)': 35,
         '(40.588722, -73.960464)': 5,
         '(40.643456, -73.972725)': 34,
         '(40.865532, -73.86238)': 51,
         '(40.67612, -73.936005)': 28,
         '(40.620663, -74.1524)': 2,
         '(40.72166, -73.888664)': 1,
         '(40.733723, -73.72516)': 4,
         '(40.745686, -73.97213)': 104,
         '(40.875294, -73.9088)': 9,
         '(40.803555, -73.91184)': 16,
         '(40.7605, -73.95699)': 55,
         '(40.661995, -73.91959)': 76,
         '(40.69045, -73.959435)': 17,
         '(40.658672, -73.90019)': 24,
         '(40.711227, -73.72826)': 219,
         '(40.700485, -73.93637)': 21,
         '(40.816555, -73.91755)': 2,
         '(40.861862, -73.91282)': 685,
         '(40.875793, -73.85465)': 1,
         '(40.68657, -73.776146)': 6,
         '(40.654705, -74.00731)': 104,
         '(40.637054, -73.98643)': 30,
         '(40.6191, -74.159615)': 4,
         '(40.734566, -73.72269)': 82,
         '(40.714912, -73.94784)': 5,
         '(40.74734, -73.88673)': 21,
         '(40.6963, -73.97545)': 11,
         '(40.63598, -73.915146)': 1,
         '(40.724358, -73.742516)': 8,
         '(40.586277, -73.9862)': 7,
         '(40.671932, -73.85165)': 99,
         '(40.650703, -73.920586)': 24,
         '(40.61378, -74.07225)': 1,
         '(40.727375, -73.90313)': 4,
         '(40.573204, -74.09711)': 3,
         '(40.671604, -73.86907)': 21,
         '(40.740276, -73.92782)': 23,
         '(40.684, -73.95031)': 37,
         '(40.704494, -73.81743)': 339,
         '(40.845642, -73.90211)': 92,
         '(40.82681, -73.85361)': 17,
         '(40.681168, -73.92941)': 2,
         '(40.662476, -73.768326)': 4,
         '(40.64739, -73.92314)': 1,
         '(40.687138, -73.75136)': 22,
         '(40.865143, -73.87204)': 32,
         '(40.866673, -73.90896)': 24,
         '(40.72313, -73.90614)': 2,
         '(40.674934, -73.80186)': 183,
         '(40.708363, -73.92401)': 6,
         '(40.739525, -73.92512)': 8,
         '(40.637997, -74.02136)': 110,
         '(40.750965, -73.94027)': 150,
         '(40.671585, -73.99843)': 92,
         '(40.694294, -73.74868)': 11,
         '(40.810173, -73.95117)': 90,
         '(40.694748, -73.73427)': 2,
         '(40.687103, -73.89251)': 14,
         '(40.861744, -73.911804)': 155,
         '(40.741074, -73.7258)': 77,
         '(40.67875, -73.794)': 13,
         '(40.666943, -73.890144)': 1,
         '(40.6635, -73.94276)': 11,
         '(40.827824, -73.91934)': 24,
         '(40.575832, -74.12409)': 13,
         '(40.730366, -73.91388)': 154,
         '(40.640945, -73.94852)': 63,
         '(40.784237, -73.947075)': 132,
         '(40.76803, -73.87722)': 25,
         '(40.669823, -73.90981)': 31,
         '(40.659336, -73.92726)': 101,
         '(40.616093, -74.14523)': 1,
         '(40.763546, -73.88209)': 7,
         '(40.637234, -73.97266)': 3,
         '(40.62614, -74.14276)': 1,
         '(40.638313, -73.95751)': 4,
         '(40.651352, -73.89275)': 26,
         '(40.696564, -73.79125)': 25,
         '(40.72728, -73.97906)': 2,
         '(40.67816, -73.897484)': 279,
         '(40.905174, -73.85417)': 12,
         '(40.754044, -73.990074)': 3,
         '(40.755234, -73.941246)': 78,
         '(40.708675, -73.93699)': 14,
         '(40.65103, -73.93032)': 2,
         '(40.645985, -74.00723)': 1,
         '(40.794773, -73.816185)': 5,
         '(40.845467, -73.940475)': 2,
         '(40.643875, -74.01887)': 43,
         '(40.658947, -73.73472)': 1,
         '(40.59727, -73.99868)': 172,
         '(40.878155, -73.84005)': 6,
         '(40.696983, -73.935234)': 129,
         '(40.821075, -73.882126)': 2,
         '(40.88765, -73.84167)': 1,
         '(40.687843, -73.82005)': 2,
         '(40.673252, -73.87773)': 18,
         '(40.6699, -73.95116)': 1,
         '(40.667683, -73.99608)': 25,
         '(40.63529, -73.958206)': 48,
         '(40.71772, -73.96202)': 7,
         '(40.857605, -73.93778)': 4,
         '(40.7491, -73.984085)': 59,
         '(40.71493, -73.79316)': 12,
         '(40.721985, -73.98552)': 17,
         '(40.67983, -73.9583)': 83,
         '(40.730198, -73.954254)': 35,
         '(40.821117, -73.957466)': 56,
         '(40.849167, -73.92393)': 20,
         '(40.579826, -73.97622)': 99,
         '(40.681335, -73.97667)': 1,
         '(40.756725, -73.96)': 38,
         '(40.756557, -73.87594)': 23,
         '(40.67792, -73.9182)': 6,
         '(40.607876, -73.92554)': 14,
         '(40.607643, -74.03375)': 41,
         '(40.540188, -74.149)': 1,
         '(40.616306, -74.03348)': 1,
         '(40.583874, -73.823044)': 18,
         '(40.877827, -73.879585)': 30,
         '(40.714554, -73.83147)': 37,
         '(40.763668, -73.82303)': 42,
         '(40.705246, -73.95908)': 95,
         '(40.77451, -73.838036)': 17,
         '(40.797405, -73.942535)': 2,
         '(40.74058, -73.978935)': 1,
         '(40.829723, -73.8981)': 1,
         '(40.7406, -73.81025)': 8,
         '(40.71363, -73.917885)': 2,
         '(40.647594, -73.97351)': 27,
         '(40.71975, -73.992165)': 92,
         '(40.834503, -73.93037)': 26,
         '(40.63115, -74.076454)': 3,
         '(40.835724, -73.92129)': 78,
         '(40.6354, -74.106674)': 30,
         '(40.781647, -73.833664)': 3,
         '(40.68837, -73.98056)': 1,
         '(40.790417, -73.95184)': 91,
         '(40.6481, -73.91474)': 109,
         '(40.71275, -73.7673)': 5,
         '(40.60069, -74.010056)': 56,
         '(40.738068, -73.861046)': 21,
         '(40.61924, -73.954124)': 1,
         '(40.629105, -74.034645)': 4,
         '(40.699818, -73.920135)': 37,
         '(40.69802, -73.7623)': 33,
         '(40.62893, -73.971375)': 43,
         '(40.831177, -73.942085)': 4,
         '(40.64884, -73.95102)': 30,
         '(40.600883, -73.958694)': 10,
         '(40.766586, -73.9531)': 1,
         '(40.833126, -73.828285)': 22,
         '(40.834675, -73.930275)': 1,
         '(40.593002, -74.159)': 2,
         '(40.689426, -73.94223)': 18,
         '(40.75458, -73.99915)': 184,
         '(40.741394, -73.82303)': 72,
         '(40.676594, -73.89038)': 80,
         '(40.76468, -73.9643)': 61,
         '(40.832764, -73.94583)': 84,
         '(40.698544, -73.96236)': 118,
         '(40.747536, -73.89344)': 16,
         '(40.540833, -74.159386)': 5,
         '(40.670017, -73.746185)': 1,
         '(40.694996, -73.97022)': 1,
         '(40.676758, -73.917404)': 42,
         '(40.80124, -73.94183)': 35,
         '(40.667377, -73.880394)': 1,
         '(40.734135, -73.9992)': 47,
         '(40.679935, -73.91389)': 21,
         '(40.684475, -73.97408)': 3,
         '(40.67816, -74.01416)': 5,
         '(40.79099, -73.96518)': 25,
         '(40.780125, -73.95304)': 36,
         '(40.800262, -73.94554)': 4,
         '(40.682842, -73.9766)': 14,
         '(40.660316, -73.913216)': 15,
         '(40.8053, -73.94728)': 1,
         '(40.834507, -73.91772)': 100,
         '(40.758224, -73.91741)': 26,
         '(40.824734, -73.94854)': 2,
         '(40.855873, -73.79149)': 11,
         '(40.686115, -73.86992)': 24,
         '(40.693176, -73.95214)': 2,
         '(40.755337, -73.843254)': 76,
         '(40.641895, -73.93324)': 18,
         '(40.83878, -73.918106)': 1,
         '(40.663227, -73.93159)': 256,
         '(40.76151, -73.88361)': 9,
         '(40.70042, -73.956566)': 1,
         '(40.609436, -74.0694)': 1,
         '(40.64393, -73.99933)': 1,
         '(40.61636, -74.15677)': 30,

In [44]:
profiles.column('CROSS STREET NAME').get('topValues')

[('3 AVENUE                        ', 9843),
 ('BROADWAY                        ', 9685),
 ('2 AVENUE                        ', 8421),
 ('5 AVENUE                        ', 7051),
 ('7 AVENUE                        ', 6634),
 ('8 AVENUE                        ', 6580),
 ('3 AVENUE', 5660),
 ('1 AVENUE                        ', 5318),
 ('BROADWAY', 5215),
 ('PARK AVENUE                     ', 4847)]

In [45]:
ds_full.distinct('CROSS STREET NAME')

Counter({'': 665839,
         'ANTHONY STREET': 26,
         '31ave': 1,
         'EAST 21 STREET': 422,
         'OSGOOD AVENUE': 38,
         'CONCORD STREET': 92,
         '\x7f�ST 138 STREET': 1,
         'JORALEMON STREET': 105,
         'AVENUE K': 676,
         'HYLAN BOULEVARD': 750,
         'LONGWOOD AVENUE': 212,
         'ROPES AVENUE': 47,
         'EAST 108 STREET': 142,
         'BROADWAY': 5215,
         'WOOSTER STREET': 72,
         '58 STREET': 467,
         'CHURCH AVENUE': 1324,
         'PELHAM PARKWAY NORTH': 153,
         'BLAKE AVENUE': 397,
         'BUFFALO AVENUE': 304,
         'WHITE PLAINS ROAD': 1368,
         'SOUTH 5 STREET': 125,
         '184 STREET': 162,
         '155 STREET': 234,
         'STUYVESANT AVENUE': 135,
         '24 AVENUE': 289,
         'PARK AVENUE': 2692,
         'SYCAMORE STREET': 50,
         'STEWART AVENUE': 121,
         '85 STREET': 376,
         'GROVE STREET': 143,
         'ANDREWS AVENUE': 130,
         '64 PLACE': 67,
         'BEVERLEY ROAD': 688,
         '11 AVENUE': 1905,
         'EAST 36 STREET': 363,
         '74 STREET': 383,
         'MADISON AVENUE': 1663,
         'SHEEPSHEAD BAY ROAD': 107,
         'BACHE AVENUE': 20,
         'AVENUE L': 650,
         'JOHNSON AVENUE': 202,
         'VIRGINIA AVENUE': 174,
         'EAST 8 STREET': 274,
         '65 STREET': 672,
         'CONWAY STREET': 92,
         'WEST 161 STREET': 74,
         'PLATINUM AVENUE': 81,
         'MOUNT MORRIS PARK WEST': 12,
         '1 AVENUE': 2716,
         'HILLCREST STREET': 14,
         'BORDEN AVENUE': 759,
         '10 AVENUE': 2444,
         'BUSHWICK AVENUE': 504,
         'AVENUE U': 710,
         'GUYON AVENUE': 89,
         'LAFAYETTE AVENUE': 753,
         '90 AVENUE': 389,
         'HULL AVENUE': 115,
         'EAST 182 STREET': 270,
         'HENDRIX STREET': 194,
         'UNIVERSITY AVENUE': 473,
         'LEFFERTS BOULEVARD': 675,
         'WEST 165 STREET': 205,
         '61 STREET': 451,
         'JOHNSON STREET': 197,
         'FOREST PLACE': 1,
         '71 STREET': 222,
         'FAILE STREET': 187,
         'HOME STREET': 49,
         'SCHENECTADY AVENUE': 591,
         'FISH AVENUE': 60,
         'Amsterdam Avenue': 6,
         'PAERDEGAT 7 STREET': 11,
         'EAST 65 STREET': 187,
         'EAST 134 STREET': 153,
         '141 AVENUE': 95,
         '2 AVENUE': 4130,
         'SUNRISE HIGHWAY': 193,
         'FOCH BOULEVARD': 291,
         'WEST 72 STREET': 134,
         '32 AVENUE': 535,
         'RAILROAD AVENUE': 6,
         'REMSEN AVENUE': 440,
         'EAST 138 STREET': 924,
         '134 STREET': 443,
         'NOSTRAND AVENUE': 1158,
         'ROSEDALE AVENUE': 434,
         '3 AVENUE': 5660,
         'GUY R BREWER BLVD': 8,
         'PAERDEGAT 10 STREET': 5,
         '249 STREET': 144,
         'BRONX BOULEVARD': 279,
         '89 STREET': 234,
         'STRATFORD AVENUE': 113,
         'WILLMOHR STREET': 85,
         'NORTH 10 STREET': 54,
         '83 AVENUE': 169,
         '13 AVENUE': 525,
         'MC DONALD AVENUE': 425,
         '86 STREET': 670,
         'WYTHE AVENUE': 376,
         '5 AVENUE': 3116,
         '9 AVENUE': 2091,
         'MARION AVENUE': 236,
         'WEST 17 STREET': 180,
         '23 AVENUE': 701,
         'WEST 8 STREET': 143,
         'COLLEGE POINT BOULEVARD': 513,
         'BAY 28 STREET': 30,
         'STEUBEN STREET': 109,
         'CATON AVENUE': 266,
         'KOSCIUSZKO STREET': 94,
         'EAST 135 STREET': 327,
         '82 STREET': 378,
         'PARK AVENUE SOUTH': 226,
         '53 STREET': 232,
         '204 STREET': 148,
         'EDSON AVENUE': 170,
         'MYRTLE AVENUE': 1102,
         'SENECA AVENUE': 194,
         'ASHFORD STREET': 194,
         'ASHLAND PLACE': 98,
         '150 STREET': 598,
         'EAST 34 STREET': 583,
         'PERRY AVENUE': 140,
         '82 AVENUE': 124,
         'SAINT PAULS PLACE': 104,
         'QUINCY STREET': 107,
         'WAYNE AVENUE': 48,
         'AUDUBON AVENUE': 235,
         'WATKINS STREET': 42,
         '34 STREET': 217,
         'RIVINGTON STREET': 211,
         'Vandervoort avenue': 1,
         'SEDGWICK AVENUE': 434,
         'EAST 37 STREET': 430,
         'SCHOLES STREET': 111,
         '3 AVENUE BRIDGE': 8,
         'EAST 55 STREET': 339,
         'LINDEN BOULEVARD': 2864,
         '84 STREET': 483,
         'EAST 61 STREET': 269,
         '178 STREET': 112,
         'GRAND CENTRAL PARKWAY': 1177,
         'EAST TREMONT AVENUE': 922,
         'BAY PARKWAY': 513,
         'PARSONS BOULEVARD': 788,
         'EAST 173 STREET': 268,
         '20 AVENUE': 785,
         'HUMBOLDT STREET': 237,
         'EAST 60 STREET': 337,
         'BELMONT AVENUE': 360,
         'FARRAGUT ROAD': 619,
         'RESERVOIR AVENUE': 65,
         'EAST 117 STREET': 76,
         '62 ROAD': 87,
         'BOSTON ROAD': 1044,
         'ANITA STREET': 3,
         'QUEENS MIDTOWN TUNNEL EXIT': 151,
         'EAST 137 STREET': 143,
         'TAPSCOTT STREET': 55,
         'TAAFFE PLACE': 34,
         'JUNIUS STREET': 205,
         'HEMPSTEAD AVENUE': 323,
         'GARDEN STREET': 51,
         '14 AVENUE': 694,
         'JULES DRIVE': 24,
         'CONSELYEA STREET': 37,
         '79 STREET': 475,
         'NORTH OXFORD STREET': 13,
         '218 STREET': 199,
         'BAY 50 STREET': 71,
         'SNYDER AVENUE': 372,
         '63 STREET': 250,
         'KISWICK STREET': 9,
         '48 AVENUE': 486,
         'Wallabout Street': 1,
         '197 STREET': 139,
         'COOPER AVENUE': 319,
         'GARDNER AVENUE': 81,
         '40 STREET': 178,
         '4 AVENUE': 1713,
         'CRESCENT STREET': 534,
         '203 STREET': 109,
         'EAST 7 STREET': 328,
         'UNION TURNPIKE': 1203,
         '146 STREET': 260,
         'EAST 163 STREET': 316,
         'SUMMIT AVENUE': 25,
         '93 STREET': 205,
         'THATFORD AVENUE': 72,
         '25 AVENUE': 340,
         'WILLIAMS AVENUE': 291,
         '108 AVENUE': 148,
         'JAMAICA AVENUE': 1959,
         'BULLARD AVENUE': 17,
         'MESEROLE STREET': 138,
         '7 AVENUE': 2822,
         'CROPSEY AVENUE': 415,
         'TILLOTSON AVENUE': 146,
         'MONTAUK AVENUE': 122,
         'OCEAN AVENUE': 714,
         'HOME LAWN STREET': 89,
         'MANHATTAN AVENUE': 343,
         'HERKIMER STREET': 182,
         'RYDER STREET': 96,
         'RUSSELL STREET': 53,
         'BEACH 102 STREET': 16,
         'EAST 208 STREET': 57,
         '26 AVENUE': 211,
         '59 AVENUE': 334,
         'DELANCEY STREET': 455,
         'EAST 101 STREET': 137,
         'DITMAS AVENUE': 535,
         '111 AVENUE': 440,
         'COLONIAL ROAD': 91,
         'HIMROD STREET': 87,
         'FARMERS BOULEVARD': 933,
         'AVENUE H': 567,
         'UTICA AVENUE': 939,
         'AVENUE T': 417,
         'EAST 193 STREET': 58,
         'GREENE AVENUE': 283,
         'ATLANTIC AVENUE': 2422,
         'LOUIS PLACE': 28,
         'MACDOUGAL STREET': 47,
         'CONOVER STREET': 35,
         'ROCKAWAY BEACH BOULEVARD': 197,
         'HERZL STREET': 63,
         '42 STREET': 273,
         'RIDGEWOOD AVENUE': 131,
         '126 STREET': 326,
         'AVENUE D': 639,
         'GOETHALS ROAD NORTH': 85,
         'NEWKIRK AVENUE': 277,
         'MINTON STREET': 9,
         'CROSS BRONX EXPRESSWAY': 932,
         'HILLSIDE AVENUE': 1523,
         'AVENUE J': 973,
         'WEST 116 STREET': 70,
         'TOWNSEND AVENUE': 98,
         'SUTTER AVENUE': 792,
         '180 STREET': 162,
         '144 AVENUE': 205,
         'GRANT AVENUE': 160,
         'ELIOT AVENUE': 295,
         'WEST 9 STREET': 246,
         'THROOP AVENUE': 230,
         '21 STREET': 416,
         'BOOTH MEMORIAL AVENUE': 237,
         'UNDERCLIFF AVENUE': 63,
         'MERMAID AVENUE': 129,
         '41 AVENUE': 684,
         'PRESIDENT STREET': 244,
         'PACIFIC STREET': 491,
         'MERRYMOUNT STREET': 36,
         'PARADE PLACE': 114,
         'VICTORY BOULEVARD': 578,
         '5 STREET': 112,
         '107 AVENUE': 651,
         'FEATHERBED LANE': 151,
         'NORTH CONDUIT AVENUE': 1059,
         'CLARKSON AVENUE': 406,
         'belt parkway': 23,
         '116 AVENUE': 411,
         'MAIDEN LANE': 46,
         'LONGFELLOW AVENUE': 181,
         '158 STREET': 159,
         'NEW UTRECHT AVENUE': 318,
         'BURNS STREET': 63,
         'COLUMBUS AVENUE': 612,
         'MICKLE AVENUE': 50,
         'WEST 204 STREET': 105,
         'DIVISION AVENUE': 103,
         'SHEFFIELD AVENUE': 231,
         '89 AVENUE': 577,
         'EAST 237 STREET': 62,
         'MIDDLETON STREET': 49,
         'BATHGATE AVENUE': 219,
         'BROOKVILLE BOULEVARD': 880,
         '171 STREET': 137,
         '80 STREET': 525,
         '6 AVENUE': 803,
         'WEST END AVENUE': 386,
         'IRVING AVENUE': 180,
         'RANDALL AVENUE': 358,
         'FULTON STREET': 1080,
         'ALLERTON AVENUE': 239,
         'AVENUE OF THE AMERICAS': 1841,
         'EAST 49 STREET': 411,
         'WEST 117 STREET': 34,
         '69 STREET': 530,
         'MERRICK BOULEVARD': 763,
         'ATKINS AVENUE': 158,
         'EAST 153 STREET': 156,
         '117 Street': 1,
         'EAST 26 STREET': 328,
         'SHORE PARKWAY': 1026,
         '127 STREET': 270,
         'SHEPHERD AVENUE': 124,
         'WATSON AVENUE': 344,
         'AVENUE M': 667,
         'SOUTH AVENUE': 127,
         '42 ROAD': 55,
         'BRUCKNER BOULEVARD': 2274,
         '91 AVENUE': 536,
         'WEST 40 STREET': 486,
         'WEST 132 STREET': 70,
         'EAST 205 STREET': 66,
         'BAYARD STREET': 103,
         'GRAND AVENUE': 656,
         'AVENUE N': 680,
         'EAST 157 STREET': 84,
         '43 AVENUE': 671,
         'FLUSHING AVENUE': 613,
         'EAST 184 STREET': 299,
         'CLINTON AVENUE': 219,
         '45 STREET': 316,
         'AVENUE V': 359,
         'STONE AVENUE': 222,
         'WILLOWBROOK ROAD': 133,
         'LENOX ROAD': 475,
         'MONROE STREET': 95,
         '222 STREET': 182,
         'BEACH 38 STREET': 25,
         'John f kennedy expressway': 1,
         'EAST 149 STREET': 680,
         'EAST 222 STREET': 150,
         '40 ROAD': 175,
         'HUBBARD PLACE': 8,
         'PLATTWOOD AVENUE': 19,
         '68 AVENUE': 159,
         '188 STREET': 267,
         'WEST 48 STREET': 210,
         'HEYWARD STREET': 53,
         '103 STREET': 166,
         '172 STREET': 204,
         '99 STREET': 338,
         'ROOSEVELT AVENUE': 978,
         'SKIDMORE AVENUE': 87,
         'NORTHERN BOULEVARD': 2139,
         'TINTON AVENUE': 127,
         '67 ROAD': 90,
         'EAST 38 STREET': 327,
         'CENTRAL AVENUE': 306,
         'BRIGHTWATER COURT': 25,
         'CONVENT AVENUE': 100,
         '164 STREET': 367,
         'EAST GUN HILL ROAD': 591,
         'HATFIELD PLACE': 10,
         'WASHINGTON AVENUE': 703,
         'EVERGREEN AVENUE': 261,
         'EAST 54 STREET': 359,
         'TIFFANY STREET': 331,
         'GLENWOOD ROAD': 817,
         'MULBERRY STREET': 207,
         'HAWTHORNE STREET': 51,
         'BEACH 45 STREET': 12,
         'SEAVER AVENUE': 78,
         'RADNOR ROAD': 7,
         'HOYT STREET': 221,
         'LINCOLN PLACE': 286,
         'EAST 95 STREET': 351,
         '70 ROAD': 140,
         '27 STREET': 304,
         'EAST 62 STREET': 310,
         'EASTCHESTER ROAD': 379,
         'CROMWELL AVENUE': 93,
         'SAINT NICHOLAS AVENUE': 620,
         'WILLIAMSBURG STREET EAST': 73,
         '122 AVENUE': 110,
         'WEST 33 STREET': 219,
         'EAST 52 STREET': 420,
         'FOREST AVENUE': 536,
         'GRACE AVENUE': 96,
         '168 STREET': 356,
         'Hicks street': 6,
         'SAINT PAULS AVENUE': 28,
         '38 STREET': 274,
         '125 STREET': 205,
         'LEWISTON AVENUE': 7,
         'FOREST HILL ROAD': 190,
         'CITY ISLAND AVENUE': 22,
         '149 AVENUE': 372,
         'MC KEEVER PLACE': 17,
         '230 STREET': 93,
         '91 STREET': 190,
         'PARK LANE SOUTH': 234,
         'BRYANT AVENUE': 315,
         'HOOK CREEK BOULEVARD': 255,
         'WEST 59 STREET': 65,
         '43 STREET': 393,
         'GARIBALDI AVENUE': 3,
         'WILSON AVENUE': 320,
         'TILDEN AVENUE': 322,
         'THOMSON AVENUE': 208,
         'BARBEY STREET': 114,
         'WEST 42 STREET': 574,
         'ZEREGA AVENUE': 201,
         'PINSON STREET': 7,
         'RONALD AVENUE': 2,
         'WEST 187 STREET': 48,
         'EAST 125 STREET': 239,
         'GEORGIA AVENUE': 395,
         'EAST FORDHAM ROAD': 507,
         'ROBINSON STREET': 47,
         'WEST 183 STREET': 117,
         'JEFFERSON AVENUE': 263,
         'SPENCER STREET': 30,
         'OLINVILLE AVENUE': 204,
         'WEST 230 STREET': 235,
         'SEAVIEW AVENUE': 428,
         'PITKIN AVENUE': 715,
         'WEST 135 STREET': 134,
         'HOLLIS AVENUE': 184,
         'HICKS STREET': 531,
         'HANNIBAL STREET': 22,
         'PARK PLACE': 386,
         'EAST 181 STREET': 324,
         'INWOOD STREET': 135,
         'BARKER AVENUE': 51,
         '130 AVENUE': 248,
         'PUTNAM AVENUE': 271,
         '69 ROAD': 180,
         'EAST HAMPTON BOULEVARD': 7,
         'FRANCIS LEWIS BOULEVARD': 1235,
         'ALBANY AVENUE': 496,
         'LIBERTY AVENUE': 1748,
         'CLAREMONT PARKWAY': 171,
         'BIRMINGTON PARKWAY': 3,
         'EAST 44 STREET': 100,
         'BERKELEY PLACE': 28,
         'MOTT STREET': 236,
         'JEROME AVENUE': 1034,
         'FRIEL PLACE': 10,
         'WEST MOSHOLU PARKWAY SOUTH': 10,
         'PUGSLEY AVENUE': 272,
         'HUNTS POINT AVENUE': 349,
         'CLAFLIN AVENUE': 13,
         '64 ROAD': 158,
         'WEST 181 STREET': 280,
         'WEST 240 STREET': 40,
         'AVENUE W': 209,
         'WEBSTER AVENUE': 1031,
         'totten road': 2,
         'WEST 13 STREET': 108,
         '31 STREET': 510,
         'GRAND CONCOURSE': 965,
         'RUTLAND ROAD': 342,
         'JUNIPER BOULEVARD SOUTH': 37,
         'WALTON AVENUE': 523,
         'STORY AVENUE': 280,
         '48 STREET': 461,
         '106 AVENUE': 88,
         'CARLTON AVENUE': 172,
         'CANARSIE LANE': 33,
         'BEACH 91 STREET': 39,
         'SCHENCK AVENUE': 260,
         'BAY 41 STREET': 26,
         'DECATUR STREET': 199,
         '135 AVENUE': 401,
         'KELLY STREET': 75,
         'ORIENTAL BOULEVARD': 24,
         'RUTLEDGE STREET': 69,
         'AMSTERDAM AVENUE': 1536,
         'JUDGE STREET': 27,
         'BEDELL STREET': 152,
         'PRINCE STREET': 544,
         'TRAVIS AVENUE': 111,
         'OCEANVIEW AVENUE': 72,
         'MACOMBS DAM BRIDGE': 76,
         'EAST 174 STREET': 386,
         'ROCKAWAY BOULEVARD': 1675,
         'PENNSYLVANIA AVENUE': 692,
         '210 STREET': 147,
         '37 STREET': 337,
         'HEGEMAN AVENUE': 267,
         'EAST 214 STREET': 21,
         '73 STREET': 262,
         'PINE STREET': 120,
         'TILLARY STREET': 567,
         'WEST 30 STREET': 335,
         'EXTERIOR STREET': 327,
         'MACOMBS ROAD': 104,
         'JACKSON AVENUE': 655,
         'Connor street': 1,
         'WOODHAVEN BOULEVARD': 1002,
         'EAST 158 STREET': 182,
         'JEWEL AVENUE': 300,
         'GRAHAM AVENUE': 206,
         'EAST 16 STREET': 448,
         'EAST 159 STREET': 62,
         '23 TERRACE': 2,
         'EAST 183 STREET': 366,
         'EAST 56 STREET': 425,
         'ELTON AVENUE': 83,
         'EAST 63 STREET': 257,
         'CABOT ROAD': 14,
         'CLEVELAND STREET': 150,
         'FIELD PLACE': 36,
         'EAST 92 STREET': 355,
         'LAYTON STREET': 25,
         'GLENMORE AVENUE': 275,
         'EAST NEW YORK AVENUE': 556,
         'BEDFORD AVENUE': 1251,
         'POPLE AVENUE': 22,
         'GARFIELD PLACE': 43,
         '119 AVENUE': 182,
         'BROWN PLACE': 240,
         '8 AVENUE': 2666,
         'EAST 2 STREET': 275,
         'GUNTHER AVENUE': 109,
         'INWOOD AVENUE': 66,
         'VANDERVORT AVENUE': 162,
         '53 ROAD': 18,
         'RALPH AVENUE': 717,
         'KISSENA BOULEVARD': 393,
         'BEACH 67 STREET': 32,
         '71 AVENUE': 291,
         'WEST 36 STREET': 232,
         'LINCOLN AVENUE': 407,
         'MELROSE AVENUE': 219,
         'WEST 158 STREET': 74,
         '52 STREET': 218,
         'HOLLYWOOD AVENUE': 61,
         'WESTCHESTER AVENUE': 1213,
         'CORONA AVENUE': 149,
         'EAST MOSHOLU PARKWAY NORTH': 57,
         '21 AVENUE': 401,
         'WEST 100 STREET': 71,
         'ELTON STREET': 172,
         'EAST 180 STREET': 395,
         'WILLOUGHBY STREET': 204,
         'MAGENTA STREET': 46,
         'SAINT FELIX STREET': 45,
         'DALY AVENUE': 47,
         'WOODVALE AVENUE': 13,
         'LAWTON AVENUE': 25,
         '24 STREET': 106,
         '85 AVENUE': 183,
         'VESEY STREET': 102,
         'EAST 167 STREET': 340,
         'CARPENTER AVENUE': 277,
         'ROCHESTER AVENUE': 283,
         '108 STREET': 613,
         'LAURELTON PARKWAY': 107,
         'VERNON BOULEVARD': 197,
         'MCKINLEY AVENUE': 13,
         '88 LANE': 7,
         'SOUTH 9 STREET': 42,
         'HAVENS PLACE': 9,
         'EAST 18 STREET': 383,
         'DAHILL ROAD': 191,
         '60 STREET': 576,
         'WEST 61 STREET': 75,
         '88 STREET': 405,
         'FREEMAN STREET': 104,
         'CRUGER AVENUE': 133,
         'ALEXANDER AVENUE': 186,
         '39 STREET': 333,
         '115 AVENUE': 451,
         'HORACE HARDING EXPRESSWAY': 1061,
         'UNION STREET': 777,
         '162 AVENUE': 40,
         'CATALPA AVENUE': 71,
         'AMBOY STREET': 101,
         'KING STREET': 111,
         'PEARL STREET': 267,
         '99 AVENUE': 155,
         '20 ROAD': 50,
         'CENTRAL PARK WEST': 516,
         'FLATBUSH AVENUE EXTENSION': 431,
         'WEST 140 STREET': 52,
         'BRISTOL STREET': 153,
         '31 DRIVE': 58,
         '144 STREET': 119,
         'EAST 169 STREET': 272,
         'HALSEY STREET': 239,
         'BROOK AVENUE': 450,
         'BARTOW AVENUE': 203,
         'welling ct': 1,
         'BAY STREET': 178,
         '65 ROAD': 117,
         'WEST 180 STREET': 148,
         'ELDERTS LANE': 186,
         'VANWYCK EXPRESSWAY': 1359,
         'SIMPSON STREET': 85,
         '47 AVENUE': 617,
         '118 AVENUE': 230,
         '37 AVENUE': 1003,
         'WEST 34 STREET': 365,
         'SAINT ANNS PLACE': 68,
         'BEACH 48 STREET': 8,
         '29 AVENUE': 132,
         '18 AVENUE': 690,
         '79 AVENUE': 95,
         'EAST 236 STREET': 75,
         'KNAPP STREET': 130,
         'FOCH AVENUE': 9,
         '62 DRIVE': 185,
         'ROCKAWAY AVENUE': 617,
         '116 STREET': 152,
         'WEST 74 STREET': 40,
         'TUDOR PLACE': 13,
         '17 AVENUE': 409,
         'WEST 175 STREET': 106,
         'NORFOLK STREET': 90,
         'LORTEL AVENUE': 42,
         '19 AVENUE': 325,
         'EMPIRE AVENUE': 14,
         'DE KALB AVENUE': 485,
         'JEROME STREET': 127,
         'BALTIC STREET': 152,
         'MAJOR DEEGAN EXPRESSWAY': 676,
         'EAST 86 STREET': 260,
         '110 AVENUE': 192,
         'EUCLID AVENUE': 256,
         'ASTORIA BOULEVARD': 992,
         'CYPRESS AVENUE': 529,
         'WEST 66 STREET': 113,
         'COLUMBIA STREET': 257,
         'EAST 196 STREET': 105,
         'WOODYCREST AVENUE': 58,
         '159 AVENUE': 74,
         '133 ROAD': 18,
         'CORTELYOU ROAD': 441,
         'PRIMROSE PLACE': 6,
         'HOOPER STREET': 87,
         'EAST 83 STREET': 219,
         'BRONXWOOD AVENUE': 264,
         'RIVERSIDE DRIVE': 651,
         'CROSS ISLAND PARKWAY': 803,
         'HANNAH STREET': 49,
         'BOERUM PLACE': 217,
         'BURBANK AVENUE': 61,
         'LEXINGTON AVENUE': 2080,
         '28 AVENUE': 318,
         'GRAND ARMY PLAZA': 362,
         'CHASE COURT': 16,
         '54 STREET': 275,
         '68 PLACE': 15,
         '142 STREET': 170,
         'FOUNTAIN AVENUE': 246,
         'KRAMER AVENUE': 5,

In [24]:
def validate_age_group(sourceValue):
    UNKNOWN = "UNKNOWN"
    
    try:
        values = ["25-44", "18-24", "45-64", "<18", "65+","UNKNOWN"]
        
        if sourceValue in values:
            return sourceValue
        else:
            return UNKNOWN
    except:
        return UNKNOWN

    
ds_full = ds_full.update('PERP_AGE_GROUP', validate_age_group)

In [46]:
profiles.column('NUMBER OF PERSONS INJURED').get('topValues')

[('0', 1464140),
 ('1', 297634),
 ('2', 56151),
 ('3', 18520),
 ('4', 6941),
 ('5', 2747),
 ('6', 1131),
 ('7', 489),
 ('8', 207),
 ('9', 115)]

In [47]:
ds_full.distinct('NUMBER OF PERSONS INJURED')

Counter({'0': 1464140,
         '1': 297634,
         '7': 489,
         '2': 56151,
         '3': 18520,
         '5': 2747,
         '4': 6941,
         '6': 1131,
         '9': 115,
         '8': 207,
         '17': 5,
         '10': 71,
         '16': 8,
         '': 18,
         '11': 41,
         '14': 8,
         '15': 7,
         '18': 5,
         '20': 2,
         '13': 18,
         '12': 27,
         '22': 3,
         '31': 1,
         '19': 4,
         '27': 1,
         '32': 1,
         '24': 3,
         '43': 1})

In [49]:
def validate_NPI(sourceValue):
    UNKNOWN = "-999"
    
    try:
        values = ['0','1','2','3','4','5','6','7','8','9','10','17','16','11','14','15','18','20','13','12','22','31','19','27','32','24','43']
        
        if sourceValue in values:
            return sourceValue
        else:
            return UNKNOWN
    except:
        return UNKNOWN

    
ds_full = ds_full.update('NUMBER OF PERSONS INJURED', validate_NPI)

In [50]:
profiles.column('NUMBER OF PERSONS KILLED').get('topValues')

[('0', 1845915),
 ('1', 2282),
 ('2', 57),
 ('3', 9),
 ('4', 3),
 ('8', 1),
 ('5', 1)]

In [51]:
ds_full.distinct('NUMBER OF PERSONS KILLED')

Counter({'0': 1845915,
         '1': 2282,
         '2': 57,
         '3': 9,
         '4': 3,
         '': 31,
         '8': 1,
         '5': 1})

In [52]:
def validate_NPK(sourceValue):
    UNKNOWN = "-999"
    
    try:
        values = ['0','1','2','3','4','5','8']
        
        if sourceValue in values:
            return sourceValue
        else:
            return UNKNOWN
    except:
        return UNKNOWN

    
ds_full = ds_full.update('NUMBER OF PERSONS KILLED', validate_NPK)

In [53]:
profiles.column('NUMBER OF PEDESTRIANS KILLED').get('topValues')

[('0', 1847053), ('1', 1234), ('2', 11), ('6', 1)]

In [54]:
ds_full.distinct('NUMBER OF PEDESTRIANS KILLED')

Counter({'0': 1847053, '1': 1234, '2': 11, '6': 1})

In [55]:
profiles.column('NUMBER OF PEDESTRIANS INJURED').get('topValues')

[('0', 1755767),
 ('1', 89176),
 ('2', 2960),
 ('3', 306),
 ('4', 50),
 ('5', 20),
 ('6', 11),
 ('7', 3),
 ('9', 2),
 ('27', 1)]

In [56]:
ds_full.distinct('NUMBER OF PEDESTRIANS INJURED')

Counter({'0': 1755767,
         '1': 89176,
         '2': 2960,
         '3': 306,
         '4': 50,
         '6': 11,
         '5': 20,
         '7': 3,
         '27': 1,
         '9': 2,
         '13': 1,
         '15': 1,
         '8': 1})

In [59]:
profiles.column('NUMBER OF CYCLIST INJURED').get('topValues')

[('0', 1804356), ('1', 43487), ('2', 438), ('3', 17), ('4', 1)]

In [60]:
ds_full.distinct('NUMBER OF CYCLIST INJURED')

Counter({'0': 1804356, '1': 43487, '2': 438, '3': 17, '4': 1})

In [62]:
ds_full.distinct('NUMBER OF CYCLIST KILLED')

Counter({'0': 1848116, '1': 182, '2': 1})

In [63]:
profiles.column('NUMBER OF CYCLIST KILLED').get('topValues')

[('0', 1848116), ('1', 182), ('2', 1)]

In [65]:
profiles.column('NUMBER OF MOTORIST INJURED').get('topValues')

[('0', 1600620),
 ('1', 166509),
 ('2', 51610),
 ('3', 17984),
 ('4', 6802),
 ('5', 2708),
 ('6', 1092),
 ('7', 465),
 ('8', 199),
 ('9', 112)]

In [66]:
profiles.column('NUMBER OF MOTORIST KILLED').get('topValues')

[('0', 1847383), ('1', 860), ('2', 44), ('3', 9), ('4', 2), ('5', 1)]

In [67]:
ds_full.distinct('CONTRIBUTING FACTOR VEHICLE 1')

Counter({'Following Too Closely': 96498,
         'Unspecified': 652406,
         'Pavement Slippery': 18039,
         'Driver Inattention/Distraction': 358908,
         'Other Vehicular': 58003,
         'Passing Too Closely': 43585,
         'Passing or Lane Usage Improper': 47726,
         'Driver Inexperience': 27967,
         'Failure to Yield Right-of-Way': 107265,
         'Brakes Defective': 6029,
         'Turning Improperly': 45962,
         'Unsafe Speed': 20711,
         'Backing Unsafely': 69814,
         'Reaction to Uninvolved Vehicle': 17328,
         'View Obstructed/Limited': 11740,
         'Steering Failure': 2397,
         'Traffic Control Disregarded': 30324,
         'Drugs (illegal)': 695,
         'Aggressive Driving/Road Rage': 7915,
         'Fell Asleep': 4615,
         'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion': 7379,
         'Alcohol Involvement': 18670,
         'Unsafe Lane Changing': 36152,
         'Pavement Defective': 2226,
         'Other Lighting Defects': 161,
         'Oversized Vehicle': 11638,
         'Animals Action': 1381,
         'Outside Car Distraction': 12289,
         'Illnes': 1281,
         'Driverless/Runaway Vehicle': 1034,
         'Passenger Distraction': 7461,
         'Tire Failure/Inadequate': 2154,
         '': 5355,
         'Lost Consciousness': 20055,
         'Accelerator Defective': 946,
         'Obstruction/Debris': 3802,
         'Failure to Keep Right': 3045,
         'Glare': 3748,
         'Eating or Drinking': 105,
         'Cell Phone (hands-free)': 262,
         'Lane Marking Improper/Inadequate': 918,
         'Using On Board Navigation Device': 132,
         'Fatigued/Drowsy': 47149,
         'Tow Hitch Defective': 192,
         'Physical Disability': 9266,
         'Cell Phone (hand-Held)': 433,
         'Headlights Defective': 117,
         'Tinted Windows': 126,
         'Vehicle Vandalism': 106,
         'Prescription Medication': 15378,
         'Listening/Using Headphones': 20,
         'Texting': 42,
         'Traffic Control Device Improper/Non-Working': 775,
         'Other Electronic Device': 2315,
         'Windshield Inadequate': 72,
         'Shoulders Defective/Improper': 83,
         '80': 101,
         'Reaction to Other Uninvolved Vehicle': 1337,
         '1': 10,
         'Drugs (Illegal)': 419,
         'Illness': 2158,
         'Cell Phone (hand-held)': 79})

In [68]:
profiles.column('CONTRIBUTING FACTOR VEHICLE 1').get('topValues')

[('Unspecified', 652406),
 ('Driver Inattention/Distraction', 358908),
 ('Failure to Yield Right-of-Way', 107265),
 ('Following Too Closely', 96498),
 ('Backing Unsafely', 69814),
 ('Other Vehicular', 58003),
 ('Passing or Lane Usage Improper', 47726),
 ('Fatigued/Drowsy', 47149),
 ('Turning Improperly', 45962),
 ('Passing Too Closely', 43585)]

In [70]:
ds_full.distinct('CONTRIBUTING FACTOR VEHICLE 2')

Counter({'Unspecified': 1329552,
         '': 268393,
         'Other Vehicular': 29555,
         'Unsafe Speed': 3984,
         'Driver Inattention/Distraction': 84288,
         'Driver Inexperience': 6060,
         'Failure to Yield Right-of-Way': 15604,
         'Following Too Closely': 16361,
         'Turning Improperly': 8229,
         'Passing or Lane Usage Improper': 11126,
         'View Obstructed/Limited': 2720,
         'Oversized Vehicle': 2118,
         'Passing Too Closely': 7728,
         'Unsafe Lane Changing': 6047,
         'Traffic Control Disregarded': 6276,
         'Pavement Slippery': 3795,
         'Reaction to Uninvolved Vehicle': 2968,
         'Fell Asleep': 483,
         'Aggressive Driving/Road Rage': 1465,
         'Backing Unsafely': 7529,
         'Alcohol Involvement': 1392,
         'Outside Car Distraction': 2501,
         'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion': 1773,
         'Obstruction/Debris': 636,
         'Glare': 462,
         'Vehicle Vandalism': 12,
         'Passenger Distraction': 1420,
         'Steering Failure': 91,
         'Driverless/Runaway Vehicle': 80,
         'Drugs (illegal)': 34,
         'Failure to Keep Right': 635,
         'Fatigued/Drowsy': 10831,
         'Brakes Defective': 374,
         'Tire Failure/Inadequate': 102,
         'Headlights Defective': 53,
         'Lane Marking Improper/Inadequate': 516,
         'Traffic Control Device Improper/Non-Working': 444,
         'Other Lighting Defects': 52,
         'Tinted Windows': 31,
         'Cell Phone (hands-free)': 46,
         'Pavement Defective': 186,
         'Cell Phone (hand-Held)': 52,
         'Other Electronic Device': 628,
         'Accelerator Defective': 67,
         'Listening/Using Headphones': 9,
         'Illnes': 41,
         'Prescription Medication': 3020,
         'Using On Board Navigation Device': 12,
         '80': 22,
         'Tow Hitch Defective': 23,
         'Lost Consciousness': 5227,
         'Shoulders Defective/Improper': 13,
         'Animals Action': 69,
         'Eating or Drinking': 8,
         'Physical Disability': 2190,
         'Texting': 3,
         'Windshield Inadequate': 7,
         'Reaction to Other Uninvolved Vehicle': 377,
         '1': 5,
         'Illness': 436,
         'Drugs (Illegal)': 116,
         'Cell Phone (hand-held)': 22})

In [69]:
profiles.column('CONTRIBUTING FACTOR VEHICLE 2').get('topValues')

[('Unspecified', 1329552),
 ('Driver Inattention/Distraction', 84288),
 ('Other Vehicular', 29555),
 ('Following Too Closely', 16361),
 ('Failure to Yield Right-of-Way', 15604),
 ('Passing or Lane Usage Improper', 11126),
 ('Fatigued/Drowsy', 10831),
 ('Turning Improperly', 8229),
 ('Passing Too Closely', 7728),
 ('Backing Unsafely', 7529)]

In [71]:
ds_full.distinct('VEHICLE TYPE CODE 1')

Counter({'Sedan': 471353,
         'Station Wagon/Sport Utility Vehicle': 374662,
         'Taxi': 45627,
         '�MBU': 1,
         'Pick-up Truck': 29732,
         'Box Truck': 20621,
         'Bus': 17305,
         '': 10216,
         'Ambulance': 3026,
         'Tow Truck / Wrecker': 1076,
         'E-Bike': 1203,
         'Van': 7666,
         'Flat Bed': 2027,
         'Moped': 723,
         'Tractor Truck Diesel': 8766,
         'AMBULANCE': 2476,
         'Bike': 11110,
         'Trailer': 14,
         'Motorcycle': 6194,
         'Garbage or Refuse': 1789,
         'SCHOOL BUS': 11,
         'Lift Boom': 198,
         'scooter': 8,
         'CATER': 2,
         'PKUP': 2,
         'Carry All': 1664,
         'FDNY Ambul': 4,
         '3-Door': 243,
         'Beverage Truck': 266,
         'SEMI TRAIL': 2,
         'Dump': 3105,
         'Convertible': 3266,
         '4 dr sedan': 40084,
         'dump': 28,
         'Flat Rack': 282,
         'GARBAGE TR': 6,
         'Motorbike': 360,
         'Tanker': 671,
         'Armored Truck': 293,
         'MOPED': 60,
         'SW/VAN': 1,
         'Bulk Agriculture': 58,
         'Motorscooter': 496,
         'UTILITY': 6,
         'Concrete Mixer': 412,
         'Open Body': 50,
         'E-Scooter': 898,
         'unknown': 4,
         'fire truck': 12,
         'Glass Rack': 13,
         'COMMERCIAL': 8,
         'PSD': 11,
         'Scooter': 11,
         'MTA': 4,
         'Multi-Wheeled Vehicle': 75,
         'PK': 1973,
         'Minicycle': 21,
         'TRUCK': 194,
         'Truck': 23,
         'Chassis Cab': 696,
         'LIMO': 173,
         'Tractor Truck Gasoline': 1327,
         'MACK': 15,
         'Refrigerated Van': 436,
         'van': 385,
         'CARRIER': 1,
         'Fire truck': 7,
         'ambulance': 40,
         'NYPD VAN': 1,
         '2 dr sedan': 2650,
         'MTR H': 1,
         'Pallet': 35,
         'AMBULANE': 2,
         'AMB': 31,
         'Mailtruck': 1,
         'COM': 52,
         'UTIL': 30,
         'Pick up tr': 3,
         'EMS bus': 1,
         'FORKLIFT': 4,
         'SANMEN COU': 1,
         'PUMP': 2,
         'FIRE TRUCK': 827,
         'forklift': 5,
         'Dirt Bike': 2,
         'FIRETRUCK': 14,
         'School Bus': 172,
         'FDNY AMBUL': 14,
         'C1': 8,
         'SHUTTLE BU': 1,
         'FDNY': 121,
         'NYS Ambula': 1,
         'TOW TRUCK': 15,
         'Stake or Rack': 140,
         'FORD': 19,
         'Van Camper': 29,
         'GOLF CAR': 1,
         'RV': 18,
         'USPS TRUCK': 6,
         'UHAL': 1,
         'Dodge': 1,
         'Mini Van': 1,
         'trailer': 13,
         'SELF INSUR': 3,
         'SCOOTER': 259,
         'VAN/TRUCK': 2,
         'EMS': 4,
         'kick scoot': 1,
         'LADDER CO': 1,
         'SEMI': 11,
         'MTA BUS': 5,
         'Commercial': 5,
         'Cargo van': 1,
         'Ambu': 6,
         'TRUCK COMM': 1,
         'FORD VAN': 2,
         'Ford Van': 2,
         'MOTOR SCOO': 5,
         'DELIVERY T': 3,
         'Enclosed Body - Nonremovable Enclosure': 5,
         'Skywatch': 1,
         'DUMP TRUCK': 8,
         'ELECTRIC S': 4,
         'Lunch Wagon': 27,
         'SPRINTER V': 1,
         'TL': 1,
         'MACK TRUCK': 2,
         'Minibike': 27,
         'PICK UP': 11,
         'tow truck': 2,
         'Hopper': 18,
         'Flatbed Pi': 1,
         'UNKNOWN': 19932,
         'Horse trai': 1,
         'GOLF CART': 6,
         'AMBU': 65,
         'Passenger': 1,
         'crane': 4,
         'PAS': 26,
         'DIRT BIKE': 3,
         'G COM': 4,
         'NYC FIRE T': 1,
         'truck': 40,
         'FDNY FIRE': 12,
         'pick up tr': 1,
         'SELF': 17,
         'Motorscoot': 2,
         'FORD SPRIN': 1,
         'AMBUKANCE': 1,
         'Backhoe Lo': 1,
         'Snow Plow': 84,
         'REFG': 16,
         'POWER LADD': 1,
         'BOX TRUCK': 17,
         'utility tr': 2,
         'UTILITY VE': 5,
         'Mercedes': 1,
         'PICKUP': 4,
         'firetruck': 4,
         'Fire': 46,
         'OML/OMNIBU': 1,
         'post offic': 1,
         'pick up': 2,
         'DELV BR': 1,
         'Well Driller': 9,
         'FDNY truck': 1,
         'MTA bus': 1,
         'Fire Truck': 15,
         'Vanette': 15,
         'AMBULENCE': 3,
         'FDNY ENGIN': 4,
         'EMS Ambula': 2,
         'TRAILER': 33,
         'TRAC': 19,
         'E-scooter': 2,
         'NYC AMBULA': 2,
         'Pickup with mounted Camper': 47,
         'pickup': 4,
         'Forklift': 2,
         'PASSENGER': 3,
         'TRACTOR TR': 1,
         'CMIXER': 1,
         'US POSTAL': 4,
         'FDNY TRUCK': 16,
         'DUMP': 85,
         'GAS SCOOTE': 1,
         'OTHER': 22966,
         'TRAILER/FL': 1,
         'POSTAL VEH': 1,
         'FLAT': 23,
         'DELV': 45,
         'G PSD': 2,
         'USPS': 66,
         'PC': 11,
         'HERTZ RAM': 1,
         'Fire Engin': 3,
         'SUBN - AMB': 1,
         'SPARK150 S': 1,
         'MTA Bus': 2,
         'PICKUP TRU': 3,
         'Livestock Rack': 10,
         'TRAILEE': 1,
         'UPS TRUCK': 2,
         'FDNY CHIEF': 1,
         'SPECIAL CO': 1,
         'Quality tr': 1,
         'box truck': 6,
         'Garbage Tr': 1,
         'con ed tru': 1,
         'ROAD SWEEP': 2,
         'EMS/VAN': 1,
         'BOBCAT': 1,
         'ford': 5,
         'Pick up': 5,
         'CO': 6,
         'Amb': 3,
         '7532433': 1,
         'SUBURBAN': 3,
         'Unk': 2,
         '4DS': 3,
         'Tow Truck': 33,
         'FIRE ENGIN': 6,
         'sanitaion': 1,
         'POWER SHOV': 3,
         'Ram Promas': 1,
         'passenger': 1,
         'SKID LOADE': 1,
         'MARKED VAN': 1,
         'EXCAVATOR': 1,
         'Power Shov': 1,
         'BULLDOZER': 1,
         'HD': 1,
         'SANITATION': 1,
         'Excavator': 2,
         'SKYWATCH': 1,
         'NYNJ RAIL': 1,
         'truck trai': 1,
         'box': 4,
         'utility': 2,
         'STAK': 8,
         'VAN TRUCK': 3,
         'AMUBULANCE': 1,
         'sedan': 3,
         'ambu': 18,
         'Postal tru': 1,
         'commercial': 4,
         'SNOW PLOW': 1,
         'Dump truck': 4,
         'FRHT TRAIL': 1,
         'TRK': 19,
         'Van truck': 1,
         'FDNY EMS': 1,
         'Unknown': 5,
         'MTA truck': 1,
         'NIU': 1,
         'TRACTOR': 3,
         'USPS TRUC,': 1,
         'na': 1,
         'Government': 1,
         'Sanitation': 3,
         'FIRET TRUC': 1,
         'G AMB': 1,
         'tow': 10,
         'UTILITY WH': 1,
         'Tk': 2,
         'Fedex': 1,
         'PICK UP TR': 4,
         'U HAUL TRU': 1,
         'Subr': 1,
         'USPS Truck': 1,
         'fdny ambul': 1,
         'ambulette': 1,
         'TRAILOR': 1,
         'CEMENT TRU': 1,
         'Sprinter v': 1,
         'FORK LIFT': 4,
         'nyc EMS': 1,
         'road sweep': 1,
         'REP': 3,
         'Com': 3,
         'refuse tru': 1,
         'Motorized Home': 26,
         'VMS': 3,
         'Flat bed t': 1,
         'Box truck': 3,
         'TRUCK TRAI': 1,
         'Ambulette': 1,
         'USPS truck': 1,
         'FDNY FIRET': 2,
         'CMIX': 4,
         'util': 5,
         'LADDER TRU': 2,
         'sanitaton': 1,
         'tk': 5,
         'g com': 1,
         'E-SKATEBOA': 1,
         'Enclosed Body - Removable Enclosure': 7,
         'usps 88716': 1,
         'ebike': 1,
         'SEDAN': 7,
         'PERM': 1,
         'TF': 2,
         'Firetruck': 6,
         'ESCOOTER S': 1,
         'FIRE': 158,
         'MOTOR HOME': 1,
         'CITY': 6,
         'PASSENGER VEHICLE': 416206,
         'CAMPER VAN': 1,
         'mini van': 1,
         'usps truck': 1,
         'tr': 5,
         'TANK': 22,
         'Grumman LL': 1,
         '994': 1,
         'subn': 17,
         'Electric S': 1,
         'ESU REP': 1,
         'self insur': 1,
         'NYPD TOW T': 1,
         'mailtruck': 1,
         'White Van': 1,
         'Dent and S': 1,
         "''lime mope": 1,
         'Pick wh': 1,
         'REVEL scoo': 1,
         'NYC SANITA': 1,
         'gas scoote': 1,
         'NYS AMBULA': 3,
         'DODGE RAM': 1,
         'HWH': 1,
         'Unmarked V': 1,
         'BOX': 3,
         'Pedicab': 38,
         'DUMPSTER T': 1,
         'Gas scoote': 1,
         'CHERV': 1,
         'Post offic': 1,
         'SKATEBOARD': 2,
         'USPS MAIL': 3,
         'crane boom': 1,
         'F550': 2,
         'sprinter v': 2,
         'MOVING TRU': 1,
         'Yamaha': 1,
         'MINI BUS': 1,
         'Work Van': 2,
         'Fork lift': 2,
         'commerical': 1,
         'SEDONA': 1,
         'TLC': 2,
         'FDNY LADDE': 4,
         'Mopd': 1,
         'UTILITY VA': 1,
         'GAS POWERE': 1,
         'ENGINE SP0': 1,
         'Pass': 1,
         'US Mail Tr': 1,
         'gas mo ped': 1,
         'SCOOTER GA': 1,
         'Pro master': 1,
         'forlift': 1,
         'MOTOR SKAT': 1,
         'Can': 1,
         'FLATBED FR': 1,
         'N/A': 8,
         'postal van': 1,
         'UNK': 37,
         'FIRTRUCK': 1,
         'skateboard': 1,
         'TTAILER': 1,
         'fdny ems': 1,
         'AMBULACE': 2,
         'bus': 27,
         'Street Swe': 1,
         'FDNY fire': 1,
         'DELIVERY': 3,
         'Cement Tru': 2,
         'USPS/GOVT': 1,
         'TRUCK VAN': 1,
         'Golf Cart': 1,
         'SUV': 7,
         'CATAPILLAR': 1,
         'SWT': 2,
         'Trac': 1,
         'FLAT  BED': 1,
         'E-BIKE': 2,
         'Fork Lift': 2,
         'COURIER': 1,
         'Courier': 1,
         'Leased amb': 1,
         'SMART CAR': 1,
         'message si': 1,
         'moped': 22,
         'E-UNICYCLE': 1,
         'Street Cle': 1,
         'Lawnmower': 1,
         'BICYCLE': 559,
         'almbulance': 1,
         'dark color': 1,
         'ford van': 1,
         'Tractor tr': 2,
         'FD LADDER': 1,
         'abulance': 1,
         'FDNY Engin': 1,
         'OTH': 1,
         'Go kart': 1,
         'CHEVY EXPR': 1,
         'SLINGSHOT': 1,
         'dilevery t': 1,
         'FDNY #226': 1,
         'FREIGHT FL': 1,
         'UNKN': 1,
         'MOVING VAN': 1,
         'usps': 13,
         'backhoe': 1,
         'Delv': 4,
         'dump truck': 2,
         'Freight': 1,
         'Horse': 2,
         'Cargo Van': 2,
         'USPS VAN': 1,
         'TRUCK FLAT': 1,
         'BOBCAT FOR': 1,
         'Tractor Tr': 1,
         'Pumper': 1,
         'DELIVERY V': 2,
         'DOT EQUIPM': 1,
         'GEN  AMBUL': 1,
         'J1': 1,
         '18 WHEELER': 1,
         'MAIL TRUCK': 5,
         'MOTORSCOOT': 1,
         'government': 2,
         'Front-Load': 1,
         'DRILL RIG': 1,
         'Wh Ford co': 1,
         'suburban': 2,
         'E REVEL SC': 1,
         'LIGHT TRAI': 2,
         'Tractor': 1,
         'UT': 5,
         'cross': 1,
         'FOOD TRUCK': 1,
         'Bucket Tru': 1,
         'gator': 2,
         'JOHN DEERE': 1,
         'f-250': 1,
         'PICK-UP TR': 1,
         'BACK HOE': 1,
         'MECHANICAL': 1,
         'postal tru': 2,
         'CHEVROLET': 1,
         'WORK VAN': 2,
         'Fdny ambul': 2,
         'NYC FD': 1,
         'E-bike': 1,
         'camper tra': 1,
         'FUSION': 1,
         'POSTAL TRU': 3,
         'LCOMM': 1,
         'e skate bo': 1,
         'Ford sprin': 1,
         'Work van': 1,
         'FREIG': 18,
         'FLATBED': 4,
         'Trc': 1,
         'HRSE': 1,
         'Pick up Tr': 1,
         '0': 1,
         'postal bus': 1,
         'F150XL PIC': 1,
         'hrse': 1,
         'CAT': 1,
         'SUBN WHI': 1,
         'E bike': 1,
         'FDNY Fire': 1,
         'com': 11,
         'CARGO VAN': 1,
         'ELEC. UNIC': 1,
         '1C': 1,
         'DEPARTMENT': 1,
         'FDNY Firet': 1,
         'Self': 3,
         'Delivery': 2,
         'E scooter': 1,
         'Garbage tr': 1,
         'E-SCOOTER': 1,
         '50cc Scoot': 1,
         'Cement tru': 1,
         'SMYELLSCHO': 1,
         'work truck': 1,
         'FDNY Truck': 1,
         'USPS POSTA': 2,
         'Mack Truck': 1,
         'Ram': 1,
         'TLR': 1,
         'Constructi': 1,
         'School bus': 2,
         'SCHOOL  BU': 1,
         'NonMotordS': 1,
         'Mack': 2,
         'police rep': 1,
         'EC3': 1,
         'ECONOLINE': 1,
         'FRT': 1,
         'UPS': 1,
         'Pick-Up': 1,
         'RGR': 1,
         'VAN WH': 1,
         'White ambu': 1,
         'Utility.': 1,
         'FREIGHT TR': 1,
         'TRAIL': 169,
         'Tow truck': 1,
         'FDNY EMT': 1,
         'TRL': 19,
         'FREIG DELV': 1,
         'FREIGHTLIN': 1,
         'pc': 1,
         'delviery': 1,
         'Tow': 3,
         'E-Bik': 89,
         'Horse Trai': 1,
         'delivery v': 1,
         'escavator': 1,
         'OMR': 14,
         'P/SH': 6,
         'ford econo': 1,
         'pick': 22,
         'USPS #7530': 1,
         'Hearse': 1,
         'ORION': 1,
         'H1': 1,
         'Piggy back': 1,
         'SE': 3,
         'PUSH SCOOT': 1,
         'postal ser': 1,
         'school bus': 2,
         'nat grid t': 1,
         'yellow cab': 1,
         'G com': 1,
         'COM TRANS': 1,
         'LIT DIRECT': 1,
         'backh': 5,
         'D/V WB': 1,
         'Bobcat': 1,
         'UTILITY TR': 2,
         'food truck': 1,
         'EMERGENCY': 1,
         'fdny truck': 1,
         'amb': 7,
         'WAGON': 15,
         'T880': 1,
         'pay loader': 1,
         'tractor tr': 1,
         'FDNY EMS V': 1,
         'AMBULETTE': 1,
         'OMS': 1,
         'RV/VAN': 1,
         'TR-Trailer': 1,
         'ESU RESCUE': 1,
         'City': 3,
         'pedicab': 1,
         'TTRAILER': 1,
         'I-haul': 1,
         'BOOM LIFT': 1,
         'Toyota': 1,
         'JEEP': 3,
         'MINI SCHOO': 1,
         'RMP V': 1,
         'YELLOWPOWE': 1,
         'skate': 1,
         '197209': 1,
         'posta': 10,
         'E450': 1,
         'UTILI': 46,
         'Ambul': 81,
         'SCHOO': 51,
         'Tow t': 5,
         'E-Sco': 111,
         'towe truck': 1,
         'utili': 13,
         'St': 2,
         'amulance': 1,
         'UNKNO': 67,
         'DEPT VAN #': 1,
         'MOPD': 3,
         'GRUMM': 1,
         'Trail': 40,
         'FIRET': 40,
         'Wagon': 2,
         'AMBUL': 376,
         'E bik': 1,
         'PSH': 2,
         'US PO': 9,
         'Golf': 3,
         'TRACT': 82,
         'BOX T': 36,
         'UHUAL': 1,
         'BACKH': 11,
         'DELVI': 1,
         'box t': 18,
         'SCOOT': 37,
         'picku': 9,
         'trail': 56,
         'DELIV': 54,
         'L1': 1,
         'FORKL': 34,
         'van t': 4,
         'SKATE': 2,
         'POSTA': 16,
         'Box T': 6,
         'PAYLO': 2,
         'SANIT': 15,
         'Forkl': 6,
         'ECONO': 1,
         'VAN/T': 4,
         'tract': 23,
         'FUEL': 2,
         'TRC': 3,
         'TANKE': 4,
         'GARBA': 17,
         '3 WHE': 2,
         '2015': 1,
         'SPRIN': 8,
         'road': 2,
         'DOT T': 1,
         'CRANE': 7,
         'MTA B': 12,
         'FLAT/': 2,
         'Food': 2,
         'deliv': 15,
         'COMME': 53,
         'scoot': 16,
         'acces': 2,
         'ROAD': 9,
         'schoo': 23,
         'STREE': 19,
         'Scoot': 10,
         'FEDEX': 4,
         'fdny': 23,
         'LIEBH': 1,
         'CAB': 1,
         'TOW T': 43,
         'USP M': 1,
         'SANTI': 1,
         'tow t': 14,
         'ambul': 99,
         'LTR': 2,
         'comme': 14,
         'prks': 1,
         'Unkno': 2,
         'limo': 1,
         'g spc': 1,
         'CONT': 1,
         'HI TA': 1,
         'CAT.': 1,
         'POLIC': 1,
         'Parce': 1,
         'PICKU': 14,
         'fire': 38,
         'Const': 2,
         'COMM': 6,
         '35 FT': 1,
         'GOLF': 7,
         'WINEB': 1,
         'PU': 1,
         'BoxTr': 1,
         'forkl': 7,
         'Tow T': 12,
         'WHITE': 6,
         'TOWTR': 2,
         'PICK-': 8,
         'E BIK': 7,
         'POWER': 11,
         'MINI': 6,
         'trl': 4,
         'ELECT': 31,
         'TRLR': 5,
         'stree': 11,
         'elect': 7,
         'Box t': 6,
         'VAN T': 12,
         'FORK': 10,
         'vespa': 1,
         'Sprin': 3,
         'MOBIL': 3,
         'back': 1,
         'LIMOU': 2,
         'UHAUL': 6,
         'BS': 2,
         'excav': 1,
         'DOLLY': 2,
         'APPOR': 3,
         'F650': 1,
         'golf': 5,
         'Mta': 1,
         'Van T': 1,
         'SKID-': 1,
         'firet': 13,
         'E SCO': 1,
         'DIRT': 2,
         'Schoo': 10,
         'ICE C': 2,
         'motor': 9,
         'KUBOT': 1,
         'NYS A': 1,
         'range': 1,
         'LMB': 1,
         'BULLD': 4,
         'horse': 1,
         'ACCES': 3,
         'FLATB': 7,
         'Barri': 1,
         'comm.': 1,
         'MAIL': 7,
         'unkow': 2,
         'Acces': 1,
         'Van (': 1,
         'Motor': 4,
         'BTM': 1,
         'US Po': 5,
         'Pas': 1,
         'Attac': 1,
         'NTTRL': 1,
         'MOTOR': 18,
         'YELLO': 8,
         'movin': 1,
         'nypd': 1,
         'SUBUR': 3,
         'Elect': 6,
         'Rescu': 3,
         'E-BIK': 7,
         'COURI': 3,
         'E - B': 1,
         'NAVIG': 2,
         'Subn': 3,
         'mta b': 3,
         'COMMU': 1,
         'HORSE': 5,
         'C3': 2,
         'TIR': 1,
         'st': 1,
         'CONST': 8,
         'Motor Home': 2,
         'TRACK EXCA': 1,
         'concr': 1,
         'HINO': 4,
         'dumps': 1,
         'other': 4,
         'semi': 4,
         'Stree': 4,
         'CAT P': 1,
         'power': 4,
         'garba': 17,
         'FRIEG': 2,
         'wagon': 5,
         'Garba': 3,
         'BOOM': 2,
         'Comme': 7,
         'RMP': 3,
         'PASSE': 5,
         'Posta': 5,
         'SEGWA': 2,
         'SC': 1,
         'Deliv': 8,
         'cater': 2,
         'SEA': 1,
         'moter': 1,
         'Hrse': 1,
         'Trl': 1,
         'U-Hau': 1,
         'BUCKE': 2,
         'Mail': 2,
         'Sanit': 5,
         'BK': 2,
         'NYCHA': 1,
         'Snow': 1,
         'COMER': 1,
         'Pick': 7,
         'Picku': 2,
         'Grain': 2,
         'E AMB': 1,
         'NYPD': 5,
         'SPC': 7,
         'A': 2,
         'rv': 3,
         'TKTR': 1,
         'GATOR': 2,
         'VAV': 2,
         'santa': 1,
         'EXCAV': 4,
         'none': 1,
         'Road': 2,
         'Firet': 5,
         'GOVER': 4,
         'te': 1,
         'LTRL': 1,
         'Tract': 8,
         '\x7fomm': 1,
         'TRANS': 5,
         'TRACK': 2,
         'MAC T': 1,
         'UPS T': 2,
         'comm': 3,
         'NISSA': 2,
         'mail': 7,
         'Log': 6,
         'CMS-T': 1,
         'red t': 1,
         'USPS2': 1,
         'Feder': 1,
         'passe': 3,
         'Bicyc': 1,
         'NYC D': 1,
         'WINNE': 3,
         'FRHT': 3,
         'Unkow': 1,
         'USPOS': 2,
         'mc': 1,
         'Fork': 3,
         'EMS A': 2,
         'Track': 1,
         'van c': 1,
         'DIESE': 1,
         'Budge': 2,
         'SWEEP': 2,
         'OMNIB': 7,
         'FED E': 3,
         'ME/BE': 1,
         'BACK': 3,
         'Other': 1,
         'Fd fi': 1,
         'push': 1,
         'CHEVY': 1,
         'Comix': 1,
         'mopad': 2,
         'VAN A': 1,
         '12 Pa': 1,
         'AMbul': 1,
         'DUMPT': 2,
         'LIGHT': 4,
         'fork': 8,
         'ARMY': 1,
         'TOWER': 3,
         'BOAT': 1,
         'e com': 1,
         'MARK': 1,
         'EMRGN': 1,
         'flatb': 3,
         'E COM': 1,
         'ROADS': 1,
         'Utili': 6,
         'Comm': 1,
         'rd/s': 1,
         'COUPE': 1,
         'work': 4,
         'WORKH': 1,
         'freig': 6,
         'Dumps': 1,
         '2- to': 1,

In [72]:
profiles.column('VEHICLE TYPE CODE 1').get('topValues')

[('Sedan', 471353),
 ('PASSENGER VEHICLE', 416206),
 ('Station Wagon/Sport Utility Vehicle', 374662),
 ('SPORT UTILITY / STATION WAGON', 180291),
 ('Taxi', 45627),
 ('4 dr sedan', 40084),
 ('TAXI', 31911),
 ('Pick-up Truck', 29732),
 ('VAN', 25266),
 ('OTHER', 22966)]

In [74]:
ds_full.distinct('VEHICLE TYPE CODE 2')

Counter({'Sedan': 342483,
         '': 319543,
         'Box Truck': 23113,
         'Station Wagon/Sport Utility Vehicle': 280673,
         'Taxi': 34778,
         'Ambulance': 1691,
         'Van': 7262,
         'Bike': 23564,
         'Dump': 3285,
         'Garbage or Refuse': 1727,
         'PK': 1792,
         'Pick-up Truck': 27371,
         'Tow Truck / Wrecker': 1039,
         'E-Bike': 2270,
         'Motorcycle': 4869,
         'Tractor Truck Gasoline': 1365,
         'Bus': 15414,
         'Motorbike': 471,
         'Chassis Cab': 679,
         'Tractor Truck Diesel': 8572,
         'Concrete Mixer': 452,
         'Multi-Wheeled Vehicle': 82,
         'fire truck': 13,
         'E-Scooter': 1495,
         'Hopper': 24,
         'FDNY TRUCK': 16,
         'VAN/TRUCK': 1,
         'Pedicab': 98,
         'Moped': 825,
         'FDNY ENGIN': 2,
         'Carry All': 1725,
         'FIRE TRUCK': 608,
         'Convertible': 2230,
         'Dirt Bike': 2,
         'BOOM LIFT': 2,
         'MOPED': 101,
         'util truck': 1,
         'Armored Truck': 268,
         'BOX': 5,
         'Tanker': 641,
         '4 dr sedan': 30049,
         'firetruck': 5,
         'PRIVATE': 1,
         'Motorscooter': 515,
         'SCOOTER': 292,
         'WHEELCHAIR': 2,
         'Flat Bed': 2144,
         'Beverage Truck': 267,
         'POWER SHOV': 7,
         'work van': 1,
         'bus': 36,
         '3-Door': 222,
         'NICE BUS': 1,
         'TRAILER': 48,
         'TRUCK': 209,
         'Stake or Rack': 134,
         'Firetruck': 9,
         'Open Body': 79,
         'MTA BUS': 6,
         'TRK': 20,
         'COM': 44,
         'garbage tr': 2,
         'AMBULANCE': 1225,
         'bmw': 1,
         'Snow Plow': 82,
         'Box truck': 3,
         'FORKLIFT': 18,
         'Bulk Agriculture': 73,
         'FIRETRUCK': 30,
         'MOWER': 1,
         'WH': 1,
         'USPS': 84,
         'FIRE': 187,
         'AMBULCANCE': 1,
         'UNKNOWN': 81464,
         'FDNY RIG': 1,
         'MOPAD': 1,
         'Unknown': 23,
         'UNK': 205,
         'FORK LIFT': 10,
         'truck': 60,
         'SKATEBOARD': 3,
         'FOOD TRUCK': 1,
         'ambulance': 21,
         'van': 379,
         'Chevy carg': 1,
         'TOW TRUCK': 20,
         'Refrigerated Van': 469,
         'Pick up': 1,
         'COURIER VA': 1,
         'MACK': 17,
         'street swe': 2,
         'comm': 3,
         'E BIKE': 1,
         'FDNY truck': 3,
         'Subn': 7,
         'Flat Rack': 233,
         'Pickup tru': 1,
         'toolcat': 1,
         'E-SCOOTER': 15,
         'trailer': 17,
         'Fire truck': 14,
         'REFG': 15,
         'LIMO': 116,
         'REVEL SCOO': 2,
         'DELV': 49,
         'moped': 24,
         'UNKNOW': 2,
         'OTHER': 21691,
         'Lift Boom': 144,
         'Uhaul Truc': 1,
         'School Bus': 154,
         'Trailer': 19,
         'Fire Truck': 12,
         'Unk': 14,
         'Vanette': 14,
         'unknown': 15,
         'cat payloa': 1,
         'Courier': 1,
         'Freight': 1,
         'Minibike': 55,
         'fork lift': 2,
         'POSTAL TRU': 3,
         'FDNY AMBUL': 5,
         'CO': 3,
         'Tow Truck': 27,
         'electric s': 3,
         'FDNY EMS': 4,
         'FOOD CART': 1,
         'Lunch Wagon': 28,
         'tractor': 3,
         'FDNY AMBU': 1,
         'M21': 1,
         'tow truck': 4,
         'Fire Appar': 1,
         'box truck': 7,
         'FDNY Fire': 3,
         'Scooter': 21,
         'dirt bike': 2,
         'SPECIAL PU': 2,
         'PICKUP TRU': 3,
         'Pallet': 49,
         'Enclosed Body - Nonremovable Enclosure': 8,
         'MOTORSCOOT': 1,
         'gas bicycl': 1,
         'Delivery T': 2,
         'SKID LOADE': 2,
         'FREIG': 18,
         'USPS MAILT': 1,
         'scooter': 12,
         'conedison': 1,
         'Van Camper': 35,
         'Pedestrian': 1,
         'TRUCK LADD': 1,
         'TRACTOR TR': 11,
         'G AMB': 2,
         'DUMP': 102,
         'FIRE TURCK': 1,
         'ORANGE JLG': 1,
         'dirtbike': 1,
         'NYPD VAN': 1,
         'motorhome': 1,
         'Van Box Tr': 1,
         'fdny ladde': 2,
         'DELIVERY': 5,
         'forklift': 6,
         'STAKE TRUC': 1,
         'SUBURBAN': 1,
         'scooter ga': 1,
         'Sprinter': 1,
         'F550': 1,
         'BOOM LIFT/': 1,
         'AMB': 17,
         'MOTORCYCLE': 3524,
         'PC': 7,
         'EC3': 1,
         'UNK FEMALE': 1,
         'USPS TRUCK': 12,
         'Scooter no': 1,
         'TOW4': 1,
         'AMBU': 36,
         'Garbage tr': 1,
         'DIRT BIKE': 9,
         'AMBULETTE': 1,
         'Minicycle': 14,
         'MOTOR DIRT': 1,
         'FDNY FIRE': 9,
         'skateboard': 2,
         'Util.': 1,
         'MOTOR SCOO': 3,
         'Caterpilla': 1,
         'uni e-bike': 1,
         'utility tr': 1,
         'Truck': 31,
         'USPS MAIL': 2,
         'SCHOOL BUS': 8,
         'U Haul Tru': 1,
         'PLOW': 2,
         'PUMPER': 1,
         'basic psd': 1,
         'BOX TRUCK': 22,
         'GAS MOPED': 2,
         'GARBAGE TR': 7,
         'FLAT': 23,
         'Garbage Tr': 1,
         'FOR VAN': 1,
         'pickup': 2,
         'INDUSTRIAL': 1,
         'UHAUL': 8,
         'Pickup Tru': 1,
         'COLLECTION': 1,
         'Go kart': 1,
         'AMbulance': 1,
         'mta bus  4': 1,
         'power shov': 2,
         'ROADROLLER': 1,
         'PSD': 9,
         '2 dr sedan': 1930,
         'unk': 94,
         'ELECTRIC S': 3,
         'DUMP TRUCK': 7,
         'WORK VAN': 1,
         'Forklift': 7,
         'com': 14,
         'SANITATION': 7,
         'MOTORED SC': 1,
         'Suburban': 2,
         'Transit': 1,
         'bucket tru': 1,
         'Enclosed Body - Removable Enclosure': 4,
         'Rental Tru': 1,
         'GAS SCOOTE': 3,
         'Utility': 2,
         'SCHOOL VAN': 1,
         'C1': 9,
         'CADET': 1,
         'Uhaul truc': 1,
         'RV': 14,
         'EXCAVATOR': 3,
         'SNOW PLOW': 1,
         'TRACTOR': 9,
         'SPC': 5,
         'Bobcat': 1,
         'Pickup with mounted Camper': 42,
         'INTE TRUCK': 1,
         'road sweep': 1,
         'GOLF KART': 1,
         'UPS TRUCK': 1,
         'UNKNOWN VE': 3,
         'MOPD': 4,
         'E-BIKE': 13,
         'subn': 18,
         'Sprinter V': 1,
         'E-scooter': 5,
         'sanitation': 4,
         'TOW TRICK': 1,
         'Delivery': 4,
         'CHERRY PIC': 2,
         'COMMERICAL': 2,
         'BOBCAT': 3,
         'NYC TRANSI': 1,
         'FED EX': 2,
         'MTA': 3,
         'FDNY': 149,
         'CONST EQUI': 1,
         'EMS': 3,
         'PICK UP TR': 3,
         'Tk': 1,
         'school bus': 4,
         'Tractor tr': 2,
         'SNOW PLOWE': 1,
         'SPRINTER V': 3,
         'CMIX': 6,
         'FDNY LADDE': 1,
         'Sanitation': 2,
         'freight tr': 1,
         'SUBN TN': 1,
         'Bobcat 216': 1,
         'USPCS Truc': 1,
         'COMMAND PO': 1,
         'MOTOR': 33,
         'FDNY Firet': 1,
         'NYC SANITA': 1,
         'Plow  truc': 1,
         'PLOW TRUCK': 1,
         'Command Po': 1,
         'usps self': 1,
         'Power shov': 2,
         'FREIGHT': 1,
         'KENWO': 2,
         'TRAILOR': 3,
         'PEDI CAB': 2,
         'STREET SWE': 6,
         'Motorizeds': 1,
         'LLV MAIL T': 1,
         'Self insur': 1,
         'UTILITY TR': 3,
         'police veh': 1,
         'E- MOTOR B': 1,
         'RENTED BOO': 1,
         'EMERGANCY': 1,
         'FIRE ENGIN': 4,
         'E-bike': 1,
         'DEL': 1,
         'Mail Truck': 1,
         'AMBULANCE`': 1,
         'WORKH UTIL': 1,
         'PICKUP TOW': 1,
         'POSTAL SER': 1,
         'Passenger': 1,
         'wheel barr': 1,
         'Ny Ems': 1,
         'UHAUL BOX': 1,
         'e-scooter': 1,
         'postal tru': 2,
         'e-sooter': 1,
         'PAS': 16,
         'Comm Food': 1,
         'sprinter v': 1,
         'POSTAL VEH': 2,
         'Truck cran': 1,
         'Car traile': 2,
         'street cle': 2,
         'UTILITY': 3,
         'Amazon tru': 1,
         'UT': 3,
         'ESU REP': 1,
         'PICK UP': 8,
         'courier': 1,
         'tractor tr': 3,
         'RD/S': 9,
         'USPS VAN': 1,
         'NA': 12,
         'ECONOLINE': 1,
         'Golf cart': 1,
         'FLATBED': 2,
         'DELIVERY T': 6,
         'NYPD ESU T': 1,
         '0': 3,
         'PICKUP': 3,
         'PASSENGER VEHICLE': 318607,
         'UNKOWN': 2,
         '12 PASS VA': 1,
         'revel': 1,
         'delivery t': 4,
         'psd': 1,
         'usps': 18,
         'Ambiance': 1,
         'UPS Van': 1,
         'EMS TRUCK': 3,
         'AMBULAMCE': 1,
         'AERIAL LIF': 1,
         'DOLLAR VAN': 1,
         'RIDE ON SC': 1,
         'FDNY Truck': 3,
         'UKNOWN': 1,
         'MTA Truck': 2,
         'Road sweep': 1,
         'Tow truck': 3,
         'CARGO': 8,
         'FEDEX TRUC': 1,
         'constructi': 3,
         'Marked Van': 1,
         'Unknown ve': 2,
         'Tow': 5,
         'N/A': 22,
         'skate boar': 1,
         'SEMI TRAIL': 2,
         'DIRTBIKE': 3,
         'Ems truck': 1,
         'spc': 2,
         'FD TRUCK': 4,
         'Revel Scoo': 1,
         '2DCP': 1,
         'TL': 5,
         'Fed ex van': 1,
         'FDNY Ambul': 2,
         'ENTERPRISE': 1,
         'suv': 1,
         'delivery w': 1,
         'Oil Tanker': 1,
         'Standing s': 1,
         'van truck': 1,
         'MOPPED': 2,
         'SEMI-TRAIL': 2,
         'Pick up tr': 2,
         'COMMERCIAL': 6,
         'STAK': 4,
         'Commercial': 1,
         'CARGO VAN': 1,
         'TRLR': 4,
         'Pick Up Tr': 1,
         'Glass Rack': 17,
         'Gator': 1,
         'VAN TRUCK': 1,
         'DL': 1,
         'FDNY FIRET': 2,
         'Postal tru': 1,
         'Pickup': 3,
         'Sweeper': 1,
         'MAILTRUCK': 1,
         'LEFT THE S': 1,
         'Escavator': 1,
         'I1': 1,
         'boom lift': 1,
         'uknown': 1,
         'CAR TRAILE': 1,
         'Fleet': 1,
         'TRUCK TRAI': 1,
         'Cargo Van': 1,
         'BACKHOE LO': 1,
         'E SCOOTER': 1,
         'Moped elec': 1,
         'ambu': 13,
         'motor scoo': 2,
         'REVEL': 1,
         'fdny': 13,
         'Flatbed': 1,
         'U-HAUL': 1,
         'transport': 1,
         'uhaul truc': 1,
         'TRL': 24,
         'GATOR': 4,
         'MOPED SCOO': 1,
         'TRAC': 13,
         'motorbike': 1,
         'FOLK LIFT': 1,
         'Log': 7,
         'MINI VAN': 1,
         'n/a': 5,
         'Tilt tande': 1,
         'Well Driller': 9,
         'LAWN MOWER': 1,
         'NYC ACS Va': 1,
         'Electric s': 1,
         'Horse': 3,
         'US Govt ve': 1,
         'ESCOOTER': 1,
         'FRIEGHTLIN': 1,
         'e-bike': 1,
         'MOBILE': 1,
         '4dsd': 3,
         'UTIL': 27,
         'GOLF CART': 2,
         'ICE CREAM': 3,
         'commercial': 2,
         'MAIL TRUCK': 1,
         'AMBULENCE': 2,
         'RAM': 2,
         'E-SKATEBOA': 1,
         'FDNY firet': 1,
         'INTERNATIO': 1,
         'Skateboard': 1,
         'golf cart': 2,
         'FLAT BED': 1,
         'HAUL FOR H': 1,
         'cargo van': 1,
         'Moped Scoo': 1,
         'VEHICLE 2': 1,
         'SUV': 4,
         'FREIGHTLIN': 1,
         'ELECTRIC M': 2,
         'PALFINGER': 1,
         'Dump truck': 1,
         'USPS POSTA': 1,
         'UKN': 3,
         'John Deere': 1,
         'mopd': 1,
         'NYC BUS': 1,
         'NYC FIRETR': 1,
         'Pick Truck': 1,
         'Dump Truck': 1,
         'BOB CAT': 1,
         'ACCESS A R': 1,
         'PICK-UP TR': 2,
         'CRANE': 10,
         'RDS': 1,
         'push scoot': 1,
         'SCOOT': 53,
         'E-Scoter': 1,
         'JETSKI': 1,
         'Delivery t': 3,
         'Flat bed': 2,
         'VAN/TRANSI': 1,
         'Golf Cart': 2,
         'LCOM': 4,
         'HEARSE': 1,
         'AMAZON SPR': 1,
         'ROAD SWEEP': 1,
         'P/SH': 12,
         'Gas Scoote': 2,
         'GLP050VXEV': 1,
         'Tree cutte': 1,
         'mailtruck': 1,
         'DELIVERY V': 1,
         'Toyota': 1,
         'T630 Forkl': 1,
         'ESCOVATOR': 1,
         'Razor scoo': 1,
         'LMA': 1,
         'FRT': 1,
         'Dirt bike': 1,
         'motorcycle': 1,
         'Cargo Truc': 1,
         'itas': 1,
         'pickup tru': 1,
         'EZ GO': 1,
         'ESCOOTER S': 2,
         'PEDICAB': 92,
         'MTA NYC BU': 1,
         'freight To': 1,
         'Fork lift': 1,
         'MTABUS': 1,
         'HORSE CARR': 2,
         'Motor home': 1,
         'Crane truc': 1,
         'CITY VEHIC': 1,
         "Revel Mo'e": 1,
         'Garage': 1,
         'excavator': 2,
         'bay crane': 1,
         'Moped clas': 1,
         'UHAUL VAN': 1,
         'LIMIT USE': 1,
         'RMP': 2,
         'Busv': 1,
         'GMC DELIVE': 1,
         'engine': 1,
         'MO PED': 1,
         'Moped scoo': 1,
         'wheel load': 1,
         'Motor Scoo': 1,
         'Trl': 1,
         'FORD TRANS': 1,
         'GAS MO-PED': 1,
         '18 wheel': 1,
         'LEFT SCENE': 1,
         'SHORT SCHO': 1,
         'White': 4,
         'Utility ca': 1,
         '50 CC Moto': 1,
         'MOPET': 2,
         'MOped': 1,
         'Lateral Tr': 1,
         'Dirtbike': 1,
         'HOVERBOARD': 1,
         'fedex truc': 1,
         'Segway': 1,
         'Front End': 1,
         'Motor Home': 3,
         'REVEL MOPE': 1,
         'BACK HOE': 1,
         'SWEEPER': 1,
         'US POSTAL': 2,
         'TOUR BUS': 1,
         'US Postal': 1,
         'Motorized Home': 19,
         'GLNEN': 1,
         'historical': 1,
         'Light trai': 1,
         'BUs': 1,
         'FLATBED TR': 1,
         'Electric S': 1,
         '18 WEELER': 1,
         'self insur': 1,
         'ESCAVATOR': 1,
         'OMT': 8,
         'armored tr': 1,
         'TRACT': 60,
         'mail truck': 1,
         'Forklift t': 1,
         'delivery': 1,
         'trailor': 1,
         'utility': 1,
         'ambulence': 1,
         'fdny truck': 1,
         'mta bus': 1,
         'dump truck': 2,
         'FEDERAL EX': 1,
         'tow trk': 1,
         'Short Bus': 1,
         'FDNY fire': 1,
         'GLBEN': 3,
         'BULDOZER': 1,
         'NYC fire t': 1,
         'PICK RD': 1,
         'BLU BUS': 1,
         'NYC DOT': 1,
         'ambulette': 2,
         'Pumper tru': 1,
         'omt': 1,
         '600AJ': 2,
         'SPINTER VA': 1,
         'DOT TRUCK': 1,
         'TANK WH': 1,
         'Livery Omn': 1,
         'City MTA b': 1,
         'comme': 10,
         'HINO TANK': 1,
         'Road Sweep': 1,
         'POSTAL CAR': 1,
         'SCOTTER': 1,
         'CITY OF NE': 1,
         'GOV': 1,
         'VENDOR CHA': 1,
         'amb': 3,
         'Amb': 2,
         'mack': 4,
         'semi-trail': 1,
         'flatbed': 1,
         'GMC': 3,
         'Mobile foo': 1,
         'crane': 4,
         'CITY': 1,
         'Tractor Tr': 1,
         'EMBULANCE': 1,
         'back ho': 1,
         'Trailer no': 1,
         'swingloade': 1,
         'Left scene': 1,
         'Fedex Box': 1,
         'UTILITY VE': 1,
         'CART': 2,
         'Fire': 30,
         'E-Sco': 179,
         '2 HOR': 1,
         'access a r': 1,
         'Trail': 27,
         '00000': 1,
         'RD BLDNG M': 1,
         'TRAIL': 214,
         'FIRET': 44,
         'omnibus': 1,
         'FORKL': 78,
         'SCHOOLBUS': 1,
         'Fire Engin': 1,
         'HORSE': 6,
         'School bus': 1,
         'GAS T': 1,
         'Schoo': 8,
         'EBIKE': 6,
         'UNKNO': 323,
         'E-Bik': 152,
         'boom crane': 1,
         'AMBUL': 249,
         'Pedic': 1,
         'PALLET JAC': 1,
         'Postal Veh': 2,
         'ROAD': 9,
         'util': 4,
         'MTA B': 18,
         'Food Cart': 1,
         'SKIDSTEERL': 1,
         'LADDER TRU': 1,
         'MAN L': 3,
         'Chevy': 1,
         'EMT': 1,
         'R/V': 2,
         'SKID': 4,
         'SCHOO': 42,
         'COMME': 45,
         'fire': 37,
         '11 PA': 1,
         'flat': 8,
         'ambul': 69,
         'TUGGE': 1,
         'Livestock Rack': 15,
         'BROWN': 1,
         'Sciss': 1,
         'Comme': 9,
         'unkno': 85,
         'Box T': 4,
         'EMS A': 1,
         'Fork': 7,
         'TOW T': 40,
         'Unkno': 25,
         'TRIM': 1,
         'SWEEP': 3,
         'FEDER': 2,
         'POWER': 19,
         'COURI': 2,
         'CONST': 18,
         'E-SKA': 1,
         'wheel': 1,
         'ECONO': 2,
         'FLATB': 11,
         'spec-': 1,
         'trail': 80,
         'LADDE': 3,
         'mta b': 7,
         'MOBIL': 2,
         'DUMPS': 5,
         'excav': 3,
         'PICKU': 16,
         'BOX T': 57,
         'Liebh': 1,
         'CONCR': 1,
         'scoot': 20,
         'Tract': 8,
         'UTIL WH': 1,
         'RAZOR': 1,
         'U HAU': 1,
         'mo-pe': 1,
         'tk': 5,
         'Dirt': 1,
         'CEMEN': 5,
         'backh': 3,
         'firet': 18,
         'mail': 2,
         'VAN/T': 4,
         'US PO': 16,
         'Pick': 2,
         'FORK': 24,
         '52? t': 1,
         'schoo': 11,
         'Scoot': 14,
         'N/a': 1,
         'TCR': 1,
         'Forkl': 11,
         'Skate': 1,
         'PEDIC': 5,
         'utili': 12,
         'van a': 1,
         'dump': 15,
         'UTILI': 33,
         'FD TR': 1,
         'E SCO': 3,
         'Garba': 8,
         'sprin': 2,
         'boom': 1,
         'forkl': 19,
         'TRA/R': 1,
         'MOVIN': 2,
         'FORD': 11,
         'Ambul': 40,
         'NYC F': 6,
         'WORK': 6,
         'BULLD': 8,
         'E350': 2,
         'TRANS': 1,
         'MAIL': 13,
         'STREE': 21,
         'E250': 2,
         'GARBA': 16,
         'BUMP': 1,
         'Train': 1,
         'Depar': 1,
         'ASPHA': 1,
         'Lift': 2,
         'ART M': 1,
         'DELIV': 65,
         'DETAC': 1,
         'E-bik': 3,
         'rep': 2,
         'Utili': 6,
         'SELF-': 1,
         'IP': 2,
         'VAN T': 17,
         'yello': 2,
         'MTA b': 1,
         'DIRTB': 3,
         'ALUMI': 1,
         'ENGIN': 4,
         'JOHN': 2,
         'CHURC': 1,
         'E-SCO': 3,
         'bobca': 4,
         'tow t': 15,
         'JLG L': 1,
         'CAT32': 1,
         'BLACK': 1,
         'Backh': 1,
         'PASS': 8,
         'trlr': 3,
         'Flat': 4,
         'ELECT': 57,
         'SKATE': 4,
         'Crane': 5,
         'tract': 23,
         'E Bik': 4,
         'elect': 19,
         'OMS': 1,
         'BOBCA': 12,
         'TOWER': 1,
         'Bucke': 1,
         'MAN B': 1,
         'LIFT': 4,
         'sanit': 13,
         'BACKH': 15,
         'Grain': 4,
         'E-BIK': 23,
         'Van (': 1,
         'lift': 1,
         'nyfd': 1,
         'dp': 2,
         'wagon': 5,
         'Elect': 13,
         'HAND': 3,
         'VAN C': 2,
         'E BIK': 9,
         'CAMPE': 3,
         'BOB C': 2,
         'c7c': 1,
         'Deliv': 3,
         'const': 6,
         'FED E': 2,
         'USPOS': 1,
         'gator': 1,
         'speci': 1,
         'TOWIN': 1,
         'pick': 21,
         'POST': 3,
         'DIRT': 6,
         'SEMI': 8,
         'MTRIZ': 1,
         'nyc b': 1,
         'ELECR': 2,
         'TANK': 7,
         'WHITE': 7,
         'SE': 2,
         'FOOD': 10,
         'Excav': 1,
         'front': 4,
         'INTER': 4,
         'CATER': 9,
         'ASTRO': 1,
         'fork': 12,
         'BACK': 4,
         'ENCLO': 1,
         'SEMI-': 8,
         'ARMOR': 5,
         'motor': 6,
         'SANIT': 19,
         'Mopen': 1,
         'ICE C': 4,
         'DSNY': 1,
         'tr': 1,
         'VESPA': 1,
         'CRWZK': 1,
         'garba': 10,
         'U-TRU': 1,
         'e-BIK': 1,

In [73]:
profiles.column('VEHICLE TYPE CODE 2').get('topValues')

[('Sedan', 342483),
 ('PASSENGER VEHICLE', 318607),
 ('Station Wagon/Sport Utility Vehicle', 280673),
 ('SPORT UTILITY / STATION WAGON', 140204),
 ('UNKNOWN', 81464),
 ('Taxi', 34778),
 ('4 dr sedan', 30049),
 ('TAXI', 27702),
 ('Pick-up Truck', 27371),
 ('Bike', 23564)]

In [78]:
SELECTED_COLUMNS = [\
    'CRASH DATE',\
    'CRASH TIME',\
    'BOROUGH',\
    'ZIP CODE',\
    'LATITUDE',\
    'LONGITUDE',\
    'ON STREET NAME',\
    'CROSS STREET NAME',\
    'OFF STREET NAME',\
    'NUMBER OF PERSONS INJURED',\
    'NUMBER OF PERSONS KILLED',\
    'NUMBER OF PEDESTRIANS INJURED',\
    'NUMBER OF PEDESTRIANS KILLED',\
    'NUMBER OF CYCLIST INJURED',\
    'NUMBER OF CYCLIST KILLED',\
    'NUMBER OF MOTORIST INJURED',\
    'NUMBER OF MOTORIST KILLED',\
    'CONTRIBUTING FACTOR VEHICLE 1',\
    'CONTRIBUTING FACTOR VEHICLE 2',\
    'CONTRIBUTING FACTOR VEHICLE 3',\
    'CONTRIBUTING FACTOR VEHICLE 4',\
    'CONTRIBUTING FACTOR VEHICLE 5',\
    'COLLISION_ID',\
    'VEHICLE TYPE CODE 1',\
    'VEHICLE TYPE CODE 2',\
    'VEHICLE TYPE CODE 3',\
    'VEHICLE TYPE CODE 4',\
    'VEHICLE TYPE CODE 5',\
]

ds_full = ds_full.select(SELECTED_COLUMNS)

In [79]:
ds_full.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2021-04-14,5:32,UNKNOWN,,-999,,BRONX WHITESTONE BRIDGE,,,0,...,Unspecified,,,,4407480,Sedan,Sedan,,,
1,2021-04-13,21:35,BROOKLYN,11217,-999,-73.97617,,,620 ATLANTIC AVENUE,1,...,,,,,4407147,Sedan,,,,
2,2021-04-15,16:15,UNKNOWN,,-999,,HUTCHINSON RIVER PARKWAY,,,0,...,,,,,4407665,Station Wagon/Sport Utility Vehicle,,,,
3,2021-04-13,16:00,BROOKLYN,11222,-999,,VANDERVORT AVENUE,ANTHONY STREET,,0,...,Unspecified,,,,4407811,Sedan,,,,
4,2021-04-12,8:25,UNKNOWN,,-999,0,EDSON AVENUE,,,0,...,Unspecified,,,,4406885,Station Wagon/Sport Utility Vehicle,Sedan,,,
5,2021-04-13,17:11,UNKNOWN,,-999,,VERRAZANO BRIDGE UPPER,,,0,...,Unspecified,,,,4407883,Sedan,Box Truck,,,
6,2021-04-13,17:30,QUEENS,11106,-999,,33 st,31ave,,0,...,Unspecified,,,,4408019,Sedan,Sedan,,,
7,2021-04-16,23:30,UNKNOWN,,-999,,SHORE PARKWAY,,,0,...,,,,,4408060,Sedan,,,,
8,2021-04-11,17:00,UNKNOWN,,-999,,GOWANUS RAMP,,,1,...,Other Vehicular,,,,4406314,Sedan,Sedan,,,
9,2021-04-16,21:15,UNKNOWN,,-999,,BRONX RIVER PARKWAY RAMP,,,0,...,Unspecified,,,,4408149,Station Wagon/Sport Utility Vehicle,Sedan,,,

# VALIDATING DATA AFTER CLEANING

In [80]:
data_df = pd.read_csv("NYPD_Motor_Vehicle_Collisions_Crashe.csv")

In [82]:
data_df = data_df.drop(['VEHICLE TYPE CODE 3','VEHICLE TYPE CODE 4','VEHICLE TYPE CODE 5','CONTRIBUTING FACTOR VEHICLE 3','OFF STREET NAME','CONTRIBUTING FACTOR VEHICLE 4','CONTRIBUTING FACTOR VEHICLE 5'],axis=1)

In [85]:
def validate_vtc(data,column_name):
    data[column_name].replace(np.nan, 'Unspecified', inplace=True)
    return data

In [90]:
data_df = validate_cf(data_df,'CONTRIBUTING FACTOR VEHICLE 1')
data_df = validate_cf(data_df,'CONTRIBUTING FACTOR VEHICLE 2')
data_df = validate_cf(data_df,'VEHICLE TYPE CODE 1')
data_df = validate_cf(data_df,'VEHICLE TYPE CODE 2')

In [92]:
def validate_ST(data,column_name):
    data[column_name].replace(np.nan, 'UNKNOWN', inplace=True)
    return data

In [94]:
data_df = validate_ST(data_df,'CROSS STREET NAME')
data_df = validate_ST(data_df,'ON STREET NAME')

In [98]:
data_df['ON STREET NAME'] = data_df['ON STREET NAME'].replace('\s+', ' ', regex=True)
data_df['CROSS STREET NAME'] = data_df['CROSS STREET NAME'].replace('\s+', ' ', regex=True)

In [104]:
def validate_nan(data,column_name):
    data[column_name].replace(np.nan, 'UNKNOWN', inplace=True)
    return data

In [115]:
data_df = validate_nan(data_df,'NUMBER OF PERSONS INJURED')
data_df = validate_nan(data_df,'NUMBER OF PERSONS KILLED')
data_df = validate_nan(data_df,'LOCATION')
data_df = validate_nan(data_df,'BOROUGH')

In [109]:
def validate_LATLON(data,column_name):
    data[column_name].replace(np.nan, -999, inplace=True)
    return data

In [116]:
data_df = validate_nan(data_df,'LATITUDE')
data_df = validate_nan(data_df,'LONGITUDE')
data_df = validate_nan(data_df,'ZIP CODE')

In [117]:
ds_full_jc = stream(data_df)
profiles = ds_full_jc.profile(default_profiler=DefaultColumnProfiler)
profiles.stats()

                                 total  empty  distinct  uniqueness    entropy
CRASH DATE                     1848299      0      3447    0.001865  11.687347
CRASH TIME                     1848299      0      1440    0.000779   8.931235
BOROUGH                        1848299      0         6    0.000003   2.355797
ZIP CODE                       1848299      0       423    0.000229   6.469487
LATITUDE                       1848299      0    122528    0.066292  14.329432
LONGITUDE                      1848299      0     96068    0.051976  14.072155
LOCATION                       1848299      0    244821    0.132457  14.817414
ON STREET NAME                 1848299      0     16120    0.008722   9.162703
CROSS STREET NAME              1848299      0     19149    0.010360   8.497410
NUMBER OF PERSONS INJURED      1848299      0        28    0.000015   0.968400
NUMBER OF PERSONS KILLED       1848299      0         8    0.000004   0.014656
NUMBER OF PEDESTRIANS INJURED  1848299      0        13    0.000007   0.299135
NUMBER OF PEDESTRIANS KILLED   1848299      0         4    0.000002   0.008130
NUMBER OF CYCLIST INJURED      1848299      0         5    0.000003   0.164183
NUMBER OF CYCLIST KILLED       1848299      0         3    0.000002   0.001465
NUMBER OF MOTORIST INJURED     1848299      0        27    0.000015   0.758655
NUMBER OF MOTORIST KILLED      1848299      0         6    0.000003   0.006350
CONTRIBUTING FACTOR VEHICLE 1  1848299      0        61    0.000033   3.514655
CONTRIBUTING FACTOR VEHICLE 2  1848299      0        61    0.000033   1.084100
COLLISION_ID                   1848299      0   1848299    1.000000  20.817767
VEHICLE TYPE CODE 1            1848299      0      1313    0.000710   3.295369
VEHICLE TYPE CODE 2            1848299      0      1453    0.000786   3.618016

In [118]:
data_df.to_csv('filtered10.csv')