#### Import dependencies:

In [1]:
import sys #access to system parameters https://docs.python.org/3/library/sys.html
print("Python version: {}". format(sys.version))

import pandas as pd #collection of functions for data processing and analysis modeled after R dataframes with SQL like features
print("pandas version: {}". format(pd.__version__))

import matplotlib #collection of functions for scientific and publication-ready visualization
import matplotlib as plt
print("matplotlib version: {}". format(matplotlib.__version__))

import numpy as np #foundational package for scientific computing
print("NumPy version: {}". format(np.__version__))

import scipy as sp #collection of functions for scientific computing and advance mathematics
print("SciPy version: {}". format(sp.__version__)) 

import IPython
from IPython import display #pretty printing of dataframes in Jupyter notebook
print("IPython version: {}". format(IPython.__version__)) 

import sklearn #collection of machine learning algorithms
print("scikit-learn version: {}". format(sklearn.__version__))

#misc libraries
import random
import time
#ignore warnings
import warnings
warnings.filterwarnings('ignore')
print('-'*25)
import re
import os
import matplotlib.pyplot as plt
%matplotlib inline

Python version: 3.8.5 (default, Sep  4 2020, 02:22:02)
[Clang 10.0.0 ]
pandas version: 1.1.3
matplotlib version: 3.3.2
NumPy version: 1.19.5
SciPy version: 1.5.2
IPython version: 7.19.0
scikit-learn version: 0.23.2
-------------------------

#### Download data file if it has not been downloaded already:

In [2]:
#url = 'https://data.cityofnewyork.us/api/views/qgea-i56i/rows.csv?accessType=DOWNLOAD'
fn_src = 'https://data.cityofnewyork.us/api/views/mv4k-y93f/rows.csv?accessType=DOWNLOAD'
fn_dst = 'NYPD-YTD-Criminal-Summons-Summary-Dashboard-2.csv'

from six.moves import urllib

if os.path.isfile(fn_dst):
    print('File %s has already been downloaded' % fn_dst)
else:
    print('Fetching file %s[2.4GB]. This may take a while...' % fn_dst)
    urllib.request.urlretrieve(fn_src, fn_dst)
    print('File %s has been downloaded' % fn_dst)

File NYPD-YTD-Criminal-Summons-Summary-Dashboard-2.csv has already been downloaded

#### Open a stream to the data file so we don't have to load the whole data set into main memory

In [3]:
from openclean.pipeline import stream
ds_full = stream(fn_dst)

In [4]:
print(f'The dataset contains {ds_full.count():,} rows.')

The dataset contains 35,297 rows.

In [5]:
ds_full.head()

,SUMMONS_KEY,SUMMONS_DATE,OFFENSE_DESCRIPTION,LAW_SECTION_NUMBER,LAW_DESCRIPTION,SUMMONS_CATEGORY_TYPE,AGE_GROUP,SEX,RACE,JURISDICTION_CODE,BORO,PRECINCT_OF_OCCUR,X_COORDINATE_CD,Y_COORDINATE_CD,Latitude,Longitude,New Georeferenced Column
0,234450913,09/30/2021,KNIVES; PUBLIC POSSESSION (BLADE 4 INCHES OR M...,10-133(B),,,25-44,M,BLACK,2,BRONX,40,,,,,
1,234279627,09/30/2021,EQUIPMENT,375,VTL,VTL,UNKNOWN,,,0,BROOKLYN,76,1029932,214337,40.75487228900005,-73.835115665,POINT (-73.835115665 40.75487228900005)
2,234275352,09/30/2021,EQUIPMENT,375,VTL,VTL,UNKNOWN,,,0,BROOKLYN,71,,,,,
3,234217681,09/29/2021,EQUIPMENT,375,VTL,VTL,UNKNOWN,,,0,BROOKLYN,66,982428,187606,40.68161992100005,-74.00657058999997,POINT (-74.00657058999997 40.68161992100005)
4,234260308,09/29/2021,RECKLESS DRIVING,1212,VTL,VTL,45-64,M,BLACK,2,BRONX,43,984014,185556,40.67599331900004,-74.00085226,POINT (-74.00085226 40.67599331900004)
5,234229955,09/28/2021,POSS. OF KNIFE,10-133,Administrative Code,KNIFE,25-44,M,BLACK,2,BRONX,42,,,,,
6,234083252,09/25/2021,RECKLESS DRIVING,1212,VTL,VTL,65+,M,BLACK,0,BROOKLYN,67,,,,,
7,233878429,09/21/2021,ALCOHOLIC BEVERAGE IN PUBLIC,10-125(2B),,,25-44,M,WHITE HISPANIC,0,BROOKLYN,72,,,,,
8,233817343,09/20/2021,MOTOR VEHICLE; ENGINE ON/KEY IN IGNITION (THER...,10-111(A),,,25-44,F,BLACK,0,QUEENS,105,,,,,
9,233755125,09/18/2021,UNLICENSED SALE OF ALCOHOL,100-1,ABC,ABC,25-44,F,BLACK,0,BROOKLYN,73,1016542,182634,40.66791419900005,-73.88359786099994,POINT (-73.88359786099994 40.66791419900005)

#### Use openclean to profile the data set:

In [6]:
from openclean.profiling.column import DefaultColumnProfiler

#profiles = ds.profile(default_profiler=DefaultColumnProfiler)
profiles = ds_full.profile(default_profiler=DefaultColumnProfiler)

In [7]:
profiles.stats()

                          total  empty  distinct  uniqueness    entropy
SUMMONS_KEY               35297      0     35294    0.999915  15.107088
SUMMONS_DATE              35297      0       273    0.007734   7.953969
OFFENSE_DESCRIPTION       35297      0       388    0.010992   4.259884
LAW_SECTION_NUMBER        35297      0       347    0.009831   4.177027
LAW_DESCRIPTION           35297   8936        14    0.000531   1.981003
SUMMONS_CATEGORY_TYPE     35297   8936        44    0.001669   2.459580
AGE_GROUP                 35297      0         6    0.000170   1.838390
SEX                       35297  17436         3    0.000168   0.530843
RACE                      35297  17437         8    0.000448   2.040680
JURISDICTION_CODE         35297      0         3    0.000085   0.476623
BORO                      35297      0         6    0.000170   1.958136
PRECINCT_OF_OCCUR         35297      0        77    0.002181   5.345961
X_COORDINATE_CD           35297    181      7984    0.227361  10.642262
Y_COORDINATE_CD           35297    181      8138    0.231746  10.655154
Latitude                  35297    181      8549    0.243450  10.704113
Longitude                 35297    181      8551    0.243507  10.703326
New Georeferenced Column  35297    181      8552    0.243536  10.704345

In [8]:
# Print the most frequent data type for each column.

print('Schema\n------')
for col in ds_full.columns:
    p = profiles.column(col)
    print("  '{}' ({})".format(col, p['datatypes']['distinct'].most_common(1)[0][0]))

Schema
------
  'SUMMONS_KEY' (int)
  'SUMMONS_DATE' (date)
  'OFFENSE_DESCRIPTION' (str)
  'LAW_SECTION_NUMBER' (str)
  'LAW_DESCRIPTION' (str)
  'SUMMONS_CATEGORY_TYPE' (str)
  'AGE_GROUP' (str)
  'SEX' (str)
  'RACE' (str)
  'JURISDICTION_CODE' (int)
  'BORO' (str)
  'PRECINCT_OF_OCCUR' (int)
  'X_COORDINATE_CD' (int)
  'Y_COORDINATE_CD' (int)
  'Latitude' (float)
  'Longitude' (float)
  'New Georeferenced Column' (str)

### Field Name & Description:
    'CMPLNT_NUM' (int)                 Complaint Number
    'CMPLNT_FR_DT' (date)              Complaint From Date
    'CMPLNT_FR_TM' (date)              Complaint From Time
    'CMPLNT_TO_DT' (date)              Complaint To Date
    'CMPLNT_TO_TM' (date)              Complaint To Time
    'ADDR_PCT_CD' (int)                Code of Precinct in which the Incident Occured
    'RPT_DT' (date)                    Report Date
    'KY_CD' (int)                      "Key Code": Offense Classification Code (3 digits)
    'OFNS_DESC' (str)                  Offense Description
    'PD_CD' (int)                      PD Code of Offense. More granular than Key Code
    'PD_DESC' (str)                    PD Description of Offense.
    'CRM_ATPT_CPTD_CD' (str)           Whether Crime was Atempted or Completed (values: 'COMPLETED', 'ATTEMPTED')
    'LAW_CAT_CD' (str)                 Level of Offense (values: 'FELONY', 'VIOLATION', 'MISDEMEANOR')
    'BORO_NM' (str)                    Name of Borough in which Incident Occurred
    'LOC_OF_OCCUR_DESC' (str)          Description of where the incident occurred with respect to the premises
                                       (values:'FRONT OF', 'REAR OF', 'OUTSIDE', 'INSIDE', 'OPPOSITE OF')
    'PREM_TYP_DESC' (str)              Description of the type of premises in which the Incident Occurred
    'JURIS_DESC' (str)                 Description of Jurisdiction in which Incident Occurred
    'JURISDICTION_CODE' (int)          Jurisdiction Code
    'PARKS_NM' (str)                   Name of Park in which Incident Occurred, if Applicable
    'HADEVELOPT' (str)                 Name of NYCHA Housing Development in which Incident Occurred, if Applicable
    'HOUSING_PSA' (int)                Housing PSA
    'X_COORD_CD' (int)                 X-coordinate, New York State Plane Coordinate System
    'Y_COORD_CD' (int)                 Y-coordinate, New York State Plane Coordinate System
    'SUSP_AGE_GROUP' (int)             Age Group of Suspect
    'SUSP_RACE' (str)                  Race of Suspect
    'SUSP_SEX' (str)                   Sex of Suspect
    'TRANSIT_DISTRICT' (int)           Transit-District code
    'Latitude' (float)                 Global Latitude of Location where Incident Occurred
    'Longitude' (float)                Global Longitude of Location where Incident Occured
    'Lat_Lon' (str)                    'Latitude' and 'Longitude' together
    'PATROL_BORO' (str)                Patrol Borough
    'STATION_NAME' (str)               Station Name
    'VIC_AGE_GROUP' (int)              Age Group of Victim
    'VIC_RACE' (str)                   Race of Victim
    'VIC_SEX' (str)                    Sex of Victim
    
    
    (Note: some field descriptions were taken from https://www1.nyc.gov/assets/nypd/downloads/pdf/analysis_and_planning/incident_level_data_footnotes.pdf)

## Profiling & Cleaning of each field in the data set

In [9]:
profiles.minmax('SUMMONS_KEY')

         min        max
int  6754670  234590979

All summons keys are distinct and no values are empty.Hence, no further cleaning is required.

In [10]:
profiles.minmax('SUMMONS_DATE')

            min        max
date 2021-01-01 2021-09-30

In [11]:
from datetime import datetime
#datetime.strptime('2014-12-04', '%Y-%m-%d').date()


def validate_date(sourceValue):
    dummy_date = datetime.strptime("01/01/1000", '%m/%d/%Y').date()
    
    try:
        source_date = sourceValue
        start_date = datetime.strptime("01/01/2021", '%m/%d/%Y').date()
        end_date = datetime.strptime("09/31/2021", '%m/%d/%Y').date()
    
        if source_date == '':
            source_date = dummy_date
        
        source_date = datetime.strptime(sourceValue, '%m/%d/%Y').date()
        
        if source_date >= start_date and source_date <= end_date:
            return source_date
        else:
            return dummy_date
    except:
        return dummy_date
    

ds_full = ds_full.update('SUMMONS_DATE', validate_date)

In [12]:
profiles.minmax('PRECINCT_OF_OCCUR')

     min  max
int    1  123

In [13]:
profiles.column('PRECINCT_OF_OCCUR').get('topValues')

[('76', 7305),
 ('72', 1321),
 ('40', 1231),
 ('44', 1201),
 ('109', 933),
 ('45', 925),
 ('41', 916),
 ('52', 790),
 ('25', 748),
 ('47', 747)]

In [14]:
profiles.minmax('LAW_SECTION_NUMBER')

                       min                  max
str                   1-03               GBL 45
int                     45                 9999
float               20.453               1050.9
date   3003-03-03 00:00:00  3003-03-03 00:00:00

In [15]:
profiles.column('LAW_SECTION_NUMBER').get('topValues')

[('CFR 49', 14047),
 ('221.05', 3689),
 ('10-111(A)', 2606),
 ('10-125(2B)', 1191),
 ('1212', 912),
 ('11-809', 855),
 ('9999', 835),
 ('375', 664),
 ('140.05', 621),
 ('1050.4(A)', 615)]

In [16]:
profiles.column('OFFENSE_DESCRIPTION').get('topValues')

[('FEDERAL MOTOR VEH. SAFETY REG', 14047),
 ('MARIJUANA, UNLAWFUL POSSESSION 2ND DEGREE', 3689),
 ('MOTOR VEHICLE; ENGINE ON/KEY IN IGNITION (THERE IS NO TIME REQUIREMENT)',
  2606),
 ('ALCOHOLIC BEVERAGE IN PUBLIC', 1191),
 ('RECKLESS DRIVING', 912),
 ('NO TAX STAMP', 855),
 ('EQUIPMENT', 664),
 ('TRESPASS', 621),
 ('NON PAYMENT OF FARE (OTHER)', 615),
 ('UNREGISTERED VEHICLE', 511)]

In [17]:
ds_full.distinct('OFFENSE_DESCRIPTION')

Counter({'KNIVES; PUBLIC POSSESSION (BLADE 4 INCHES OR MORE)': 89,
         'EQUIPMENT': 664,
         'RECKLESS DRIVING': 912,
         'POSS. OF KNIFE': 116,
         'ALCOHOLIC BEVERAGE IN PUBLIC': 1191,
         'MOTOR VEHICLE; ENGINE ON/KEY IN IGNITION (THERE IS NO TIME REQUIREMENT)': 2606,
         'UNLICENSED SALE OF ALCOHOL': 33,
         'FEDERAL MOTOR VEH. SAFETY REG': 14047,
         'IMPROPER PLATES': 198,
         'DISORDERLY CONDUCT': 357,
         'OTHER ABC': 151,
         'OVERWEIGHT (VEH)': 221,
         'NO TAX STAMP': 855,
         'OTHER VTL': 62,
         'TRESPASS': 621,
         'OTHER TAX LAW': 71,
         'FAIL TO CONTROL CROWD': 2,
         'UNREGISTERED VEHICLE': 511,
         'UNLICENSED OPERATOR': 91,
         'MARIJUANA, UNLAWFUL POSSESSION 2ND DEGREE': 3689,
         'ILLEGAL BOTTLE CLUB': 43,
         'AGG. UNLICENSED OPER.': 176,
         'DISORDERLY PREMISE': 39,
         'CONSUMPTION OF ALCOHOL': 430,
         'IMPROPER ENTRANCE/EXIT': 64,
         'OTHER TRAFFIC REG': 291,
         'IMITATION PISTOL/AIR RIFLE, POSS. OF': 91,
         'LOITERING (GAMBLING)': 35,
         'NON PAYMENT OF FARE (OTHER)': 615,
         'FOR GAMBLING': 162,
         'FAILURE TO COMPLY WITH SIGN': 33,
         'PUBLIC URINATION': 174,
         'CREATES A HAZARDOUS OR PHYSICALLY OFFENSIVE CONDITION WITHOUT A LEGITIMATE PURPO': 182,
         'HIGHWAY USE TAX (NYS)': 454,
         'OPERATION WHILE REGISTRATION OR PRIVILEGE IS SUSPENDED OR REVOKED': 438,
         'URINATE/DEFICATE IN PARK': 13,
         'MARIJUANA, UNLAWFUL POSSESSION 1ST DEGREE': 44,
         'SMOKING IN TRAIN STATION': 126,
         'MAKES UNREASONABLE NOISE': 309,
         'UNINSPECTED VEHICLE': 146,
         'FIREWORKS, POSSESS/USE': 154,
         'PROHIBITS VIOLATIONS OF ANY EMERGENCY MEASURES ESTABLISHED BY THE MAYOR': 70,
         'ENGAGES IN FIGHTING, OR VIOLENT, TUMULTUOUS OR THREATENING BEHAVIOR': 462,
         'ALCOHOL IN THE PARK': 23,
         'DISCON: UNREASONABLE NOISE': 12,
         'OBSTRUCTS VEHICULAR OR PEDESTRIAN TRAFFIC': 503,
         'DISCON: FIGHTING': 42,
         'CONGREGATES WITH OTHER PERSONS IN PUBLIC AND REFUSES TO DISPERSE BY LAWFUL POLIC': 154,
         'FAIL TO DISPLAY': 1,
         'COMMERCIAL VEHICLE; NAME/ADDRESS NOT DISPLAYED': 131,
         'KEY IN IGNITION': 117,
         'UNREASONABLE NOISE; FROM CAR MUFFLER/EXHAUST (HEARD FROM 150 FT AWAY)': 173,
         'SOUND DEVICE; ADVERTISING PURPOSES': 28,
         'OPEN FIRE': 11,
         'NOISE (ENGINE EXHUST)': 94,
         'KNIFE, ANY IN PUBLIC VIEW': 26,
         'HOURS; PERMITTED TO BE IN PARK BETWEEN 6AM-1AM (UNLESS OTHERWISE POSTED)': 49,
         'LITTERING FROM VEHICLE': 31,
         'NOISE (DEVICE)': 31,
         'HARASSMENT 2': 20,
         'STREET, OBSTRUCTED WITH OTHER THAN VEHICLE': 34,
         'URINATING IN PUBLIC': 37,
         'OTHER ADMIN CODE': 87,
         'FAIL TO MAINTAIN MEANS OF EGRESS': 11,
         'BOTTLE CLUB; OPERATE UNLAWFULLY': 42,
         'USE OF ROADWAYS, PEDESTRIANS, HORSES, BICYCLES AND LIMITED USE VEHICLES PROHIBIT': 3,
         'DISCON: OBSTRUCT VEHICLE': 11,
         'UNREASONABLE NOISE; GENERAL': 52,
         'UNATTENDED VEH. (ENGINE RUNNING)': 54,
         'IDLING OF VEHICLE': 142,
         'RECEIVING MONEY OUTSIDE DAZ': 11,
         'SOUND DEVICE; NON-COMMERCIAL WITHOUT PERMIT': 58,
         'LITTERING': 61,
         'PARK REGULATIONS': 7,
         'OTHER TRANSIT REG': 74,
         'RED LIGHT (DISOBEY)': 2,
         'NO SECURITY GUARD LICENSE': 35,
         'BICYCLE ON SIDEWALK': 59,
         'PRACTICE OF BARBERING W/O A LICENSE': 2,
         'NON PAYMENT OF FARE (BUS)': 28,
         'UNLAWFUL POSSESSION SYTHETIC CANNABINOIDS': 24,
         'OCCUPANCY SIGN NOT POSTED': 14,
         'TICKET SELLERS OBSTRUCT PED FLOW': 8,
         'NO "BOOK OF DAILY ACTIVITIES"': 25,
         'OBSTRUCTED VIEW OF PREMISE': 9,
         'LIQUOR LICENSE NOT POSTED IN A CONSPICUOUS PLACE': 19,
         'DISCON: CREATE HAZARDOUS CONDITION': 18,
         'UNLICENSED BARBER': 6,
         'OPERATE MOTOR VEHICLE IN AN UNAUTHORIZED AREA': 36,
         'OTHER ACA': 5,
         'FAIL TO DISPLAY VALID BUSINESS CERTIFICATE': 5,
         'TOW TRUCK VIOLATIONS (OTHER)': 1,
         'EXPOSURE OF PERSON': 8,
         'OPERATE WITHOUT BATTERY OPERATED HEADLIGHTS': 1,
         'CONTAINER, NOT ORIGINAL OR TAMPERED': 10,
         'EVICTION; UNLAWFUL (REMOVE PROPERTY/REMOVE DOOR/CHANGE OR DAMAGE LOCKS)': 22,
         'POSSESS WITHOUT PERMIT': 6,
         'PEDESTRIAN FLOW ZONE': 8,
         'GLASS BOTTLE/CONTAINER; IN RESTRICTED AREA': 3,
         'FAIL TO DISPLAY "CERTIFICATE OF OCCUPANCY"': 13,
         'DISOBEY ANY PARK SIGN': 40,
         'KNIVES; DISPLAYED OUTSIDE CLOTHING/CARRY IN THE OPEN WITHOUT A LAWFUL PURPOSE': 72,
         'CONSUMPTION OF ALCOHOL IN VEHICLE': 15,
         'DEFECTIVE BREAKLIGHT': 3,
         'NOT IN A BIKE LANE OR IN THE RIGHT HAND SIDE OF TRAFFIC': 1,
         'NOISE (UNREASONABLE)': 34,
         'UNLICENSED GENERAL VENDOR': 16,
         'AIR PISTOL/RIFLE; SELL OR POSSESS': 26,
         'IN A PUBLIC PLACE AND USES ABUSIVE/OBSCENE LANGUAGE OR MAKES AN OBSCENE GESTURE': 14,
         'UNSOLICITED RESPONSE TO ACCIDENT SCENE': 1,
         'UNREASONABLE NOISE; FROM ANY VEHICLE HORN': 21,
         'UNLAWFULLY POSTING ADVERTISEMENTS': 7,
         'SELL ALCOHOLIC BEVERAGES WITHOUT LICENSE': 24,
         'FAIL TO COMPLY WITH TLC REGULATIONS': 6,
         'UNREASONABLE NOISE (FROM SOUND REPRODUCTION DEVICE)': 2,
         'LICENSE, OPERATE WITH SUSPENDED/REVOKED/NONE': 31,
         'OPERATE BIKE ON SIDEWALK *(NOT A C SUMMONS)*': 4,
         'RECKLESS OPERATION OF A BICYCLE *( C SUMMONS)*': 38,
         'FAILURE TO SURRENDER LICENSE OR REGISTRATION': 5,
         'FAILURE TO DISPLAY "BUSINESS CERTIFICATE"': 6,
         'UNLAWFUL SALE OF CANNABIS': 5,
         'NO TRIP SHEET': 3,
         'NO JUNCTION BOX COVERS': 6,
         'CURTAIN PLACED OVER EXIT DOOR': 1,
         'EVICTION; UNLAWFUL (INTERRUPT ESSENTIAL SERVICES)': 6,
         'DEFECTIVE HEADLIGHT': 5,
         'NO NAME OR ADDRESS DISPLAYED': 34,
         'DRIVER DOES NOT POSSESS "FOR HIRE-VEHICLE" LICENSE': 1,
         'PROHIBITED SALE': 1,
         'FAIL TO POST "NO SMOKING" SIGNS WHERE REQUIRED': 4,
         'UNLAWFUL POSSESSION OF CANNABIS': 24,
         'EXIT DOOR SWINGS IN': 1,
         'CRUELTY TO ANIMAL(S)': 7,
         'UNINSURED VEHICLE': 34,
         'WAREHOUSING ALCOHOL WITHOUT A PERMIT': 43,
         'PEDICAB WITHOUT EXTIOR SIGN OF RATES': 9,
         'OTHER SANITARY CODE': 30,
         'PEDICAB DRIVER LICENSE': 11,
         'HIGHWAY/PARKWAY; UNAUTHORIZED TOW': 1,
         'OTHER PARK REGS': 5,
         'POSSESSION OF AN IMITATION PISTOL (TOY) THAT LOOKS REAL': 43,
         'DISCON: OBSTRUCT PEDESTRIAN': 17,
         'RESTRICTIONS ON THE OPERATION OF PEDICABS': 4,
         'FAIL TO MAINTAIN FIRE EXTINGUISHER INSPECTION': 20,
         'WITHOUT LAWFUL AUTHORITY, DISTURBS ANY LAWFUL ASSEMBLY OR MEETING OF PERSONS': 14,
         'OTHER HEALTH CODE': 24,
         'OBSTRUCTED VIEW INTO BAR': 9,
         'JAYWALKING': 24,
         'OTHER ENVIRONMENTAL CONSERVATION LAW': 2,
         'POSSESSION OF ALCOHOL BY A MINOR': 10,
         'ACCEPT ON HAIL': 30,
         'UNLICENSED VEHICLE FOR HIRE': 22,
         'DISOBEY TRANSIT SIGN': 44,
         'OPEN HYDRANT': 5,
         'UN-MOUNTED FIRE EXTINGUISHER': 15,
         'PERMIT ON-PREMISE CONSUMPTION': 5,
         'DAZ RULES VIOLATED  CHARACTER': 3,
         'FOOD PROTECTION/STORAGE/TRANSP': 20,
         'NO "NO CHOKING" SIGN IN FOOD ESTABLISHMENT': 1,
         'SALE TO A MINOR (UNDER 21)': 13,
         'PREVENT CLEAR VIEW INTO LIQUOR STORE': 2,
         'OBSTRUCTED FIRE EXTINGUISHER': 4,
         'SALE OF TOBACCO TO MINORS (UNDER 18 YEARS OLD)': 7,
         'AGGRESSIVE PANHANDLING': 7,
         'OBSTRUCTED VIEW': 1,
         'PISTOL, TOY/IMITATION; UNLAWFUL SALE, USE, ETC.': 13,
         'CONSUMPTION OF ALCOHOL IN PARK': 13,
         'FIREWORKS': 1,
         'PICK UP FROM BUS STOP': 21,
         'CROSS MIDDLE OF BLOCK WITH LIGHT SIGNALS AT BOTH ENDS OF STREET': 3,
         'UNLICENSED SECOND BAR': 4,
         'POLICE MACE; UNLAWFUL POSSESSION': 26,
         'SMOKING IN ELEVATOR': 4,
         'GRAFFITI PROHIBITED; PUBLIC/PRIVATE BUILDING/PROPERTY (INCLUDES STICKER/DECAL)': 2,
         'ADVERTISE AS HACK WITHOUT LICENSE': 10,
         'UNLAWFUL PREVENTION OF PUBLIC ACCESS TO RECORDS': 2,
         'ONLY 1 EXIT AND OCCUPIED BY MORE THAN 75 PEOPLE': 5,
         'POLICE/PRESS CARD; UNLAWFUL USE OR POSSESSION OF': 5,
         'SOLICITING AT SCENE; UNREASONABLE/UNNECESSARY': 2,
         'TRIP SHEET; WITH REQUIRED TRIP ENTRIES AND READINGS': 1,
         'UNLICENSED CABARET, DANCE HALL, OR CATERING HALL': 3,
         'EMPLOY BOUNCER (SECURITY GUARD) WITHOUT VALID REGISTRATION CARD': 21,
         'FAIL TO CLEAN CANINE WASTE': 1,
         "LICENSE, TOW OPERATOR'S; OPERATE/ASSIST WITHOUT": 5,
         'POSSESSION OF A WILD ANIMAL': 5,
         'BICYCLE INFRACTION (COMMERCIAL)': 10,
         'PEDESTRIAN ON ROADWAY': 25,
         'CARRY/POSSESS IN PUBLIC; UNLOADED & UNCONCEALED': 4,
         'DISCON: REFUSE LAWFUL ORDER': 28,
         'OTHER PENAL LAW': 23,
         'NO CERTIFICATE OF OCCUPANCY': 10,
         'SPITTING': 11,
         'AMMUNITION; UNLAWFUL SALE/PURCHASE': 9,
         'FAILURE TO CONSPICUOUSLY POST "SLA LICENSE" IN A SUITABLE FRAME': 5,
         'FAIL TO MAINTAIN PROPRIETARY SECURITY GUARD LICENSE': 6,
         'IMPROPER STICKER': 16,
         'PEDESTRIAN WALKING INTO TRAFFIC UNSAFELY': 5,
         'NOISE (HORN/ALARM)': 6,
         'FAIL TO COMPLY WITH THE DIRECTIONS OF A POLICE OFFICER': 4,
         'PARKED MOTOR VEHICLE, SALE FROM': 2,
         'AFTER HOURS CONSUMPTION': 2,
         'SMOKING ANYPLACE WITH COMBUSTIBLES PRESENT (EX: GAS STATION)': 1,
         'POSS. OF MACE': 12,
         'PRICE, FAILS TO DISPLAY': 1,
         'ENGINE IDLE; CAUSE/PERMIT MORE THAN 3 MINUTES': 1,
         'SPITTING IN PUBLIC': 9,
         'UNAUTHORIZED POSTING (SIGNS/FLYERS)': 1,
         'SPEED/DRIVING DANGEROUS TO PASSENGER/PEDESTRIAN/OTHER VEHICLE': 2,
         'SMOKING IN AN ENCLOSED SPACE FOR 50 OR MORE PEOPLE': 2,
         'POSSESSION OF AIR PISTOL/RIFLE': 23,
         'POLICE UNIFORM/EMBLEM; UNLAWFUL USE OF': 4,
         'FAIL TO CHECK ID': 1,
         'LITTERING PROHIBITED': 13,
         'TAKE OFFS AND LANDING': 5,
         'OTHER MULTIPLE DWELLING': 2,
         'RULES': 2,
         'TICKETS OUTSIDE DAZ': 5,
         'EXIT LIGHT INOPERABLE': 8,
         'UNREASONABLE NOISE; FROM MOTORCYCLE MUFFLER/EXHAUST (HEARD FROM 200FT AWAY)': 4,
         'FIRE HYDRANT, NEAR': 1,
         'BARBER/HAIRSTYLIST NOT WEARING OUTER COAT OR UNIFORM': 3,
         'NO SMOKING SIGN POSTED': 5,
         'MOTORCYCLE HELMET REQUIRED': 3,
         'DOG: FAILURE TO REMOVE CANINE WASTE': 1,
         'LICENSE, ENGAGE IN TOWING BUSINESS WITHOUT': 6,
         'ALCOHOLIC BEVERAGE; CONSUME/POSSESS WITH INTENT TO CONSUME BY SELF/OTHERS': 7,
         'FAILURE TO POST "PREGNANCY WARNING SIGN"': 8,
         'OPERATE BICYCLE IN A RECKLESS MANNER': 3,
         'BOUNCER (SECURITY GUARD) WITHOUT A VALID REGISTRATION CARD': 5,
         'ENFORCEMENT': 2,
         'LEAVING THE SCENE OF AN ACCIDENT (PROP. DAM.)': 3,
         'CARRY/POSSESS IN PUBLIC; LOADED': 3,
         'INSPECTION STKR. (MISSING/EXPIRED)': 1,
         'NO SIGN STATING "CIGARETTE(TOBACCO PRODUCTS)SALE TO PERSONS UNDER 18 PROHIBITED"': 2,
         'NO NYC LICENSE TO SELL CIGARETTES': 2,
         'REFUSE INSPECTION BY POLICE': 6,
         'PANHANDLING': 4,
         'UNLAWFUL EVICTION': 6,
         'ALCOHOL, UNDER INFLUENCE OF (MAY ENDANGER ANYONE/PROPERTY)': 2,
         'SALE OF ALCOHOL TO A MINOR': 8,
         'VENDOR: UNLICENSED': 2,
         'COUNTERFEIT INSPECTION STICKER': 7,
         'ALLOW GAMBLING': 3,
         'STRIKE, SHOVE, KICK, OR THREATEN/ATTEMPT': 7,
         'MOTORCYCLE (OTHER)': 2,
         'SMOKING': 4,
         'LIQUIDS (NOXIOUS); POUR/DISCHARGE': 4,
         'POLICE RADIO IN AUTO (UNLESS PERMISSION OF POLICE COMMISSIONER IS GRANTED)': 2,
         'FRAUDULENT ACCOSTING': 1,
         'SIDEWALK, OBSTRUCTED': 4,
         'VEHICLE IN PARK': 6,
         'NO CPR KIT SIGN': 2,
         'USING EXTENSION CORD AS PERMANENT WIRING': 3,
         'UNLICENSED SIDEWALK CAFE': 1,
         'POSSESSION OF A BOX CUTTER (20 YES OLD OR YOUNGER)': 1,
         'NO CPR KIT': 2,
         'DISPLAY OF PEDICAB DRIVER?S IDENTIFICATION': 9,
         'POSSESSION OF A POLICE EMBLEM': 4,
         'FAIL TO MAINTAIN EMERGENCY LIGHTING': 8,
         'CONTAMINATED LIQUORS (EX: FRUIT FLIES IN BOTTLE)': 2,
         'NO PREGNANCY WARNING SIGN': 1,
         'SALE OUT OF CLASS': 3,
         'FAIL TO POST SIGN - "PROHIBITED SALE TO MINOR/INTOX PERSON"': 4,
         'UNREASONABLE NOISE FROM A LICENSED PREMISE': 2,
         'VENDOR: FAIL TO DISPLAY PRICES': 1,
         'SELLING OUTSIDE DAZ': 5,
         'OBSTRUCTING TRAFFIC': 2,
         'UNAUTHORIZED FOR HIRE': 1,
         'DISORDERLY PERSON IN PARK': 1,
         'PRICES OF ALCOHOL NOT DISPLAYED': 2,
         'OTHER NYS TRANSPORTATION': 19,
         'SOUND REPRODUCTION DEVICE-NO PERMIT': 9,
         'TOW TRUCK; RATE/INFO; SIGN NOT POSTED': 2,
         'PLACE/TIME PROHIBITED': 1,
         'FAIL TO DISPLAY SERVICE PRICES': 3,
         'VENDOR: DISP MERCHANDISE ON SIDEWALK': 1,
         'POSSESSION OF FIREWORKS': 3,
         'OVER CROWDED BAR': 2,
         'NO CIGARETTE LICENSE': 1,
         'OTHER BUSINESS LAW': 7,
         'PANHANDLING WITHIN 10 FT. OF BANK/ATM/CHECK CASHING BUSINESS': 3,
         'REFUSAL TO TOW; WITHIN NYC, UNJUSTIFIABLE (REPORT OF VIOLATION PREPARED)': 2,
         'SERIOUSLY ANNOY WITHOUT A LEGITIMATE PURPOSE': 6,
         'MAP, NYC STREET; INDEX OF 5 BOROUGHS': 1,
         'DOG: UNLEASHED': 4,
         'UNLICENSED VENDOR': 3,
         'UNLEASHED DOG WITH LEASH OVER 6 FEET': 2,
         'SALE TO A MINOR': 3,
         'RECKLESS OPERATION (REPORT OF VIOLATION PREPARED)': 1,
         'POLICE RADIO OR EQUIPMENT': 1,
         'POSS. OF RADIO ABLE TO RECEIVE POLICE FREQUENCIES W/O PERMIT FROM POL COMMIS.': 1,
         'FAIL TO COMPLY WITH ORDER': 1,
         'UNSECURED COMPRESSED GAS TANKS': 6,
         'SALE OF LOOSE CIGARETTES': 2,
         'INSPECTION; PEDICAB REGISTRATION PLATE': 3,
         'UNTAXED BEVERAGE POSSESS/CONTROL': 4,
         'TRIP SHEET; WITH REQUIRED IDENTIFICATION, DISPATCH INFO AND READINGS': 5,
         'FIRE HYDRANT, OBSTRUCT': 3,
         'POSSESSION OF A POLICE SCANNER': 3,
         'BOOK TO BE OPEN TO INSPECTION': 2,
         'STREET; OBSTRUCT WITHOUT PERMIT': 2,
         'OPEN FIRE (CAUSE OR PERMIT)': 3,
         'HANDCUFFS; UNLAWFUL POSSESSION OF (INCLUDES DISP. CINCH & THUMB CUFFS/LEG IRONS)': 2,
         'VEHICLE; RIFLE/SHOTGUN/AMMO IN': 1,
         'REFUSE TO TRANSPORT (WITHIN NYC)': 1,
         'CROSSWALK': 1,
         'SALE TO AN INTOXICATED PERSON': 2,
         'LOITERING (UNCLASSIFIED)': 5,
         'STOP SIGN': 1,
         'NO TOW LICENSE': 4,
         "CHAUFFER'S LICENSE, OPERATE WITHOUT (NYS OR SIMILAR OF RESIDENT STATE)": 1,
         'LITTER FROM A VEHICLE': 1,
         'NO SMOKING SIGNS NOT POSTED': 1,
         'SALE AFTER HOURS (4AM-12PM, SUN)': 1,
         'FIRE (WITHOUT PERMIT)': 3,
         'SIDEWALK; MERCHANDISE ON DISPLAY; OR IMPROPER STAND': 1,
         'CROSSWALK/DRIVEWAY/ETC, WITHIN 10 FEET': 1,
         'NO "CERTIFICATE OF OCCUPANCY"': 2,
         'FAILURE TO DISPLAY "LIQUOR LICENSE"': 3,
         'LOITERING (BEGGING)': 1,
         'NO DOG LICENSE (COLLAR)': 1,
         'REQUIRED EQUIPMENT OF PEDICABS': 1,
         'OCCUPIED BY OVER 75 PATRONS & NO SPRINKLER SYSTEM': 1,
         'DRIVER CANNOT PRODUCE PROOF OF INSURANCE': 3,
         'BROKEN WINDSHIELD': 1,
         'NO EXIT SIGN AT DOOR OR NOT CLEARLY MARKED': 1,
         'DESTROY PLANTS/TREES/SHRUBS/FLOWERS': 1,
         '20-217(I)': 1,
         'OBSTRUCTION OF VEHICLE/PEDESTRIAN TRAFFIC': 1,
         'UNLICENSED CABARET': 3,
         'BUILD/MAINTAIN/USE; OTHER THAN DESIGNATED LOCATION OR WITHOUT A PERMIT': 1,
         'SALE OF TOBACCO/ROLLING PAPERS TO MINOR': 3,
         'PICK-UP FARE IN BUS STOP': 1,
         'LITTERNG': 1,
         'AUTHORIZED FIRE; NOT PROPERLY CONTAINED': 1,
         'EXIT NOT TO STREET OR BLOCKED FROM STREET': 5,
         'DEFECTIVE REFLECTOR': 2,
         'RECEIPT; FAIL TO PROVIDE IF REQUESTED': 1,
         'DISPLAY; UNLAWFULLY': 1,
         'VENDOR WITHOUT A LICENSE (EXCEPT NEWSPAPERS, PERIODICALS, BOOKS/PAMPHLETS, ETC)': 1,
         'TRANSIT FACILITY FOR COMMERCIAL OR ENTERTAINMENT PURPOSE': 1,
         'DISCON: DISTURB LAWFUL ASSEMBLY': 1,
         'UNLEASHED ANIMAL': 1,
         'FAIL TO SECURE WORKERS COMP INS.': 1,
         'DRIVE ON SIDEWALK': 1,
         'SMOKING IN A STORE': 1,
         'NO HELMET': 1,
         'LOITERING (SCHOOL)': 2,
         'POSSESSION OF A LASER POINTER (18 YRS OLD OR YOUNGER IN PUBLIC PLACE)': 3,
         'SALE/PURCHASE/USE OF ALCOHOL BY MINOR': 2,
         'GRAFFITI; POSSESSION OF A BROAD TIPPED MARKER': 1,
         'DUMPING': 1,
         'SAFETY BELT (NO CHILD SEAT)': 1,
         'FAIL TO DISPLAY BARBERS/BARBERSHOPS LICENSE': 1,
         'RESTRICTIONS; FAIL TO COMPLY WITH': 1,
         'POSSESSION OF A SIREN': 2,
         'FAILURE TO YIELD TO PEDESTRIAN IN CROSSWALK': 1,
         'UNLICENSED REPAIR SHOP': 1,
         'PERMIT UNLICENSED': 4,
         'IN PUBLIC UNDER DRUGS': 2,
         'UNINSURED VEHICLES FOR HIRE': 1,
         'PEDI CAB WITHSEATING FOR MORE THAN 3 PASSENGERS': 1,
         'UNREASONABLE NOISE; FROM AN ANIMAL(10PM-7AM)CONTINUOUSLY FOR 5MIN OR MORE': 1,
         'LICENSE/RECORDS/DOCUMENTS; FAIL TO PRODUCE WHEN REQUESTED': 2,
         'DISCON: OBSCENE LANGUAGE/GESTURE': 3,
         'DCA PEDICAB DRIVERS LICENSE NOT VISABLE': 1,
         'IMPROPER TURN': 2,
         'GRAFFITI; POSSESSION OF AEROSOL SPRAY CAN': 1,
         'FAIL TO COMPLY WITH VACATE ORDER': 1,
         'BOX CUTTER': 1,
         'TOW:SOLICITING TOW AT SCENE OF ACCIDENT': 1,
         'PERMIT DRUG ACTIVITY': 1,
         'LOCKED/BOLTED/FASTENED DOOR': 1,
         'FAIL TO YIELD AT LEFT TURN': 1,
         'EXIT DOOR BLOCKED': 1,
         'INVALID PROOF OF INSUR.': 1,
         'RADIO, TWO-WAY; PROHIBITED WITHOUT PERMIT': 1,
         'UNREASONABLE NOISE; FROM AN ANIMAL(7AM-10PM)CONTINUOUSLY FOR 10MIN OR MORE': 1,
         'OTHER NYS EDUCATION LAW': 1,
         'RIDING IN OTHER THAN PASSENGER COMPARTMENT': 1,
         'CURB, AWAY FROM': 1,
         'LOITERING (TRANSPORTATION FACILITY)': 1,
         'LITTERING (DUMPING RUBBISH AND REFUSE)': 1,
         'FOLLOW IN A PUBLIC PLACE': 1,
         'OVERCROWDED': 1,
         'PAVEMENT MARKING (DISOBEY)': 1,
         'DUMPING BY; OPERATOR OR OWNER OF A VEHICLE': 1,
         'SMOKING IN A SUPERMARKET': 1})

In [18]:
# Print the most frequent values in column 'PD_DESC'

profiles.column('SUMMONS_CATEGORY_TYPE').get('topValues')

[('NYS TRANS', 14066),
 ('MARIJUANA', 3689),
 ('VTL', 3593),
 ('TLC', 1080),
 ('OTHER ABC', 658),
 ('TRESPASS', 621),
 ('DISORDERLY CONDUCT', 489),
 ('ALCOHOL', 443),
 ('ABC', 212),
 ('VENDING', 191)]

In [19]:
ds_full.distinct('SUMMONS_CATEGORY_TYPE')

Counter({'': 8936,
         'VTL': 3593,
         'KNIFE': 143,
         'ABC': 212,
         'NYS TRANS': 14066,
         'DISORDERLY CONDUCT': 489,
         'OTHER ABC': 658,
         'TLC': 1080,
         'TRESPASS': 621,
         'MARIJUANA': 3689,
         'ALCOHOL': 443,
         'AIR GUN': 103,
         'GAMBLING': 35,
         'PARK REGS': 47,
         'URINATING': 68,
         'FIREWORKS': 155,
         'VENDING': 191,
         'KEY': 117,
         'OPEN FIRE': 14,
         'NOISE': 174,
         'HARASSMENT 2': 20,
         'OTHER ADMIN CODE': 87,
         'LITTERING': 59,
         'BUSINESS': 45,
         'BIKE': 69,
         'TOW TRUCK': 7,
         'EXPOSURE': 8,
         'POSTING ADVERTISEMENTS': 8,
         'OTHER PARK REG': 5,
         'TRAFFIC REGS': 29,
         'OPEN HYDRANT': 5,
         'SANITARY CODE': 20,
         'SMOKING': 10,
         'OTHER': 2,
         'DOG': 8,
         'OTHER PENAL LAW': 23,
         'SPITTING': 20,
         'AMMO': 9,
         'AVIGATION': 5,
         'PANHANDLING': 4,
         'LITTERNG': 3,
         'EDUCATION LAW': 4,
         'LOITERING': 10,
         'DUMPING': 1,
         'IN PUBLIC UNDER DRUGS': 2})

In [20]:
ds_full.distinct('LAW_DESCRIPTION')

Counter({'': 8936,
         'VTL': 3139,
         'Administrative Code': 2502,
         'ABC': 870,
         'NYS Transportation': 14066,
         'Penal Law': 5060,
         'Park Regs': 79,
         'Tax Law': 475,
         'General Business Law': 50,
         'Health Code': 64,
         'Traffic Regs': 29,
         'Sanitary Code (NYS)': 20,
         'Education Law (NYS)': 4,
         'TLC': 2,
         'NYS Workers Comp': 1})

In [21]:
def validate_law_cat_cd(sourceValue):
    UNKNOWN = "UNKNOWN"
    
    try:
        values = ['VTL',
         'Administrative Code',
         'ABC',
         'NYS Transportation',
         'Penal Law',
         'Park Regs',
         'Tax Law',
         'General Business Law',
         'Health Code',
         'Traffic Regs',
         'Sanitary Code (NYS)',
         'Education Law (NYS)',
         'TLC',
         'NYS Workers Comp',
] 
        
        if sourceValue in values:
            return sourceValue
        else:
            return UNKNOWN
    except:
        return UNKNOWN

    
ds_full = ds_full.update('LAW_DESCRIPTION', validate_law_cat_cd)

In [22]:
ds_full.distinct('BORO')

Counter({'BRONX': 8136,
         'BROOKLYN': 15956,
         'QUEENS': 5797,
         'STATEN ISLAND': 655,
         'MANHATTAN': 4597,
         'NEW YORK': 156})

In [23]:
profiles.column('JURISDICTION_CODE').get('topValues')

[('0', 32510), ('2', 1562), ('1', 1225)]

In [24]:
ds_full.distinct('JURISDICTION_CODE')

Counter({'2': 1562, '0': 32510, '1': 1225})

In [25]:
profiles.minmax('X_COORDINATE_CD')

        min      max
int  914216  1066108

In [26]:
profiles.minmax('Y_COORDINATE_CD')

        min     max
int  122552  271578

In [27]:
profiles.column('AGE_GROUP').get('topValues')

[('UNKNOWN', 17500),
 ('25-44', 9317),
 ('18-24', 4678),
 ('45-64', 3054),
 ('<18', 494),
 ('65+', 254)]

In [28]:
ds_full.distinct('AGE_GROUP')

Counter({'25-44': 9317,
         'UNKNOWN': 17500,
         '45-64': 3054,
         '65+': 254,
         '18-24': 4678,
         '<18': 494})

In [29]:
profiles.column('RACE').get('topValues')

[('BLACK', 8707),
 ('WHITE HISPANIC', 4474),
 ('BLACK HISPANIC', 1764),
 ('WHITE', 1217),
 ('ASIAN / PACIFIC ISLANDER', 1217),
 ('UNKNOWN', 276),
 ('AMERICAN INDIAN/ALASKAN NATIVE', 143),
 ('OTHER', 62)]

In [30]:
ds_full.distinct('RACE')

Counter({'BLACK': 8707,
         '': 17437,
         'WHITE HISPANIC': 4474,
         'WHITE': 1217,
         'OTHER': 62,
         'BLACK HISPANIC': 1764,
         'UNKNOWN': 276,
         'ASIAN / PACIFIC ISLANDER': 1217,
         'AMERICAN INDIAN/ALASKAN NATIVE': 143})

In [31]:
def validate_race(sourceValue):
    UNKNOWN = "UNKNOWN"
    
    try:
        values = ["UNKNOWN", "WHITE HISPANIC", "BLACK", "BLACK HISPANIC", "WHITE", "ASIAN / PACIFIC ISLANDER","AMERICAN INDIAN/ALASKAN NATIVE", "OTHER"]
        
        if sourceValue in values:
            return sourceValue
        else:
            return UNKNOWN
    except:
        return UNKNOWN

    
ds_full = ds_full.update('RACE', validate_race)

In [32]:
profiles.column('SEX').get('topValues')

[('M', 15830), ('F', 1978), ('U', 53)]

In [33]:
ds_full.distinct('SEX')

Counter({'M': 15830, '': 17436, 'F': 1978, 'U': 53})

In [34]:
def validate_sex(sourceValue):
    UNKNOWN = "U"
    
    try:
        values = ["M", "F", "U"] 
        
        if sourceValue in values:
            return sourceValue
        else:
            return UNKNOWN
    except:
        return UNKNOWN

    
ds_full = ds_full.update('SEX', validate_sex)

In [35]:
profiles.minmax('Latitude')

             min        max
float  40.502784  40.912057

In [36]:
def validate_lat(sourceValue):
    UNKNOWN = -999
    
    try:
        if sourceValue >= 40 and sourceValue <= 41:  
            return sourceValue
        else:
            return UNKNOWN
    except:
        return UNKNOWN

    
ds_full = ds_full.update('Latitude', validate_lat)

In [37]:
profiles.minmax('Longitude')

             min        max
float -74.251831 -73.704627

In [38]:
def validate_long(sourceValue):
    UNKNOWN = -999
    
    try:
        if sourceValue >= -74 and sourceValue <= -73:  
            return sourceValue
        else:
            return UNKNOWN
    except:
        return UNKNOWN

    
ds_full = ds_full.update('Latitude', validate_long)

In [39]:
profiles.minmax('New Georeferenced Column')

,min,max
str,POINT (-73.70462716899993 40.735370798000076),POINT (-74.25183113799993 40.50278363800004)

In [40]:
SELECTED_COLUMNS = [\
    'SUMMONS_KEY',\
    'SUMMONS_DATE',\
    'OFFENSE_DESCRIPTION',\
    'LAW_SECTION_NUMBER',\
    'LAW_DESCRIPTION',\
    'SUMMONS_CATEGORY_TYPE',\
    'AGE_GROUP',\
    'SEX',\
    'RACE',\
    'JURISDICTION_CODE',\
    'BORO',\
    'PRECINCT_OF_OCCUR',\
    'X_COORDINATE_CD',\
    'Y_COORDINATE_CD',\
    'Latitude',\
    'Longitude',\
    'New Georeferenced Column',\
]

ds_full = ds_full.select(SELECTED_COLUMNS)

In [41]:
ds_full

# VALIDATING DATA AFTER CLEANING

In [42]:
data_df = pd.read_csv("NYPD-YTD-Criminal-Summons-Summary-Dashboard-2.csv")

In [43]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35297 entries, 0 to 35296
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SUMMONS_KEY               35297 non-null  int64
 1   SUMMONS_DATE              35297 non-null  object
 2   OFFENSE_DESCRIPTION       35297 non-null  object
 3   LAW_SECTION_NUMBER        35297 non-null  object
 4   LAW_DESCRIPTION           26361 non-null  object
 5   SUMMONS_CATEGORY_TYPE     26361 non-null  object
 6   AGE_GROUP                 35297 non-null  object
 7   SEX                       17861 non-null  object
 8   RACE                      17860 non-null  object
 9   JURISDICTION_CODE         35297 non-null  int64
 10  BORO                      35297 non-null  object
 11  PRECINCT_OF_OCCUR         35297 non-null  int64
 12  X_COORDINATE_CD           35116 non-null  float64
 13  Y_COORDINATE_CD           35116 non-null  float64
 14  Latitude                  35116 non-null  float64
 15  Longitude                 35116 non-null  float64
 16  New Georeferenced Column  35116 non-null  object
dtypes: float64(4), int64(3), object(10)
memory usage: 4.6+ MB

In [44]:
ds_full_jc = stream(data_df)
profiles = ds_full_jc.profile(default_profiler=DefaultColumnProfiler)
profiles.stats()

                          total  empty  distinct  uniqueness    entropy
SUMMONS_KEY               35297      0     35294    0.999915  15.107088
SUMMONS_DATE              35297      0       273    0.007734   7.953969
OFFENSE_DESCRIPTION       35297      0       388    0.010992   4.259884
LAW_SECTION_NUMBER        35297      0       347    0.009831   4.177027
LAW_DESCRIPTION           35297   8936        14    0.000531   1.981003
SUMMONS_CATEGORY_TYPE     35297   8936        44    0.001669   2.459580
AGE_GROUP                 35297      0         6    0.000170   1.838390
SEX                       35297  17436         3    0.000168   0.530843
RACE                      35297  17437         8    0.000448   2.040680
JURISDICTION_CODE         35297      0         3    0.000085   0.476623
BORO                      35297      0         6    0.000170   1.958136
PRECINCT_OF_OCCUR         35297      0        77    0.002181   5.345961
X_COORDINATE_CD           35297    181      7984    0.227361  10.642262
Y_COORDINATE_CD           35297    181      8138    0.231746  10.655154
Latitude                  35297    181      8549    0.243450  10.704113
Longitude                 35297    181      8551    0.243507  10.703326
New Georeferenced Column  35297    181      8552    0.243536  10.704345

In [45]:
data_df['SEX'].unique()

array(['M', nan, 'F', 'U'], dtype=object)

In [46]:
def validate_SEX(data,column_name):
    data[column_name].replace(np.nan, 'U', inplace=True)
    return data

In [47]:
data_df = validate_SEX(data_df,'SEX')

In [48]:
data_df['RACE'].unique()

array(['BLACK', nan, 'WHITE HISPANIC', 'WHITE', 'OTHER', 'BLACK HISPANIC',
       'UNKNOWN', 'ASIAN / PACIFIC ISLANDER',
       'AMERICAN INDIAN/ALASKAN NATIVE'], dtype=object)

In [49]:
def validate_RACE(data,column_name):
    data[column_name].replace(np.nan, 'UNKNOWN', inplace=True)
    return data

In [50]:
data_df = validate_RACE(data_df,'RACE')

In [51]:
data_df['LAW_DESCRIPTION'].unique()

array([nan, 'VTL', 'Administrative Code', 'ABC', 'NYS Transportation',
       'Penal Law', 'Park Regs', 'Tax Law', 'General Business Law',
       'Health Code', 'Traffic Regs', 'Sanitary Code (NYS)',
       'Education Law (NYS)', 'TLC', 'NYS Workers Comp'], dtype=object)

In [52]:
def validate_LAW_DESCRIPTION(data,column_name):
    data[column_name].replace(np.nan, 'UNKNOWN', inplace=True)
    return data
data_df = validate_LAW_DESCRIPTION(data_df,'LAW_DESCRIPTION')

In [53]:
data_df['SUMMONS_CATEGORY_TYPE'].unique()

array([nan, 'VTL', 'KNIFE', 'ABC', 'NYS TRANS', 'DISORDERLY CONDUCT',
       'OTHER ABC', 'TLC', 'TRESPASS', 'MARIJUANA', 'ALCOHOL', 'AIR GUN',
       'GAMBLING', 'PARK REGS', 'URINATING', 'FIREWORKS', 'VENDING',
       'KEY', 'OPEN FIRE', 'NOISE', 'HARASSMENT 2', 'OTHER ADMIN CODE',
       'LITTERING', 'BUSINESS', 'BIKE', 'TOW TRUCK', 'EXPOSURE',
       'POSTING ADVERTISEMENTS', 'OTHER PARK REG', 'TRAFFIC REGS',
       'OPEN HYDRANT', 'SANITARY CODE', 'SMOKING', 'OTHER', 'DOG',
       'OTHER PENAL LAW', 'SPITTING', 'AMMO', 'AVIGATION', 'PANHANDLING',
       'LITTERNG', 'EDUCATION LAW', 'LOITERING', 'DUMPING',
       'IN PUBLIC UNDER DRUGS'], dtype=object)

In [54]:
def validate_SUMMONS_CATEGORY_TYPE(data,column_name):
    data[column_name].replace(np.nan, 'UNKNOWN', inplace=True)
    return data
data_df = validate_SUMMONS_CATEGORY_TYPE(data_df,'SUMMONS_CATEGORY_TYPE')

In [55]:
data_df = data_df.dropna()

In [60]:
data_df = data_df.drop_duplicates(subset='SUMMONS_KEY',keep="first")

In [61]:
ds_full_jc = stream(data_df)
profiles = ds_full_jc.profile(default_profiler=DefaultColumnProfiler)
profiles.stats()

                          total  empty  distinct  uniqueness    entropy
SUMMONS_KEY               35113      0     35113    1.000000  15.099718
SUMMONS_DATE              35113      0       273    0.007775   7.951915
OFFENSE_DESCRIPTION       35113      0       388    0.011050   4.258857
LAW_SECTION_NUMBER        35113      0       347    0.009882   4.176296
LAW_DESCRIPTION           35113      0        15    0.000427   2.296244
SUMMONS_CATEGORY_TYPE     35113      0        45    0.001282   2.653053
AGE_GROUP                 35113      0         6    0.000171   1.838216
SEX                       35113      0         3    0.000085   1.253582
RACE                      35113      0         8    0.000228   1.974212
JURISDICTION_CODE         35113      0         3    0.000085   0.476827
BORO                      35113      0         6    0.000171   1.958329
PRECINCT_OF_OCCUR         35113      0        77    0.002193   5.346321
X_COORDINATE_CD           35113      0      7984    0.227380  10.642295
Y_COORDINATE_CD           35113      0      8138    0.231766  10.655160
Latitude                  35113      0      8549    0.243471  10.704119
Longitude                 35113      0      8551    0.243528  10.703333
New Georeferenced Column  35113      0      8552    0.243557  10.704351

In [62]:
data_df.to_csv('filtered6.csv')