In [1]:
import sys #access to system parameters https://docs.python.org/3/library/sys.html
print("Python version: {}". format(sys.version))

import pandas as pd #collection of functions for data processing and analysis modeled after R dataframes with SQL like features
print("pandas version: {}". format(pd.__version__))

import matplotlib #collection of functions for scientific and publication-ready visualization
import matplotlib as plt
print("matplotlib version: {}". format(matplotlib.__version__))

import numpy as np #foundational package for scientific computing
print("NumPy version: {}". format(np.__version__))

import scipy as sp #collection of functions for scientific computing and advance mathematics
print("SciPy version: {}". format(sp.__version__)) 

import IPython
from IPython import display #pretty printing of dataframes in Jupyter notebook
print("IPython version: {}". format(IPython.__version__)) 

import sklearn #collection of machine learning algorithms
print("scikit-learn version: {}". format(sklearn.__version__))
from openclean.pipeline import stream
#misc libraries
import random
import time
#ignore warnings
import warnings
warnings.filterwarnings('ignore')
print('-'*25)
import re
import os
import matplotlib.pyplot as plt
%matplotlib inline

Python version: 3.9.7 (v3.9.7:1016ef3790, Aug 30 2021, 16:39:15)
[Clang 6.0 (clang-600.0.57)]
pandas version: 1.3.4
matplotlib version: 3.4.3
NumPy version: 1.21.3
SciPy version: 1.7.1
IPython version: 7.29.0
scikit-learn version: 1.0.1
-------------------------

In [2]:
#url = 'https://data.cityofnewyork.us/api/views/qgea-i56i/rows.csv?accessType=DOWNLOAD'
fn_src = 'https://data.cityofnewyork.us/api/views/sv2w-rv3k/rows.csv?accessType=DOWNLOAD'
fn_dst = 'NYPD_Criminal_Court_Summons.csv'

from six.moves import urllib

if os.path.isfile(fn_dst):
    print('File %s has already been downloaded' % fn_dst)
else:
    print('Fetching file %s[2.4GB]. This may take a while...' % fn_dst)
    urllib.request.urlretrieve(fn_src, fn_dst)
    print('File %s has been downloaded' % fn_dst)

Fetching file NYPD_Criminal_Court_Summons.csv[2.4GB]. This may take a while...
File NYPD_Criminal_Court_Summons.csv has been downloaded

### Open a stream

In [3]:
from openclean.pipeline import stream
ds_full = stream(fn_dst)

In [4]:
print(f'The dataset contains {ds_full.count():,} rows.')

The dataset contains 5,336,264 rows.

In [5]:
ds_full.head()

,SUMMONS_KEY,SUMMONS_DATE,OFFENSE_DESCRIPTION,LAW_SECTION_NUMBER,LAW_DESCRIPTION,SUMMONS_CATEGORY_TYPE,AGE_GROUP,SEX,RACE,JURISDICTION_CODE,BORO,PRECINCT_OF_OCCUR,X_COORDINATE_CD,Y_COORDINATE_CD,Latitude,Longitude,Lon_Lat
0,192724412,01/24/2019,UNINSURED VEHICLE,319,VTL,VTL,UNKNOWN,,,0,NEW YORK,18,990060,217404,40.763406514000053,-73.979028011999958,POINT (-73.97902801199996 40.76340651400006)
1,193633599,02/15/2019,OTHER VTL,9999,VTL,VTL,UNKNOWN,,,0,BROOKLYN,78,991048,187513,40.681362236000041,-73.975491630999954,POINT (-73.97549163099997 40.68136223600004)
2,194790153,03/17/2019,MAKES UNREASONABLE NOISE,240.20(2),,,25-44,M,WHITE HISPANIC,0,BROOKLYN,72,984058,178998,40.657993066000074,-74.000693445999957,POINT (-74.00069344599996 40.657993066000074)
3,198874018,06/24/2019,OTHER SANITARY CODE,9999,ABC,OTHER ABC,UNKNOWN,,,0,QUEENS,109,1031014,217293,40.762980083000059,-73.831189714999937,POINT (-73.83118971499994 40.76298008300006)
4,191809027,01/02/2019,"MARIJUANA, POSSESSION OF",221.05,Penal Law,MARIJUANA,25-44,M,BLACK,0,BRONX,44,1003989,244111,40.836689797000076,-73.928667417999975,POINT (-73.92866741799997 40.836689797000076)
5,189573397,10/29/2018,RATES OF PEDICABS,20-260,,,25-44,M,WHITE,0,NEW YORK,14,986072,212412,40.74970647,-73.99342559,POINT (-73.99342559 40.74970647)
6,188834473,10/16/2018,OTHER TRAFFIC REG,9999,ABC,OTHER ABC,UNKNOWN,,,0,BROOKLYN,63,1005474,161744,40.61060908,-73.92356057,POINT (-73.92356057 40.61060908)
7,192166453,01/11/2019,EQUIPMENT,375,VTL,VTL,UNKNOWN,,,0,NEW YORK,1,982611,202413,40.722261709000065,-74.005914397999959,POINT (-74.00591439799996 40.722261709000065)
8,187391089,09/09/2018,PERMIT UNLICENSED,19-506(B),,,UNKNOWN,,,0,QUEENS,103,1040896,196247,40.70515635,-73.79569434,POINT (-73.79569434 40.70515635)
9,189477530,11/01/2018,RECKLESS DRIVING,1212,VTL,VTL,45-64,M,BLACK,2,BROOKLYN,77,1003508,185056,40.67459999,-73.93057482,POINT (-73.93057482 40.67459999)

### use open clean to profile the data

In [6]:
from openclean.profiling.column import DefaultColumnProfiler

#profiles = ds.profile(default_profiler=DefaultColumnProfiler)
profiles = ds_full.profile(default_profiler=DefaultColumnProfiler)

In [7]:
profiles.stats()

                         total   empty  distinct    uniqueness    entropy
SUMMONS_KEY            5336264       0   5336248  9.999970e-01  22.347392
SUMMONS_DATE           5336264       0      5479  1.026748e-03  12.132267
OFFENSE_DESCRIPTION    5336264    1833     18941  3.550707e-03   5.223593
LAW_SECTION_NUMBER     5336264   76877      6201  1.179035e-03   5.001091
LAW_DESCRIPTION        5336264   92140        27  5.148620e-06   2.213753
SUMMONS_CATEGORY_TYPE  5336264   97655        94  1.794369e-05   3.887649
AGE_GROUP              5336264   83920       222  4.226684e-05   1.885182
SEX                    5336264   76814         4  7.605358e-07   0.755284
RACE                   5336264  396655         9  1.822007e-06   0.568514
JURISDICTION_CODE      5336264       0         3  5.621911e-07   0.553216
BORO                   5336264  564609         6  1.257425e-06   2.179537
PRECINCT_OF_OCCUR      5336264       0        81  1.517916e-05   6.070633
X_COORDINATE_CD        5336264     294     55640  1.042734e-02  13.294972
Y_COORDINATE_CD        5336264     294     58985  1.105422e-02  13.408931
Latitude               5336264     294    119434  2.238281e-02  13.826578
Longitude              5336264     294    122568  2.297014e-02  13.839528
Lon_Lat                5336264     294    115595  2.166335e-02  13.809289